<div class="px-5 py-10 bg-theme-44">
    <div class="dev-container text-center">
        <!-- BEGIN: Breadcrumb -->
        <div class="breadcrumb breadcrumb--light inline-flex m-0 p-0">
            <a href="" class="">Kwayria  </a>
            <i data-feather="chevron-right" class="breadcrumb__icon"></i>
            <a href="" class="breadcrumb--active"><h2>Politique de confidentialité</h2></a>
        </div>
        <!-- END: Breadcrumb -->
    </div>
</div>
<div class="dev-section px-5">
    <div class="dev-container">
        <div class="section-body">
            <h1 class="text-4xl bordered_h1 text-theme-46 font-bold mt-4 mb-3 ">H1 - Politique de confidentialité</h1>
            <div class="bordered_div mb-5"></div>
            <h2 class="text-3xl text-theme-46 font-bold my-6 ">H2 - Politique de confidentialité</h2>
            <h3 class="text-2xl text-theme-46 font-bold my-6 ">H3 - Politique de confidentialité</h3>
            <h4 class="text-xl  text-theme-46 font-bold my-6 ">H4 - Politique de confidentialité</h4>

            <div>
                <div>
                    <p class="text-sm text-theme-46 my-10">
                        Nunc finibus vitae massa id varius. Vivamus molestie diam id aliquam laoreet. Aliquam tristique, nulla eu laoreet tincidunt, mi orci luctus lorem, varius consequat justo ex in augue. Integer ullamcorper pretium felis. Nulla dignissim mauris eu massa accumsan, eget laoreet ante posuere. Nulla posuere nibh eu velit volutpat ultricies. Nunc non nulla ultricies, ullamcorper quam ac, accumsan neque. Etiam malesuada ligula at magna semper, quis imperdiet neque facilisis. In iaculis magna id metus aliquet eleifend. Sed lacinia, lacus non blandit condimentum, mi quam luctus risus, in fringilla magna ipsum sit amet augue.
                    </p>
                </div>
                <div>
                    <p class="text-sm text-theme-46 my-10 text-center ">
                       Nunc finibus vitae massa id varius. Vivamus molestie diam id aliquam laoreet. Aliquam tristique, nulla eu laoreet tincidunt, mi orci luctus lorem, varius consequat justo ex in augue. Integer ullamcorper pretium felis. Nulla dignissim mauris eu massa accumsan, eget laoreet ante posuere. Nulla posuere nibh eu velit volutpat ultricies. Nunc non nulla ultricies, ullamcorper quam ac, accumsan neque. Etiam malesuada ligula at magna semper, quis imperdiet neque facilisis. In iaculis magna id metus aliquet eleifend. Sed lacinia, lacus non blandit condimentum, mi quam luctus risus, in fringilla magna ipsum sit amet augue.
                    </p>
                </div>
                <div>
                    <p class="text-sm text-theme-46 my-10 text-justify">
                        Nunc finibus vitae massa id varius. Vivamus molestie diam id aliquam laoreet. Aliquam tristique, nulla eu laoreet tincidunt, mi orci luctus lorem, varius consequat justo ex in augue. Integer ullamcorper pretium felis. Nulla dignissim mauris eu massa accumsan, eget laoreet ante posuere. Nulla posuere nibh eu velit volutpat ultricies. Nunc non nulla ultricies, ullamcorper quam ac, accumsan neque. Etiam malesuada ligula at magna semper, quis imperdiet neque facilisis. In iaculis magna id metus aliquet eleifend. Sed lacinia, lacus non blandit condimentum, mi quam luctus risus, in fringilla magna ipsum sit amet augue.
                    </p>
                </div>
                   <div class="my-10 grid grid-cols-2">
                    <p class="text-sm text-theme-46 text-justify col-start pr-5">
                        Nunc finibus vitae massa id varius. Vivamus molestie diam id aliquam laoreet. Aliquam tristique, nulla eu laoreet tincidunt, mi orci luctus lorem, varius consequat justo ex in augue. Integer ullamcorper pretium felis. Nulla dignissim mauris eu massa accumsan, eget laoreet ante posuere. Nulla posuere nibh eu velit volutpat ultricies. Nunc non nulla ultricies, ullamcorper quam ac, accumsan neque. Etiam malesuada ligula at magna semper, quis imperdiet neque facilisis. In iaculis magna id metus aliquet eleifend. Sed lacinia, lacus non blandit condimentum, mi quam luctus risus, in fringilla magna ipsum sit amet augue.
                    </p>
                     <p class="text-sm text-theme-46 text-justify col-end pl-5">
                        Nunc finibus vitae massa id varius. Vivamus molestie diam id aliquam laoreet. Aliquam tristique, nulla eu laoreet tincidunt, mi orci luctus lorem, varius consequat justo ex in augue. Integer ullamcorper pretium felis. Nulla dignissim mauris eu massa accumsan, eget laoreet ante posuere. Nulla posuere nibh eu velit volutpat ultricies. Nunc non nulla ultricies, ullamcorper quam ac, accumsan neque. Etiam malesuada ligula at magna semper, quis imperdiet neque facilisis. In iaculis magna id metus aliquet eleifend. Sed lacinia, lacus non blandit condimentum, mi quam luctus risus, in fringilla magna ipsum sit amet augue.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
