<div class="container">


		<div class="col-sm-12 pl-0 pr-0 mt-4">

		<div class="col-md-8 col-sm-12 d-inline-block mb-4 pl-0 ">
			<a href="" class="cours-a"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/></svg>  Retour aux types de cours</a>
			<h1 class="headings">Vos résultats de test</h1>
			<span class="card-a">
				<p class="mb-0 mt-2">Examen : Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
			</span>
			<span class="span-grey"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 25 28"><defs><style>.cls-7{fill:#fff;opacity:0;}.cls-8{fill:#9f9fd0;}</style></defs><title>calendar</title><g id="Layer_2" data-name="Layer 2"><g id="calendar"><g id="calendar-2" data-name="calendar"><rect class="cls-7" width="24" height="24"></rect><path class="cls-8" d="M18,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H6A3,3,0,0,0,3,7V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V7A3,3,0,0,0,18,4ZM6,6H7V7A1,1,0,0,0,9,7V6h6V7a1,1,0,0,0,2,0V6h1a1,1,0,0,1,1,1v4H5V7A1,1,0,0,1,6,6ZM18,20H6a1,1,0,0,1-1-1V13H19v6A1,1,0,0,1,18,20Z"></path><circle class="cls-8" cx="8" cy="16" r="1"></circle><path class="cls-8" d="M16,15H12a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Z"></path></g></g></g></svg> Examen passé le 20.08.2020</span>

			<div class="card smallCard mx-0 mb-3 mt-4">
	  			<div class="card-body py-3">
					<div class="col-sm-1 d-inline-block px-0 text-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em"><defs><style>.cls-1{fill:#fff;opacity:0;}.cls-2{fill:#12d187;}</style></defs><title>checkmark-circle-2</title><g id="Layer_2" data-name="Layer 2"><g id="checkmark-circle-2"><g id="checkmark-circle-2-2" data-name="checkmark-circle-2"><rect class="cls-1" width="24" height="24"></rect><path class="cls-2" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path><path class="cls-2" d="M14.7,8.39l-3.78,5L9.29,11.28a1,1,0,0,0-1.58,1.23l2.43,3.11a1,1,0,0,0,.79.38h0a1,1,0,0,0,.79-.39l4.57-6a1,1,0,1,0-1.6-1.22Z"></path></g></g></g></svg></div>
				<div (click)="goToExam()" class="col-sm-11 float-right">
					<span class="medium-headings">
						1. Quand pouvez-vous aller dans ce salon de coiffure ?
					</span><br>
					<span class="answers-span">
						Votre réponse: A - le dimanche à 13 heures
					</span>
				</div>
	 		 </div>
		   </div>

				<div class="card smallCard mx-0 mb-3">
	  	<div class="card-body py-3">
			<div class="col-sm-1 d-inline-block px-0 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em"><defs><style>.cls-3{fill:#fff;opacity:0;}.cls-4{fill:#ff8b13;}</style></defs><title>close-circle</title><g id="Layer_2" data-name="Layer 2"><g id="close-circle"><g id="close-circle-2" data-name="close-circle"><rect class="cls-3" width="24" height="24"></rect><path class="cls-4" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path><path class="cls-4" d="M14.71,9.29a1,1,0,0,0-1.42,0L12,10.59l-1.29-1.3a1,1,0,0,0-1.42,1.42L10.59,12l-1.3,1.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l1.29,1.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L13.41,12l1.3-1.29A1,1,0,0,0,14.71,9.29Z"></path></g></g></g></svg></div>
			<div (click)="goToExam()" class="col-sm-11 float-right">
				<span class="medium-headings">
					1. Quand pouvez-vous aller dans ce salon de coiffure ?
				</span><br>
				<span class="answers-span line-through">
					Votre réponse: A - le dimanche à 13 heures
				</span><br>
				<span class="answers-span">
					Bonne réponse : B - le samedi à 13 heures
				</span>
			</div>



	 	 </div>
		</div>

				<div class="card smallCard mx-0 mb-3">
	  	<div class="card-body py-3">
			<div class="col-sm-1 d-inline-block px-0 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em"><defs><style>.cls-1{fill:#fff;opacity:0;}.cls-2{fill:#12d187;}</style></defs><title>checkmark-circle-2</title><g id="Layer_2" data-name="Layer 2"><g id="checkmark-circle-2"><g id="checkmark-circle-2-2" data-name="checkmark-circle-2"><rect class="cls-1" width="24" height="24"></rect><path class="cls-2" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path><path class="cls-2" d="M14.7,8.39l-3.78,5L9.29,11.28a1,1,0,0,0-1.58,1.23l2.43,3.11a1,1,0,0,0,.79.38h0a1,1,0,0,0,.79-.39l4.57-6a1,1,0,1,0-1.6-1.22Z"></path></g></g></g></svg>
			</div>
			<div (click)="goToExam()" class="col-sm-11 float-right">
				<span class="medium-headings">
					1. Quand pouvez-vous aller dans ce salon de coiffure ?
				</span><br>
				<span class="answers-span">
					Votre réponse: A - le dimanche à 13 heures
				</span>
			</div>



	 	 </div>
		</div>

				<div class="card smallCard mx-0 mb-3">
	  	<div class="card-body py-3">
			<div class="col-sm-1 d-inline-block px-0 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em"><defs><style>.cls-3{fill:#fff;opacity:0;}.cls-4{fill:#ff8b13;}</style></defs><title>close-circle</title><g id="Layer_2" data-name="Layer 2"><g id="close-circle"><g id="close-circle-2" data-name="close-circle"><rect class="cls-3" width="24" height="24"></rect><path class="cls-4" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path><path class="cls-4" d="M14.71,9.29a1,1,0,0,0-1.42,0L12,10.59l-1.29-1.3a1,1,0,0,0-1.42,1.42L10.59,12l-1.3,1.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l1.29,1.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L13.41,12l1.3-1.29A1,1,0,0,0,14.71,9.29Z"></path></g></g></g></svg>
			</div>
			<div (click)="goToExam()" class="col-sm-11 float-right">
				<span class="medium-headings">
					1. Quand pouvez-vous aller dans ce salon de coiffure ?
				</span><br>
				<span class="answers-span line-through">
					Votre réponse: A - le dimanche à 13 heures
				</span><br>
					<span class="answers-span">
					Bonne réponse : B - le samedi à 13 heures
				</span>
			</div>



	 	 </div>
		</div>

				<div class="card smallCard mx-0 mb-3">
	  	<div class="card-body py-3">
			<div class="col-sm-1 d-inline-block px-0 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em"><defs><style>.cls-1{fill:#fff;opacity:0;}.cls-2{fill:#12d187;}</style></defs><title>checkmark-circle-2</title><g id="Layer_2" data-name="Layer 2"><g id="checkmark-circle-2"><g id="checkmark-circle-2-2" data-name="checkmark-circle-2"><rect class="cls-1" width="24" height="24"></rect><path class="cls-2" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path><path class="cls-2" d="M14.7,8.39l-3.78,5L9.29,11.28a1,1,0,0,0-1.58,1.23l2.43,3.11a1,1,0,0,0,.79.38h0a1,1,0,0,0,.79-.39l4.57-6a1,1,0,1,0-1.6-1.22Z"></path></g></g></g></svg>
			</div>
			<div (click)="goToExam()" class="col-sm-11 float-right">
				<span class="medium-headings">
					1. Quand pouvez-vous aller dans ce salon de coiffure ?
				</span><br>
				<span class="answers-span">
					Votre réponse: A - le dimanche à 13 heures
				</span>
			</div>




		</div>
		</div>
			</div>
		<div class="col-md-4 col-sm-12 float-right ">
			 <div class="col-sm-12">
				<div class="info">
				  <div class="card-body py-5 px-4">
					  <svg class="info-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-5{fill:#fff;opacity:0;}.cls-6{fill:#231f20;opacity:0.5;}</style></defs><title>info</title><g id="Layer_2" data-name="Layer 2"><g id="info"><g id="info-2" data-name="info"><rect class="cls-5" width="24" height="24" transform="translate(24 24) rotate(180)"/><path class="cls-6" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"/><circle class="cls-6" cx="12" cy="8" r="1"/><path class="cls-6" d="M12,10a1,1,0,0,0-1,1v5a1,1,0,0,0,2,0V11A1,1,0,0,0,12,10Z"/></g></g></g></svg>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla mauris mauris, ut placerat neque suscipit quis. Phasellus condimentum, enim in convallis commodo</p>
				  </div>
				</div>
			  </div>
		</div>
	</div>
