<div class="dev-auth-header">
    <div class="dev-container">
        <div class="nav-wrapper">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-4 md:col-span-6">
                    <a href="#" class="text-white font-lg font-bold">Connexion</a>
                </div>
                <div class="col-span-8 md:col-span-6 text-right">
                    <span class="text-white font-sm">
                        Pas encore de compte ? <a href="#/register" class="text-white font-bold">Inscrivez-vous</a>
                    </span>
                </div>
            </div>

            <div class="nav-logo">
                <a href="{{ route('public.home') }}">
                    <img alt="logo" src="./assets/theme/images/logo-k-dark.svg">
                </a>
            </div>

        </div>
    </div>
</div>
<div class="dev-container">
    <div class="inscription-wrapper">
        <div class="inscription-step">
          <br>
          <br>
            <p class="text-center mb-5">Merci de renseigner vos coordonnées de connexion</p>



            <div class="box p-5">
                <form method="POST" action="">

                    <div>
                        <label class="font-bold">Adresse e-mail</label>
                        <input id="email" type="email" class="input w-full border mt-1" name="email" value="" required autofocus placeholder="Adresse e-mail">
                    </div>
                    <div class="mt-5">
                        <label class="font-bold">Mot de passe</label>
                        <input id="password" type="password" class="input w-full border mt-1" name="password" required placeholder="Mot de passe">
                    </div>
                    <div class="mt-5">

                            <a class="block text-theme-43" href="">
                                mot de passes oublier ?
                            </a>

                    </div>
                    <div class="mt-5 text-center">
                        <button (click)="goDashboard()" class="inline-block py-3 px-10 bg-theme-43 text-white rounded-full">
                            Connexion
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
