<div class="px-5 py-10 bg-theme-44">
    <div class="dev-container text-center">
        <!-- BEGIN: Breadcrumb -->
        <div class="breadcrumb breadcrumb--light inline-flex m-0 p-0">
            <a href="" class="">Kwayria →  </a>
            <a href="" class="breadcrumb--active"><h2> Contact</h2></a>
        </div>
        <!-- END: Breadcrumb -->
    </div>
</div>
<div class="dev-section px-5">
    <div class="dev-container">
        <div class="section-body grid grid-cols-12">
            <div class="col-span-12 md:col-span-5 mt-10 ml-5">
                 <h1 class="text-4xl text-theme-46 font-bold mt-4 mb-3 ">Nous sommes à l’écoute</h1>
            <div class="bordered_div mb-5"></div>
            <div class="my-5">
                <span class="text-sm text-theme-48 leading-loose">
                    Téléphone
                </span><br>
                 <span class="text-lg text-theme-48 leading-snug">
                    +212 661 522 192
                </span>
            </div>
            <div class="my-5">
                <span class="text-sm text-theme-48 leading-loose">
                    Partenariat
                </span><br>
                 <span class="text-lg text-theme-48 leading-snug">
                    partenariat@kwayria.com
                </span>
            </div>
            <div class="my-5">
                <span class="text-sm text-theme-48 leading-loose">
                    Médias et presse
                </span><br>
                 <span class="text-lg text-theme-48 leading-snug">
                    presse@kwayria.com
                </span>
            </div>
             <div class="bordered_div mb-5"></div>

                   <div class="grid grid-cols-1 mb-2">
                        <a class="text-theme-49 font-bold col-start-1" href="#">Découvrir le concept de Kwayria </a>
                        <span  class="col-end-3 text-base">→</span>
                   </div>
                   <div class="grid grid-cols-1">
                        <a class="text-theme-49 font-bold col-start-1" href="#">Nos communiqués de presse</a>
                        <span  class="col-end-3 text-base">→</span>
                    </div>
                 </div>
            <div class="col-span-12 md:col-span-7 mt-10  ml-5 md:ml-10">

               <form action="" class="mt-5">
                    <div>
                        <label class="font-bold text-sm text-theme-50">Nom Complet</label>
                        <input type="email" class="input w-11/12 border rounded-md mt-1 py-3">
                    </div>
                    <div class="mt-5">
                        <label class="font-bold text-sm text-theme-50">Email</label>
                        <div class="relative mt-2">
                            <input type="email" class="input pr-12 w-11/12 border rounded-md col-span-4 py-3" >
                        </div>
                    </div>
                    <div class="mt-5">
                        <label class="font-bold text-sm text-theme-50">Numéro de téléphone</label>
                        <div class="relative mt-2">
                            <input type="text" class="input pr-12 w-11/12 border rounded-md col-span-4 py-3" >
                        </div>
                    </div>
                     <div class="mt-5">
                        <label class="font-bold text-sm text-theme-50">Votre message</label>
                        <div class="relative mt-2">
                            <textarea class="input pr-12 w-11/12 border rounded-md col-span-4 py-3" name="w3review" rows="6" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="mt-8">
                       <a href="#" class="inline-block py-4 w-11/12 text-center bg-theme-43 text-white rounded-full zoom-in">
                            Envoyer
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
