<!-- BEGIN: Top Bar -->
<div *ngIf="toshow" class="border-b border-theme-42 px-3 sm:px-8 pt-3 md:pt-0 bg-theme-44  md:block  hidden">
  <div class="dev-container">
    <div class="top-bar-boxed flex items-center">
      <!-- BEGIN: Logo -->
      <a href="/" class="flex logo">
        <img alt="logo" style="width: 181.6px;height: auto;" src="./assets/theme/images/logo.png">
        </a>
        <!-- END: Logo -->
        <!-- THE LANGUAGE DROPDOWN--->
        <div class="dropdown w-15 h-10 relative ml-3 cursor-pointer">
          <div class="dropdown-toggle w-15 h-10 shadow-lg image-fit lang-drop">
            <span class="flex items-center block transition duration-300 ease-in-out py-2 px-3 ">
              <svg  class="mr-3 rounded-md" width="26" height="22"
                xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-fr" viewBox="0 0 512 512">
                <g fill-rule="evenodd" stroke-width="1pt">
                  <path fill="#fff" d="M0 0h512v512H0z"/>
                  <path fill="#00267f" d="M0 0h170.7v512H0z"/>
                  <path fill="#f31830" d="M341.3 0H512v512H341.3z"/>
                </g>
              </svg>Fr

              <!--<svg class="ml-3"-->
              <!--	xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user w-4 h-4 mr-2">-->
              <!--	<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>-->
              <!--	<circle cx="12" cy="7" r="4"></circle>-->
              <!--</svg>-->
            </span>
          </div>
          <div class="dropdown-box mt-10 absolute w-40 top-0 right-0 z-20">
            <div class="dropdown-box__content box bg-theme-44 text-white">
              <div class="li-inside">
                <a class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md">
                  <svg  class="mr-2 rounded-md" width="26" height="26"
                    xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-ag" viewBox="0 0 512 512">
                    <defs>
                      <clipPath id="a">
                        <path fill="#25ff01" d="M109 47.6h464.8v464.9H109z"/>
                      </clipPath>
                    </defs>
                    <g fill-rule="evenodd" clip-path="url(#a)" transform="translate(-120 -52.4) scale(1.1014)">
                      <path fill="#fff" d="M0 47.6h693V512H0z"/>
                      <path d="M1.5 48.2h690.9v196.2H1.5z"/>
                      <path fill="#0061ff" d="M128.3 232.1h458.5v103.4H128.3z"/>
                      <path fill="#e20000" d="M692.5 49.2v463.3H347L692.5 49.2zm-691.3 0v463.3h345.7L1.2 49.2z"/>
                      <path fill="#ffd600" d="M508.8 232.2l-69.3-17.6 59-44.4-72.5 10.3 37.3-63-64.1 37.2 11.3-73.5-43.4 58-17.6-67.3-19.6 69.3-43.4-59 12.4 75.6-64.1-39.3 37.2 63-70.3-11.3 57.9 43.4-72.4 18.6h321.6z"/>
                    </g>
                  </svg> Ag

                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- THE LANGUAGE DROPDOWN END--->
        <div class="ml-auto md:flex md:items-center md:w-auto hidden" *ngIf="!isplayer">
          <div class="text-sm md:flex-grow">
            <a href="#" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Accueil
            </a>
            <a href="#" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Le Concept
            </a>
            <a href="#" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Joueurs
            </a>
            <a href="#" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Coaches
            </a>
            <a href="#/magazine" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Magazine
            </a>
            <a href="#" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Support
            </a>
            <a href="#/contact" class="block mt-4 md:inline-block md:mt-0 text-white mr-2 md:p-1">
              Contact
            </a>

            <button (click)="goLogin()" href="" class="button bg-theme-43 text-white rounded-full ">
               Connexion
            </button>

          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
<!-- END: Top Bar -->
<!-- BEGIN: Mobile Bar -->
<div class="mobile-menu md:hidden bg-theme-44 mob-0">
    <div class="mobile-menu-bar bg-theme-44">
      <a href="" class="flex mr-auto">
        <img alt="logo" style="width: 181.6px;height: auto;" src="./assets/theme/images/logo.png">
        </a>

        <a href="javascript:;" id="mobile-menu-toggler">
          <svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2 w-8 h-8 text-white transform -rotate-90">
            <line x1="18" y1="20" x2="18" y2="10"></line>
            <line x1="12" y1="20" x2="12" y2="4"></line>
            <line x1="6" y1="20" x2="6" y2="14"></line>
          </svg>
        </a>
      </div>
  <ul class="border-t border-theme-24 py-5 hidden">
    <li>
      <a href="#" class="menu menu--active">

        <div class="menu__title">
                       Accueil
                  </div>
      </a>
    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                         Le Concept
        </div>
      </a>

    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                       Joueurs
        </div>
      </a>

    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                      Coaches
                  </div>
      </a>
    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                      Magazine
                  </div>
      </a>
    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                      Support
                  </div>
      </a>
    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                      Contact
                  </div>
      </a>
    </li>
    <li>
      <a href="#" class="menu">

        <div class="menu__title">
                      Post
                  </div>
      </a>
    </li>

  <li>
        <a href="#" class="menu">

        <div class="menu__title text-theme-43">
                      Mon compte
                  </div>
      </a>

    </li>
      <li>
        <div class="menu__title">
                      <div class="dropdown w-15 h-10 relative ml-3 cursor-pointer">
            <div class="dropdown-toggle w-15 h-10 shadow-lg image-fit lang-drop">
              <span class="flex items-center block transition duration-300 ease-in-out py-2 px-3 ">
                <svg  class="mr-3 rounded-md" width="26" height="22"
                  xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-fr" viewBox="0 0 512 512">
                  <g fill-rule="evenodd" stroke-width="1pt">
                    <path fill="#fff" d="M0 0h512v512H0z"/>
                    <path fill="#00267f" d="M0 0h170.7v512H0z"/>
                    <path fill="#f31830" d="M341.3 0H512v512H341.3z"/>
                  </g>
                </svg>Fr

                <svg class="ml-3"
                  xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user w-4 h-4 mr-2">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </span>
            </div>
            <div class="dropdown-box mt-10 absolute w-40 top-0 right-0 z-20">
            <div class="dropdown-box__content box bg-theme-44 text-white">
              <div class="li-inside">
                <a class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md">
                  <svg  class="mr-2 rounded-md" width="26" height="26"
                    xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-ag" viewBox="0 0 512 512">
                    <defs>
                      <clipPath id="a">
                        <path fill="#25ff01" d="M109 47.6h464.8v464.9H109z"/>
                      </clipPath>
                    </defs>
                    <g fill-rule="evenodd" clip-path="url(#a)" transform="translate(-120 -52.4) scale(1.1014)">
                      <path fill="#fff" d="M0 47.6h693V512H0z"/>
                      <path d="M1.5 48.2h690.9v196.2H1.5z"/>
                      <path fill="#0061ff" d="M128.3 232.1h458.5v103.4H128.3z"/>
                      <path fill="#e20000" d="M692.5 49.2v463.3H347L692.5 49.2zm-691.3 0v463.3h345.7L1.2 49.2z"/>
                      <path fill="#ffd600" d="M508.8 232.2l-69.3-17.6 59-44.4-72.5 10.3 37.3-63-64.1 37.2 11.3-73.5-43.4 58-17.6-67.3-19.6 69.3-43.4-59 12.4 75.6-64.1-39.3 37.2 63-70.3-11.3 57.9 43.4-72.4 18.6h321.6z"/>
                    </g>
                  </svg> Ag

                </a>
              </div>
            </div>
          </div>
        </div>
                  </div>

    </li>
  </ul>
</div>
<!-- END: Mobile Bar -->
