<div class="dev-content">
    <div class="dev-container px-5 py-10">
        <div class="grid grid-cols-12 gap-5">
          <div class="col-span-12 sm:col-span-6">
                <p class="text-sm"><span class="text-gray-600">Accueil </span>  →  <span  class="text-gray-100"> Fiche Joueur</span></p>
                <h1 class="text-white text-xl font-semibold mt-3">Vous êtes Joueur ? <span class="text-theme-54 underline"><a href="{{ route('register') }}">Créer votre fiche</a></span></h1>
          </div>
          <div class="col-span-12 sm:col-span-6 text-right">
              <a href="#" class="inline-block py-3 px-10 bg-transparent text-white rounded-full border border-theme-43 zoom-in">
                  <svg class="text-theme-43 inline-block pr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mx-auto"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                  Envoyer un message à Player
              </a>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-4">
            <div class="dev-player-fiche mt-5 shadow-lg">
                <div class="fiche-top" style="background-image: url('https://kwayria.devaro.in//storage/images/avatars/fI8WZt2WVuPItoTXqda0LMjVATQODn9FY1AOMTT3.jpeg')">
                    <h2 class="fiche-title">
                        Ali Hamada
                    </h2>
                </div>
                <div class="fiche-content">
                    <div class="f-bloc">
                        <div class="grid grid-cols-12">
                            <div class="col-span-4">
                                <span class="player-info">
                                    12/10/2000
                                    <small>ans</small>
                                </span>
                            </div>
                            <div class="col-span-4">
                                <span class="player-info">
                                    181
                                    <small>cm</small>
                                </span>
                            </div>
                            <div class="col-span-4">
                                <span class="player-info">
                                    80
                                    <small>kg</small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="f-bloc">
                        <div class="grid grid-cols-12">
                            <div class="col-span-6">
                                <div class="player-info2">
                                    <span>Position</span>
                                    <p>Attaquant</p>
                                </div>

                            </div>
                            <div class="col-span-6">
                                <div class="player-info2">
                                    <span>Pieds</span>
                                    <p>Droite</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="f-bloc p-5">
                        <div class="player-info3">
                            <span>Date de naissance</span>
                            <p>12/10/2000</p>
                        </div>
                        <div class="player-info3">
                            <span>Lieu de naissance</span>
                            <p>Casablanca</p>
                        </div>
                        <div class="player-info3">
                            <span>Lieu de résidence</span>
                            <p>Casablanca</p>
                        </div>
                        <div class="player-info3">
                            <span>Membre depuis le</span>
                            <p>10/10/2019</p>
                        </div>
                    </div>
                    <div class="f-bloc">
                        <div class="grid grid-cols-12">
                            <div class="col-span-6">
                                <span class=" text-sm p-5 partage ">
                                   Partage
                                </span>
                            </div>
                            <div class="col-span-2 partage-cont">
                                <a href="#"class="partage-svg cursor-pointer">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mx-auto"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                                </a>
                            </div>
                            <div class="col-span-2 partage-cont">
                                <a href="#" class="partage-svg cursor-pointer">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mx-auto"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                                </a>
                            </div>
                            <div class="col-span-2 partage-cont">
                                <a href="#" class="partage-svg cursor-pointer">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link mx-auto"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="dev-pb pb-sm mt-8"></div>
        </div>
        <div class="col-span-12 lg:col-span-8">
            <div class="mt-5">
                <div class="grid grid-cols-12 gap-6">
                    <div class="col-span-12 lg:col-span-6">
                        <div class="dev-play-field">
                            <div class="pf-header text-center">
                                <div class="inline-block">
                                    <svg width="40px" height="43px" viewBox="0 0 40 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="JOUEUR-DASHBOARD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="JOUEUR-FICHE-LOGGED-IN" transform="translate(-695.000000, -254.000000)" fill="#235C42">
                                                <g id="Group-8" transform="translate(185.000000, 239.000000)">
                                                    <g id="Group-3" transform="translate(388.000000, 14.000000)">
                                                        <g id="Group-16" transform="translate(122.000000, 0.500000)">
                                                            <path d="M19,32.5 L18.8330834,32.5 C18.8283694,32.5 18.8238697,32.5003207 18.81937,32.5003207 C18.5748875,32.5009622 18.3301907,32.5012829 18.0857082,32.5028865 C18.0582816,32.5032072 18.0291408,32.4923028 18,32.5198845 C18.0124277,32.5702373 18.0428541,32.5904426 18.0664238,32.6183451 C18.3113349,32.9124439 18.5564603,33.2062219 18.8015856,33.5 C18.866081,33.1747915 18.9335762,32.8332264 19,32.5" id="Fill-1"></path>
                                                            <path d="M19.9133489,34.8431353 C19.7228728,34.7242953 19.5316159,34.6054553 19.3624772,34.5 C19.362217,34.5002028 19.362217,34.5004056 19.362217,34.5006084 C19.3505074,34.5310282 19.3393182,34.5608396 19.3281291,34.5902454 C19.3283893,34.6056581 19.3252667,34.6226932 19.3174603,34.6425674 C19.2167577,34.8976881 19.1236014,35.1544311 19.0283633,35.4105658 C19.0179547,35.438552 19.0104085,35.4669438 19,35.5 C19.0528233,35.4975664 19.0767629,35.471811 19.1053864,35.4539647 C19.319542,35.3205232 19.637783,35.122389 20,34.8970797 C19.9997398,34.8968769 19.9994796,34.8966741 19.9992194,34.8964713 C19.9705959,34.878625 19.9419724,34.8607787 19.9133489,34.8431353" id="Fill-3"></path>
                                                            <path d="M20,34.1194758 C19.9329039,33.9027492 19.8664788,33.6880781 19.8085078,33.5 L19.281401,33.5 L19.192029,33.5 L19.1906871,33.5 C19.1313741,33.6909044 19.0711218,33.8857914 19.0140902,34.0691161 C19.0093935,34.0846608 19.0046967,34.0999486 19,34.1151079 C19.1386205,34.22148 19.277241,34.327852 19.4158615,34.4340956 C19.4166667,34.4347379 19.424584,34.440776 19.4373323,34.4504111 C19.4523618,34.4618448 19.4743693,34.4786742 19.5013419,34.4993577 C19.5016103,34.4994861 19.5018787,34.4997431 19.5022813,34.5 C19.6539184,34.3839928 19.8099839,34.2647739 19.9575953,34.1519784 C19.9718196,34.1410586 19.986044,34.1302672 20,34.1194758" id="Fill-5"></path>
                                                            <path d="M20.9400104,35.329826 C20.848722,35.085844 20.7412624,34.8000014 20.6283255,34.5 C20.4235785,34.62866 20.2102243,34.7624499 20,34.8945982 C20.2157016,35.0296194 20.3972353,35.143505 20.4027126,35.1469934 C20.4136672,35.1545858 20.4222744,35.1605365 20.4295775,35.1658717 C20.5873761,35.2647778 20.7451748,35.3634786 20.9032342,35.4619743 C20.9290558,35.4777746 20.9496609,35.503835 21,35.4995258 C20.9887846,35.4658731 20.9791341,35.4344776 20.967397,35.4034925 C20.958529,35.3794842 20.9494001,35.3548603 20.9400104,35.329826" id="Fill-7"></path>
                                                            <path d="M21,32.4997969 C20.9902089,32.4796913 20.979765,32.4591795 20.9693211,32.4376523 C20.8394256,32.1766856 20.6533943,31.8174249 20.5499347,31.6019496 C20.5362272,31.5735175 20.5293734,31.5434606 20.4758486,31.5 C20.3563969,31.7516247 20.1876632,32.1060114 20,32.5 L20.0016319,32.5 C20.3211488,32.5 20.6595953,32.4997969 21,32.4997969" id="Fill-9"></path>
                                                            <path d="M21.8932705,32.501381 C21.6729533,32.501381 21.3561937,32.5010642 21,32.5010642 C21.0002143,32.5010642 21.0002143,32.5010642 21.0002143,32.501381 C21.008787,32.543835 21.0173596,32.5872394 21.0261466,32.6312775 C21.0805829,32.9034265 21.1410201,33.203139 21.2006001,33.5 C21.2010287,33.4996832 21.201243,33.4993664 21.2016717,33.4987327 C21.2293185,33.4661002 21.2565366,33.4341013 21.2831119,33.4030528 C21.2925418,33.3837268 21.3049721,33.365668 21.3214745,33.3469756 C21.5252893,33.1109441 21.7256751,32.8682594 21.9271324,32.626842 C21.9513502,32.5983281 21.9802829,32.575517 22,32.5169052 C21.9609944,32.4931436 21.9267038,32.501381 21.8932705,32.501381" id="Fill-11"></path>
                                                            <path d="M36.020824,10.2175173 L32.4092884,12.2550446 L32.4092884,8.67361259 L36.020824,5.5433881 L36.020824,10.2175173 Z M36.020824,16.6546466 L32.4092884,17.608252 L32.4092884,13.8238133 L36.020824,11.7864323 L36.020824,16.6546466 Z M36.020824,20.9834595 L32.4092884,21.2613507 L32.4092884,19.0152588 L36.020824,18.0617997 L36.020824,20.9834595 Z M36.020824,29.4088269 C36.020824,30.8519595 35.3514607,32.1734051 34.2579775,33.0522724 L34.2579775,25.0117112 L36.020824,24.8762759 L36.020824,29.4088269 Z M27.4578277,7.50500714 L29.084794,4.48681667 L35.1441199,4.48681667 L31.6620225,7.50500714 L27.4578277,7.50500714 Z M31.3029213,34.3498779 C30.4197753,34.6418099 29.595206,34.9223337 28.8247191,35.1914493 L28.8247191,25.4298643 L31.3029213,25.2391432 L31.3029213,34.3498779 Z M29.3905618,19.0350037 L31.0179775,19.0350037 L31.0179775,21.3682656 L29.1214981,21.5142316 C29.300824,20.8063405 29.397603,20.0668575 29.397603,19.3049969 C29.397603,19.2144629 29.3934082,19.1249527 29.3905618,19.0350037 L29.3905618,19.0350037 Z M31.0179775,13.9493031 L31.0179775,17.676701 L29.2470412,17.676701 C28.9950562,16.3037724 28.4310112,15.0374663 27.628015,13.9493031 L31.0179775,13.9493031 Z M27.3620974,19.0350037 C27.2416479,20.0014799 26.9264419,20.9082827 26.4546816,21.7194323 C26.3192509,21.9521296 26.1757303,22.1798541 26.0157303,22.3960241 L24.4740075,22.3960241 C24.0413483,22.3960241 23.6302622,22.2373337 23.3138577,21.9610514 C23.2262172,21.8847044 23.1445693,21.800752 23.0734082,21.7070003 L22.4921348,20.9404595 C22.1568539,20.4984663 22.0611236,19.9254255 22.235206,19.4022588 L22.3574532,19.0350037 L22.5758801,18.3787418 C22.6660674,18.1077248 22.8248689,17.8687384 23.0305618,17.676701 C23.2005993,17.5180105 23.4019476,17.3907656 23.628015,17.3090071 L24.5318352,16.9822656 C25.0783521,16.7845241 25.6898876,16.8668677 26.1613483,17.2012146 L26.8317603,17.676701 L27.4205243,18.094269 C27.420824,18.1159153 27.4221723,18.1369765 27.4221723,18.1586228 C27.4221723,18.4558201 27.3979026,18.747167 27.3620974,19.0350037 L27.3620974,19.0350037 Z M25.6719101,36.3394323 C24.6955805,36.7113677 23.8437453,37.0530276 23.1057678,37.3630956 L23.1057678,27.9642316 C24.0367041,27.6459731 24.9006742,27.1899391 25.6719101,26.6192384 L25.6719101,36.3394323 Z M22.7850187,23.5995854 L22.5570037,24.2852452 L22.3035206,25.0468133 C21.5773783,25.2789255 20.8029963,25.4061704 19.9985019,25.4061704 C19.2011985,25.4061704 18.4335581,25.2812656 17.7132584,25.0533949 L17.4576779,24.2852452 L17.2329588,23.6098235 C17.0603745,23.0913371 17.152809,22.5235616 17.4813483,22.0827384 L17.5591011,21.9784561 L18.0542322,21.3142963 C18.3514607,20.9158881 18.8094382,20.6671024 19.3072659,20.6233711 C19.3589513,20.6188371 19.4107865,20.6144493 19.4633708,20.6144493 L20.552809,20.6144493 C20.6017978,20.6144493 20.6501873,20.6188371 20.6985768,20.6227861 C21.1953558,20.6635922 21.6539326,20.9084289 21.9534082,21.3033269 L22.4996255,22.0237963 L22.5282397,22.0613847 C22.8636704,22.5035241 22.9592509,23.0764187 22.7850187,23.5995854 L22.7850187,23.5995854 Z M22.5045693,32.1023235 C22.10397,32.4164867 21.703221,32.7303575 21.3023221,33.0442282 C21.2964794,33.0515412 21.2889888,33.0588541 21.2795506,33.0663133 C21.1997004,33.1283269 21.0846442,33.2178371 20.9501124,33.3225582 C20.9501124,33.3225582 20.9499625,33.3225582 20.9499625,33.3227044 C20.9758801,33.4084119 20.9995506,33.4862214 21.019176,33.5511602 C21.1905618,34.1182044 21.3619476,34.6853949 21.5331835,35.2525854 C21.5399251,35.2745241 21.5492135,35.2961704 21.548015,35.3200105 C21.5232959,35.323082 21.5123596,35.3064085 21.4988764,35.2960241 C21.0113858,34.9160446 20.5241948,34.536065 20.0368539,34.1557929 C20.0307116,34.1509663 20.0247191,34.1455548 20.0182772,34.1407282 C20.0125843,34.136633 20.008839,34.1325378 20.0067416,34.1282963 C19.9920599,34.1168881 19.9769288,34.1051874 19.9613483,34.093048 C19.7589513,34.2508609 19.5824719,34.3886364 19.4729588,34.4744901 C19.1324345,34.7409731 18.7917603,35.0074561 18.4510861,35.2735003 C18.428015,35.2916364 18.4068914,35.3128439 18.3742322,35.3262997 C18.3692884,35.2967554 18.3788764,35.2787656 18.3844195,35.2603371 C18.5426217,34.7338065 18.7009738,34.2074221 18.8593258,33.6810378 C18.8597753,33.6709459 18.8636704,33.6583677 18.8695131,33.6384765 C18.8937828,33.5583269 18.9274906,33.4470241 18.9668914,33.3171466 C18.4570787,32.9188847 17.9471161,32.520769 17.4374532,32.1225071 C17.4205243,32.1091976 17.4002996,32.0988133 17.3878652,32.0738031 C17.4097378,32.0603473 17.4302622,32.0648813 17.449588,32.0648813 C18.0429963,32.0642963 18.6364045,32.0640037 19.2298127,32.063565 C19.24,32.063565 19.2500375,32.0631262 19.2600749,32.0638575 C19.2626217,32.0640037 19.2644195,32.06415 19.2668165,32.0642963 L19.3477154,32.0642963 C19.4028464,31.8826432 19.4509363,31.724684 19.4837453,31.6155752 C19.4859925,31.6084085 19.4882397,31.6012418 19.4903371,31.5940752 C19.6368539,31.1082044 19.7830712,30.6223337 19.9300375,30.1363167 C19.9366292,30.1143779 19.9379775,30.0898065 19.9588015,30.0696228 C19.9769288,30.085565 19.9787266,30.1079425 19.9845693,30.1275412 C20.1342322,30.6207248 20.2834457,31.1140548 20.4326592,31.6072384 C20.4644195,31.7123983 20.5402247,31.9352963 20.5806742,32.06415 C20.9174532,32.0640037 21.2268165,32.0640037 21.4259176,32.0640037 C21.771985,32.0640037 22.1179026,32.0637112 22.46397,32.0640037 C22.4852434,32.0640037 22.5074157,32.0600548 22.5274906,32.0685378 C22.5304869,32.0891602 22.5147566,32.0944255 22.5045693,32.1023235 L22.5045693,32.1023235 Z M16.7534082,21.9189289 C16.4331086,22.2129085 16.0091386,22.3830071 15.5616479,22.3830071 L13.9718352,22.3830071 C13.8064419,22.1587929 13.6582772,21.9221466 13.5195506,21.6799425 C13.0603745,20.8787384 12.7532584,19.985684 12.6347566,19.0350037 C12.5989513,18.747167 12.5748315,18.4558201 12.5748315,18.1586228 C12.5748315,18.1555514 12.5749813,18.1526262 12.5749813,18.149701 L13.2417978,17.676701 L13.8600749,17.238218 C14.3280899,16.9062112 14.9342322,16.8228439 15.4780524,17.0150276 L16.3652434,17.3288983 C16.5842697,17.4064153 16.7803745,17.5267861 16.9477154,17.676701 C17.1662921,17.8725412 17.3348315,18.1203031 17.4289139,18.4028745 L17.6395506,19.0350037 L17.7676404,19.4201024 C17.9402247,19.9385888 17.8477903,20.5065105 17.5191011,20.9471874 L16.9704869,21.6830139 C16.9059176,21.7694527 16.8319101,21.8469697 16.7534082,21.9189289 L16.7534082,21.9189289 Z M16.9459176,37.3766976 C16.1495131,37.0242146 15.2188764,36.6354595 14.1378277,36.2148201 L14.1378277,26.4731262 C14.9700375,27.1226602 15.917603,27.6363201 16.9459176,27.9813439 L16.9459176,37.3766976 Z M10.7529588,17.676701 L9.0788015,17.676701 L9.0788015,13.9493031 L12.3721348,13.9493031 C11.5689888,15.0374663 11.0050936,16.3037724 10.7529588,17.676701 L10.7529588,17.676701 Z M10.9850187,35.0557214 C10.213633,34.7868983 9.38786517,34.5091534 8.50681648,34.2233643 L8.50681648,25.2012622 L10.9850187,25.3843779 L10.9850187,35.0557214 Z M7.68749064,12.0931364 L3.97513109,9.99886088 L3.97513109,5.2716398 L7.68749064,8.48947313 L7.68749064,12.0931364 Z M7.68749064,17.4687214 L3.97513109,16.4884969 L3.97513109,11.5676296 L7.68749064,13.6620514 L7.68749064,17.4687214 Z M7.68749064,21.2489187 L3.97513109,20.9745378 L3.97513109,17.8955037 L7.68749064,18.8757282 L7.68749064,21.2489187 Z M5.55161049,32.8363949 C4.56898876,31.9622078 3.97513109,30.7149153 3.97513109,29.3566126 L3.97513109,24.8663303 L5.55161049,24.9828983 L5.55161049,32.8363949 Z M10.8714607,21.4842486 L9.0788015,21.3517384 L9.0788015,19.0350037 L10.6094382,19.0350037 C10.6067416,19.1249527 10.6025468,19.2144629 10.6025468,19.3049969 C10.6025468,20.0561806 10.6970787,20.7854255 10.8714607,21.4842486 L10.8714607,21.4842486 Z M11.1510112,4.48681667 L12.7779775,7.50500714 L8.64719101,7.50500714 L5.16524345,4.48681667 L11.1510112,4.48681667 Z M19.3072659,4.48681667 L19.3072659,7.50500714 L14.3498127,7.50500714 L12.7229963,4.48681667 L19.3072659,4.48681667 Z M13.5983521,12.5910003 L9.0788015,12.5910003 L9.0788015,8.86330986 L19.3072659,8.86330986 L19.3072659,10.1578439 C17.1072659,10.3143405 15.1183521,11.2090037 13.5983521,12.5910003 L13.5983521,12.5910003 Z M15.2566292,12.5910003 C15.9770787,12.0053813 16.8106367,11.5481772 17.7226966,11.260633 L18.9531086,12.1335037 C19.0894382,12.2301806 19.2067416,12.3461636 19.3072659,12.473701 C19.5390262,12.7676806 19.6714607,13.1299629 19.6714607,13.5099425 L19.6714607,14.4705684 C19.6714607,14.850548 19.5390262,15.212684 19.3072659,15.5068099 C19.2067416,15.634201 19.0894382,15.750184 18.9531086,15.8470071 L18.0852434,16.4624629 C17.6172285,16.7944697 17.0110861,16.8781296 16.4672659,16.6857997 L15.5537079,16.3627146 C15.0486891,16.1838405 14.6561798,15.7876262 14.4900375,15.2887384 L14.0441948,13.9493031 L14.0179775,13.8707622 C14.37603,13.3960071 14.7934082,12.967616 15.2566292,12.5910003 L15.2566292,12.5910003 Z M20.3255431,13.5099425 C20.3255431,13.1249901 20.4611236,12.7581738 20.6985768,12.4621466 C20.7971536,12.3392895 20.9116105,12.2272554 21.0438951,12.1335037 L22.2743071,11.260633 C23.1859176,11.548031 24.0187266,12.0055276 24.7385768,12.5910003 C25.2116854,12.9753677 25.6371536,13.4138507 26.0002996,13.9003065 L25.9841199,13.9493031 L25.5537079,15.2423745 C25.3889139,15.7373133 25.0013483,16.1316262 24.5014232,16.3121092 L23.5207491,16.6669323 C22.9740824,16.8645276 22.3625468,16.7823303 21.8910861,16.4479833 L21.0438951,15.8470071 C20.9116105,15.7531092 20.7971536,15.6412214 20.6985768,15.518218 C20.4611236,15.2223371 20.3255431,14.8555207 20.3255431,14.4705684 L20.3255431,13.5099425 Z M20.6985768,8.86330986 L31.0179775,8.86330986 L31.0179775,12.5910003 L26.4017978,12.5910003 C24.8829963,11.2101738 22.8961798,10.3160956 20.6985768,10.1581364 L20.6985768,8.86330986 Z M20.6985768,4.48681667 L27.512809,4.48681667 L25.8858427,7.50500714 L20.6985768,7.50500714 L20.6985768,4.48681667 Z M0,0.606432313 L0,29.3566126 C0,33.1024391 2.46097378,36.3929629 6.12389513,37.5453337 C15.5835206,40.5203779 18.6867416,42.6447827 18.7041199,42.6567759 L19.8414981,43.5001024 L21.0140824,42.6934867 C21.0420974,42.6747656 23.9469663,40.7963677 33.9351311,37.5830684 C37.5601498,36.4169493 39.9958052,33.1318371 39.9958052,29.4088269 L39.9958052,0.606432313 L0,0.606432313 Z" id="Fill-13"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="pf-body">
                                <div class="wrap">
                                    <svg width="284px" height="376px" viewBox="0 0 284 376" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                                        <title>Fill 1</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="JOUEUR-DASHBOARD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="JOUEUR-FICHE-LOGGED-IN" transform="translate(-573.000000, -308.000000)" fill="#0DC06F">
                                                <g id="Group-8" transform="translate(185.000000, 239.000000)">
                                                    <g id="Group-3" transform="translate(388.000000, 14.000000)">
                                                        <path d="M205.103452,424 L205.103452,363.290422 L78.2910973,363.290422 L78.2910973,424 L7,424 L7,246 L80.3148087,246 C82.0777038,279.29644 109.293242,305.835524 142.500398,305.835524 C175.706758,305.835524 202.923091,279.29644 204.685986,246 L278,246 L278,424 L205.103452,424 Z M85,423 L198,423 L198,370 L85,370 L85,423 Z M198,246 C196.242053,275.52438 172.026666,299 142.5,299 C112.972538,299 88.7579474,275.52438 87,246 L198,246 Z M87,240 C88.7579474,210.475978 112.972538,187 142.5,187 C172.026666,187 196.242053,210.475978 198,240 L87,240 Z M78.2910973,62 L78.2910973,122.526479 L205.103452,122.526479 L205.103452,62 L278,62 L278,240 L204.685986,240 C202.923091,206.704217 175.706758,180.165012 142.500398,180.165012 C109.293242,180.165012 82.0777038,206.704217 80.3148087,240 L7,240 L7,62 L78.2910973,62 Z M85,115 L198,115 L198,62 L85,62 L85,115 Z M0,431 L284,431 L284,55 L0,55 L0,431 Z" id="Fill-1"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <div class="pf-position">
                                        <span class="x-p-1  "><i></i></span>
                                        <span class="x-p-2   active "><i></i></span>
                                        <span class="x-p-3  "><i></i></span>
                                        <span class="x-p-4  "><i></i></span>
                                        <span class="x-p-5  "><i></i></span>
                                        <span class="x-p-6  "><i></i></span>
                                        <span class="x-p-7  "><i></i></span>
                                        <span class="x-p-8  "><i></i></span>
                                        <span class="x-p-9  "><i></i></span>
                                        <span class="x-p-10 "><i></i></span>
                                        <span class="x-p-11 "><i></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-span-12 lg:col-span-6">
                        <div class="dev-pb pb-lg">

                        </div>
                    </div>
                </div>
            </div>
           <div class="box px-5 pt-6 mt-5">
                 <div>

                <h2 class="dev-tailed-title mb-5">
                    <span>
                        Videos
                    </span>
                </h2>

                <div class="dev-video-gallery">
                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 lg:col-span-8">
                            <div class="vg-item lg-item items-center justify-center" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">
                                <button class="button relative z-10 rounded-full px-2 bg-theme-43 text-white">
                                    <span class="w-10 h-10 flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play w-7 h-7"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-span-12 lg:col-span-4">
                            <div class="vg-item items-center justify-center mb-5" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">
                                <button class="button relative z-10 rounded-full px-2 bg-theme-43 text-white">
                                    <span class="w-10 h-10 flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play w-7 h-7"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                                    </span>
                                </button>
                            </div>
                            <div class="vg-item items-center justify-center mb-5" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">
                                <button class="button relative z-10 rounded-full px-2 bg-theme-43 text-white">
                                    <span class="w-10 h-10 flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play w-7 h-7"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <h2 class="dev-tailed-title mb-5">
                    <span>
                        Photos
                    </span>
                </h2>
                <div class="dev-photos-gallery">

                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 lg:col-span-3">
                            <div class="pg-item items-center justify-center mb-5" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">

                            </div>
                        </div>
                        <div class="col-span-12 lg:col-span-3">
                            <div class="pg-item items-center justify-center mb-5" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">

                            </div>
                        </div>
                        <div class="col-span-12 lg:col-span-3">
                            <div class="pg-item items-center justify-center mb-5" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">

                            </div>
                        </div>
                        <div class="col-span-12 lg:col-span-3">
                            <div class="pg-item more items-center justify-center mb-5" style="background-image: url(http://1ee3ee0312fd4e76a2cfc54fb2490a65.vfs.cloud9.us-west-2.amazonaws.com/assets/frontend/theme/images/profile-8.jpg)">
                                <span class="text-white relative z-2">
                                    +12
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>


            </div>
        </div>
        <div class="dev-section">
            <div class="text-center my-20">
                <h1 class="inline-block lg:w-5/12 text-theme-43 text-2xl md:text-4xl font-bold leading-tight">
                Rejoignez la plus grande communauté
                de Kwayria au Maroc
                </h1>
            </div>
            <div class="section-body py-20">
                <div class="dev-container">
                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 sm:col-span-5 flex text-center md:text-left">
                            <div class="md:w-8/12">
                                <h1 class="text-white text-2xl md:text-5xl font-light leading-tight">
                                    Vous êtes
                                    <span class="block font-bold">Joueur ?</span>
                                </h1>
                                <p class="text-white mt-8 text-md">
                                    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse,.
                                </p>
                                <div class="mt-8">
                                    <a href="#" class="inline-block py-3 px-10 bg-theme-43 text-white rounded-full zoom-in">
                                        Inscription Joueur
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-7">
                            <img src="https://kwayria.devaro.in//storage/images/avatars/fI8WZt2WVuPItoTXqda0LMjVATQODn9FY1AOMTT3.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dev-section">
                    <div class="section-body py-20 ">
                        <div class="dev-container">
                            <div class="grid grid-cols-12 gap-5">
                                <div class="col-span-12 sm:col-span-6">
                                    <img class="" src="https://kwayria.devaro.in//storage/images/avatars/fI8WZt2WVuPItoTXqda0LMjVATQODn9FY1AOMTT3.jpeg">
                                </div>
                                <div class="col-span-12 sm:col-span-6 flex text-center md:text-left">
                                    <div class="md:w-7/12">
                                        <h1 class="text-white text-2xl md:text-5xl font-light leading-tight">
                                            Vous êtes
                                            <span class="block font-bold">Coach ?</span>
                                        </h1>
                                        <p class="text-white mt-8 text-md">
                                            Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse,.
                                        </p>
                                        <div class="mt-8">
                                            <a href="#" class=" inline-block py-3 px-10 bg-theme-43 text-white rounded-full zoom-in">
                                                Inscription Coach
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
