<div class="dev-container">
    
    <!-- BEGIN: Top Menu -->
    <nav class="top-nav">
        <ul>
            <li>
                <a href="/#/dashboard-coach" class="top-menu ">
                    <div class="top-menu__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                    </div>
                    <div class="top-menu__title">
                        Dashboard
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kwayria.devaro.in/coach/search" class="top-menu ">
                    <div class="top-menu__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </div>
                    <div class="top-menu__title">
                        Recherche
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kwayria.devaro.in/chat" class="top-menu ">
                    <div class="top-menu__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    </div>
                    <div class="top-menu__title">
                        Messagerie
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kwayria.devaro.in/coach/fiche" class="top-menu ">
                    <div class="top-menu__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    </div>
                    <div class="top-menu__title">
                        Ma fiche coach
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kwayria.devaro.in/coach/favs" class="top-menu ">
                    <div class="top-menu__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    </div>
                    <div class="top-menu__title">
                        Mes favoris
                    </div>
                </a>
            </li>
        </ul>
    </nav>            <!-- END: Top Menu -->
    
    <!-- BEGIN: Content -->
    <div class="content">
        
       <meta name="csrf-token" content="j47Cnvdmf4qo9ydfH9P6euGvJIEqy4FxAyQpkoJs">
       <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-bold text-theme-44 mr-auto">Ma fiche coach</h2>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <!-- BEGIN: Profile Menu -->
        <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
            <div class="intro-y box mt-5">
                <div class="relative flex items-center p-5">
                    <div class="w-12 h-12 image-fit">
                        <img class="rounded-full" src="https://kwayria.devaro.in/assets/shared/avatar-placeholder.png">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium text-base">coach kwayria</div>
                    </div>
                </div>
                <div class="p-5 border-t border-gray-200">
                    <a class="flex items-center text-theme-1 font-medium" href="https://kwayria.devaro.in/coach/fiche/infos">
                        Informations techniques
                    </a>
                </div>
            </div>
        </div>        <!-- END: Profile Menu -->
        
        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
            <!-- BEGIN: Display Information -->
            
            
            <div class="intro-y box lg:mt-5">
                <div class="p-5">
                    <label for="" class="block font-bold mb-3 mt-5">Diplôme et certificats</label>
                    <div id="cards-contain" class=" grid grid-cols-12 gap-5">
                     
                        <div class="box p-5 rounded bg-gray-200 mb-5 col-span-12">
                            
                            <div class="grid grid-cols-12 ">
                                <div class="col-span-12 xl:col-span-6">
                                    <div class="mb-5 mr-2">
                                        <label class="font-bold">Titre</label>
                                        <input type="text" class="input w-full border" placeholder="Titre" name="titre" id="titre" value="" required="">
                                    </div>
                                </div>
                                <div class="col-span-12 xl:col-span-6">
                                    <div class="mb-5 mr-2">
                                        <label class="font-bold">Periode</label>
                                        <input type="text" class="input w-full border" placeholder="Periode" name="periode" id="periode" value="" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-12">
                                <div class="col-span-12 mr-2">
                                    <div>
                                        <label class="font-bold">Description</label>
                                        <textarea class="input w-full border" rows="4" placeholder="Description" name="description" id="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-5">
                                <div class="col-span-12">
                                    <div>
                                        <a href="#" type="button" content="" id="add-achievement" class="button border border-theme-43 text-theme-43">Ajouter</a>
                                        <a href="#" type="button" id="update-achievement" class=" hidden button border border-theme-43 text-white bg-theme-43 ml-2">update</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Display Information -->
            </div>
        </div>
    </div>
    
    <!-- END: Content -->
    
</div>


</div>