<div class="dev-auth-header">
        <div class="dev-container">
            <div class="nav-wrapper">
                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-4 md:col-span-6">
                        <a href="#" class="text-white font-lg font-bold">Inscription</a>
                    </div>
                    <div class="col-span-8 md:col-span-6 text-right">
                        <span class="text-white font-sm">
                            Vous avez déjà un compte ? <a href="#" class="text-white font-bold">Connectez-vous</a>
                        </span>
                    </div>
                </div>

                <div class="nav-logo">
                    <a href="{{ route('public.home') }}">
                        <img alt="logo" src="./assets/theme/images/logo-k-dark.svg">
                    </a>
                </div>

            </div>
        </div>
    </div>
		<div class="dev-container">
		        <div class="inscription-wrapper" >
		            <form method="POST" action="#" id="register-form">
		                <div class="inscription-step" *ngIf="step == 1">
											<br>
											<br>
		                    <p class="text-center mb-5">Séléctionnez le type de votre compte</p>
		                        <label class="block box p-5 cursor-pointer dev-check" for="r1">
		                            <div class="flex items-center">
		                                <div class="w-1/12">
		                                    <input type="radio" class="input border mr-2" id="r1" name="register_type" value="player">
		                                </div>
		                                <div class="w-8/12">
		                                    <p class="text-xs text-gray-500">Je suis</p>
		                                    <p class="text-lg font-semibold text-theme-44">Joueur</p>
		                                </div>
		                                <div class="w-3/12 text-right">
		                                    <svg class="inline-block" width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.12" class="svg-op">
		                                            <g transform="translate(-899.000000, -293.000000)" fill="#000000" fill-rule="nonzero" class="svg-fillable">
		                                                <g transform="translate(899.000000, 293.000000)">
		                                                    <path d="M55.3985059,44.3683757 L46.5707183,24.7968854 C46.2791975,24.1506962 45.9608751,23.5185308 45.6190466,22.8995127 C45.6156415,22.8930486 45.6120167,22.8866941 45.6085018,22.88023 C44.3985914,20.6930692 42.8794755,18.6800003 41.0722439,16.8773977 L39.5328073,15.3420136 C39.1037641,14.914179 38.4084638,14.914179 37.9793109,15.3420136 L35.9867757,17.3294452 C35.0743176,18.2395662 33.5895823,18.2397853 32.6769045,17.3298835 L26.4599531,11.1314853 C25.7335675,10.4070697 25.255425,9.48062421 25.0996689,8.54026448 L25.0996689,6.73426543 L25.1426172,5.93951191 C25.1634872,5.5528721 25.1452534,5.16601316 25.094067,4.78276973 C25.0939571,4.78123588 25.0936276,4.7798116 25.0934079,4.77838731 C24.8986579,3.32889887 24.2032478,1.93451947 23.0971381,0.831133377 C22.6063637,0.341725603 21.9685108,0.0483219716 21.3010006,0.00526460527 C20.5910913,-0.0402030971 19.904798,0.21047185 19.4199551,0.693963345 L11.6108429,8.48318334 C11.6106232,8.48340246 11.6105133,8.48351202 11.6102936,8.48373115 L8.28757098,11.7979432 C6.27515439,13.8053149 6.24231161,17.1113098 8.07239036,19.5579105 L6.96353465,20.663926 C5.67882178,21.9454579 5.67882178,24.0306176 6.96353465,25.3122591 L7.20639547,25.5544978 C7.84886175,26.195209 8.69266854,26.5155645 9.53647533,26.5155645 C10.380392,26.5155645 11.2241988,26.195209 11.866665,25.5544978 L12.9229064,24.5009619 L14.2674832,25.8420947 C14.4561919,26.0302105 14.7070712,26.1434963 14.9733283,26.1606973 C16.4601506,26.2566725 17.9615819,26.9588472 19.0927356,28.0869941 L22.3160511,31.3019441 C22.8090224,31.7937622 23.1155916,32.4417043 23.157002,33.0794573 C23.2331226,34.2534005 23.7566299,35.3802326 24.6309728,36.252336 L27.5581542,39.1720199 L26.5386001,40.1889626 C25.2538872,41.4704944 25.2538872,43.5556542 26.5384902,44.837186 L26.7812412,45.0793153 C26.781351,45.0793153 26.781351,45.0793153 26.781351,45.0793153 C27.4239272,45.7202455 28.2675143,46.0404915 29.1115407,46.0404915 C29.9552377,46.0404915 30.7992642,45.7200264 31.4416206,45.0794248 L32.4611747,44.0625917 L37.5295076,49.1179428 L36.5099535,50.134776 C35.2252406,51.4163078 35.2252406,53.5014676 36.5099535,54.783109 L36.7528143,55.0253478 C37.3952806,55.6660589 38.2390874,55.9864145 39.0828941,55.9864145 C39.9268108,55.9864145 40.7706176,55.6660589 41.4130839,55.0252382 L42.4334069,54.0075286 C43.6271705,55.1811431 45.1572705,55.8840847 46.748992,55.9868527 C46.8849765,55.9956176 47.0199724,56 47.1539797,56 C48.658157,56 50.0309633,55.4503338 51.0541421,54.4298852 L54.3768648,51.1156732 C56.0798563,49.4166054 56.4809995,46.7681939 55.3985059,44.3683757 Z M49.4437475,36.5072839 L44.3483935,36.5072839 L43.1720948,33.9735824 L48.3009506,33.9735824 L49.4437475,36.5072839 Z M44.5671989,25.6958312 L45.1745157,27.042223 L39.8763933,27.042223 L38.7000945,24.5085215 L43.9904182,24.5085215 C44.1928572,24.8987769 44.3860694,25.2941815 44.5671989,25.6958312 Z M10.3131686,24.00509 C9.88500423,24.4321577 9.18805628,24.4322673 8.75978205,24.00509 L8.51692123,23.7628512 C8.08864699,23.3356739 8.08864699,22.6406207 8.51692123,22.2134434 L9.53636549,21.1965007 L11.3327227,22.9881473 L10.3131686,24.00509 Z M29.8881242,43.5297979 C29.4600696,43.9568656 28.7631217,43.9570847 28.3347376,43.5297979 L28.0919866,43.2875591 C27.6637124,42.8603818 27.6637124,42.1653286 28.0919866,41.7381513 L29.1114309,40.7212086 L30.2471979,41.8540665 L30.9076783,42.5129648 L29.8881242,43.5297979 Z M39.8594776,53.4757208 C39.4312034,53.9030077 38.7343653,53.9028981 38.306091,53.4757208 L38.0632302,53.233482 C37.634956,52.8063048 37.634956,52.1112515 38.0632302,51.6840742 L39.0827843,50.6672411 L40.8790317,52.4588877 L39.8594776,53.4757208 Z M49.500426,52.8802583 C48.8393965,53.5394852 47.9132081,53.8659761 46.8905784,53.8001301 C45.8150049,53.7306686 44.7700772,53.2410417 43.9484585,52.4215275 L33.2383074,41.7388086 C33.2380877,41.7385895 33.2379778,41.7383704 33.2377582,41.7382608 L29.8881242,38.3972064 C29.8879045,38.3969873 29.8877947,38.3968777 29.887575,38.3966586 L26.1842495,34.7028187 C25.6945736,34.2143969 25.3902012,33.5710563 25.3491203,32.9377953 C25.2725603,31.759141 24.746966,30.6279265 23.869218,29.7523171 L20.6459024,26.5373671 C19.2268527,25.1220616 17.4277494,24.2354962 15.5402233,24.0127593 L10.2939463,18.7799197 C8.66740486,17.1575445 8.46419703,14.7204756 9.84084771,13.3474606 L10.1073246,13.0816662 C10.2798865,14.4871113 10.9356436,15.8903651 12.0632823,17.0151155 L17.590096,22.5277731 C17.7788047,22.7158889 18.029684,22.8291747 18.2959412,22.8463757 C19.7827634,22.9423509 21.2841947,23.6445256 22.4153484,24.7726725 L25.638664,27.987732 C26.1316352,28.4794406 26.4382044,29.1273827 26.4796149,29.7652453 C26.5557354,30.9390789 27.0792427,32.065911 27.9535856,32.9380144 L45.7177946,50.6568328 C46.8688297,51.8048101 48.3067723,52.468529 49.7448247,52.6364856 L49.500426,52.8802583 Z M52.8233684,49.5657175 C52.8232586,49.5658271 52.8231487,49.5659367 52.8230389,49.5659367 L52.8221601,49.5668131 C51.4181588,50.9660132 48.9281489,50.760039 47.2711812,49.1072059 L29.507082,31.3886066 C29.0174061,30.9001849 28.7130337,30.2569539 28.6719528,29.6236928 C28.5953928,28.4450385 28.0697985,27.313824 27.1920505,26.4383242 L23.9687349,23.2232646 C22.5496852,21.8079591 20.7505819,20.9213937 18.8630558,20.6986568 L13.6166689,15.4658173 C11.9901275,13.843442 11.7869197,11.4063731 13.1635704,10.0333581 L20.9733417,2.24359029 C21.025297,2.1916585 21.1117427,2.18902905 21.1589748,2.19198719 C21.2917738,2.20053292 21.4319323,2.26933706 21.5435319,2.38065076 C22.2745308,3.10988697 22.7530029,4.04465911 22.9027176,4.99137336 L22.9027176,6.67619825 L22.8550462,7.55838123 C22.834286,7.94359675 22.8520805,8.3290314 22.9027176,8.7109601 L22.9027176,15.7767506 C22.9027176,16.3818545 23.3945904,16.8723579 24.0011384,16.8723579 C24.6076863,16.8723579 25.0995591,16.3818545 25.0995591,15.7767506 L25.0995591,12.8735009 L31.1239573,18.8797296 C32.8932934,20.6435477 35.7717049,20.6429999 37.5402721,18.8788531 L38.7560041,17.6661254 L39.5186376,18.4268055 C40.7220674,19.6271528 41.7867666,20.9280769 42.7043872,22.3171974 L36.9808464,22.3171974 C36.6060653,22.3171974 36.2569872,22.5078331 36.0552073,22.8229297 C35.8534274,23.1380264 35.8266259,23.5339789 35.9841395,23.8731789 L38.1776856,28.5980949 C38.3574971,28.985392 38.7464479,29.233328 39.1743926,29.233328 L46.1627649,29.233328 L47.3124818,31.7822583 L41.4528467,31.7822583 C41.0780655,31.7822583 40.7289874,31.972894 40.5272075,32.2879906 C40.3254277,32.6030873 40.2986262,32.9990398 40.4561397,33.3382398 L42.6497957,38.0631558 C42.8296072,38.4504529 43.2186678,38.6983889 43.6465027,38.6983889 L50.4321065,38.6983889 L53.3950964,45.2673215 C54.0996234,46.8292192 53.8751062,48.5163449 52.8233684,49.5657175 Z" id="Shape"></path>
		                                                    <path d="M30.6811016,49.8459656 C30.2559037,49.4035439 29.5666586,49.4035439 29.141134,49.8458524 C26.7304092,52.3535885 23.5253646,53.7346557 20.1161597,53.7346557 L7.97259598,53.7346557 C4.77724223,53.7346557 2.17760102,51.0304009 2.17760102,47.7064612 L2.17760102,44.7251548 C2.17760102,42.9655486 2.83635827,41.3111677 4.03246544,40.0669273 L4.92521762,39.1382494 C8.56591304,35.3510468 13.4065266,33.2653443 18.5552862,33.2653443 L19.9143949,33.2653443 C20.5156606,33.2653443 21.0032499,32.758247 21.0032499,32.1326722 C21.0032499,31.5070973 20.5156606,31 19.9143949,31 L18.5553951,31 C15.7237189,31 12.9615116,31.5715464 10.3455376,32.6987817 C7.72945467,33.826017 5.3877632,35.4535536 3.38546783,37.5364245 L2.49271565,38.4651024 C0.885130193,40.1372663 0,42.3604752 0,44.7251548 L0,47.7064612 C0,52.2795118 3.57656187,56 7.97270486,56 L20.1162686,56 C24.1070309,56 27.8590073,54.383337 30.6811016,51.4477906 C31.1062995,51.0054821 31.1062995,50.2882741 30.6811016,49.8459656 Z" id="Path"></path>
		                                                    <path d="M16,36 C14.3458,36 13,37.3458 13,39 C13,40.6542 14.3458,42 16,42 C17.6542,42 19,40.6542 19,39 C19,37.3458 17.6542,36 16,36 Z M16,40 C15.4486,40 15,39.5514 15,39 C15,38.4486 15.4486,38 16,38 C16.5514,38 17,38.4486 17,39 C17,39.5514 16.5514,40 16,40 Z" id="Shape"></path>
		                                                    <path d="M9,45 C7.3458,45 6,46.3458 6,48 C6,49.6542 7.3458,51 9,51 C10.6542,51 12,49.6542 12,48 C12,46.3458 10.6542,45 9,45 Z M9,49 C8.4486,49 8,48.5514 8,48 C8,47.4486 8.4486,47 9,47 C9.5514,47 10,47.4486 10,48 C10,48.5514 9.5514,49 9,49 Z" id="Shape"></path>
		                                                    <path d="M21,47 C19.3458,47 18,48.3458 18,50 C18,51.6542 19.3458,53 21,53 C22.6542,53 24,51.6542 24,50 C24,48.3458 22.6542,47 21,47 Z M21,51 C20.4486,51 20,50.5514 20,50 C20,49.4486 20.4486,49 21,49 C21.5514,49 22,49.4486 22,50 C22,50.5514 21.5514,51 21,51 Z" id="Shape"></path>
		                                                    <path d="M49.4809596,21.0393254 C48.8577841,20.8789546 48.2129422,21.223565 48.0419525,21.8093918 C47.8709628,22.3952185 48.2381222,23.0005142 48.8620003,23.1611051 C51.6855554,23.8878338 53.6576755,26.3185859 53.6576755,29.0722796 C53.6576755,30.2239143 53.3159304,31.3458506 52.6694488,32.3166555 C52.3264154,32.8317563 52.4929546,33.5104178 53.0414099,33.8324795 C53.2345346,33.9458831 53.4490915,34 53.6613061,34 C54.0515374,34 54.4332191,33.8167504 54.6553886,33.4831393 C55.5350486,32.1621143 56,30.6369408 56,29.0721696 C56,25.3305119 53.3190925,22.0272894 49.4809596,21.0393254 Z" id="Path"></path>
		                                                    <path d="M24.707,19.293 C24.521,19.107 24.263,19 24,19 C23.737,19 23.479,19.107 23.293,19.293 C23.1071,19.479 23,19.737 23,20 C23,20.263 23.107,20.521 23.293,20.707 C23.479,20.893 23.737,21 24,21 C24.263,21 24.521,20.893 24.707,20.707 C24.8929,20.521 25,20.263 25,20 C25,19.737 24.893,19.479 24.707,19.293 Z" id="Path"></path>
		                                                    <path d="M33.0088215,48 L32.9911785,48 C32.4438497,48 32,48.4477 32,49 C32,49.5523 32.4438497,50 32.9911785,50 L33.0088215,50 C33.5561503,50 34,49.5523 34,49 C34,48.4477 33.5562494,48 33.0088215,48 Z" id="Path"></path>
		                                                </g>
		                                            </g>
		                                        </g>
		                                    </svg>
		                                </div>
		                            </div>
		                        </label>
		                        <label class="block box p-5 cursor-pointer mt-5 dev-check" for="r2">
		                            <div class="flex items-center">
		                                <div class="w-1/12">
		                                    <input type="radio" class="input border mr-2" id="r2" name="register_type" value="coach">
		                                </div>
		                                <div class="w-8/12">
		                                    <p class="text-xs text-gray-500">Je suis</p>
		                                    <p class="text-lg font-semibold text-theme-44">Coach</p>
		                                </div>
		                                <div class="w-3/12 text-right">
		                                    <svg class="inline-block" width="44px" height="57px" viewBox="0 0 44 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.12" class="svg-op">
		                                            <g transform="translate(-905.000000, -440.000000)" fill="#000000" fill-rule="nonzero" class="svg-fillable">
		                                                <g transform="translate(905.000000, 440.000000)">
		                                                    <path d="M8,25.3513514 C5.794412,25.3513514 4,27.1457633 4,29.3513514 C4,31.5569394 5.794412,33.3513514 8,33.3513514 C10.205588,33.3513514 12,31.5569394 12,29.3513514 C12,27.1457633 10.205588,25.3513514 8,25.3513514 Z M8,31.1578277 C7.00392092,31.1578277 6.19352362,30.3474304 6.19352362,29.3513514 C6.19352362,28.3552723 7.00392092,27.544875 8,27.544875 C8.99607908,27.544875 9.80647638,28.3552723 9.80647638,29.3513514 C9.80647638,30.3474304 8.99607908,31.1578277 8,31.1578277 Z" id="Shape"></path>
		                                                    <path d="M29.0000548,16.3513514 C26.7943874,16.3513514 25,18.1457633 25,20.3513514 C25,22.5569394 26.7943874,24.3513514 29.0000548,24.3513514 C31.2057223,24.3513514 33,22.5569394 33,20.3513514 C33,18.1457633 31.2057223,16.3513514 29.0000548,16.3513514 Z M29.0000548,22.1578277 C28.0039894,22.1578277 27.1934935,21.3474304 27.1934935,20.3513514 C27.1934935,19.3552723 28.0039894,18.544875 29.0000548,18.544875 C29.9961203,18.544875 30.8065065,19.3552723 30.8065065,20.3513514 C30.8065065,21.3474304 29.9961203,22.1578277 29.0000548,22.1578277 Z" id="Shape"></path>
		                                                    <path d="M35.9999452,31.3513514 C33.7943874,31.3513514 32,33.1457633 32,35.3513514 C32,37.5569394 33.7942777,39.3513514 35.9999452,39.3513514 C38.2056126,39.3513514 40,37.5569394 40,35.3513514 C39.9998903,33.1457633 38.2055029,31.3513514 35.9999452,31.3513514 Z M35.9999452,37.1578277 C35.0038797,37.1578277 34.1934935,36.3474304 34.1934935,35.3513514 C34.1934935,34.3552723 35.0038797,33.544875 35.9999452,33.544875 C36.9960106,33.544875 37.8065065,34.3552723 37.8065065,35.3513514 C37.8065065,36.3474304 36.9960106,37.1578277 35.9999452,37.1578277 Z" id="Shape"></path>
		                                                    <path d="M26,43.3513514 C23.794412,43.3513514 22,45.1457633 22,47.3513514 C22,49.5569394 23.7943023,51.3513514 26,51.3513514 C28.2056977,51.3513514 30,49.5569394 30,47.3513514 C30,45.1457633 28.2056977,43.3513514 26,43.3513514 Z M26,49.1578277 C25.0039209,49.1578277 24.1935236,48.3474304 24.1935236,47.3513514 C24.1935236,46.3552723 25.0039209,45.544875 26,45.544875 C26.9960791,45.544875 27.8064764,46.3552723 27.8064764,47.3513514 C27.8064764,48.3474304 26.9960791,49.1578277 26,49.1578277 Z" id="Shape"></path>
		                                                    <path d="M8.00005484,38.3513514 C5.79449707,38.3513514 4,40.1457633 4,42.3513514 C4,44.5569394 5.7943874,46.3513514 8.00005484,46.3513514 C10.2057223,46.3513514 12,44.5569394 12,42.3513514 C12,40.1457633 10.2057223,38.3513514 8.00005484,38.3513514 Z M8.00005484,44.1579374 C7.00398942,44.1579374 6.19349355,43.3475401 6.19349355,42.351461 C6.19349355,41.355382 7.00398942,40.5449846 8.00005484,40.5449846 C8.99612026,40.5449846 9.80650645,41.355382 9.80650645,42.351461 C9.80650645,43.3475401 8.99612026,44.1579374 8.00005484,44.1579374 Z" id="Shape"></path>
		                                                    <path d="M29.9527021,35.0920168 C29.7785388,34.5397202 29.1750679,34.2285435 28.6047453,34.3972021 L18.7648981,37.3054906 C18.1945755,37.4740446 17.8732426,38.0584418 18.0472979,38.6107385 C18.1892847,39.0614008 18.6170807,39.3513514 19.0796445,39.3513514 C19.1840561,39.3513514 19.2901953,39.3366081 19.3952547,39.3055532 L29.2351019,36.3972647 C29.8054245,36.2287107 30.1267574,35.6443135 29.9527021,35.0920168 Z" id="Path"></path>
		                                                    <path d="M15.707,39.6443514 C15.5211,39.4583514 15.2631,39.3513514 15,39.3513514 C14.737,39.3513514 14.479,39.4583514 14.2931,39.6443514 C14.1061,39.8303514 14,40.0883514 14,40.3513514 C14,40.6143514 14.1061,40.8723514 14.2931,41.0583514 C14.479,41.2443514 14.7361,41.3513514 15,41.3513514 C15.2631,41.3513514 15.5211,41.2443514 15.707,41.0583514 C15.893,40.8723514 16,40.6143514 16,40.3513514 C16,40.0883514 15.8931,39.8303514 15.707,39.6443514 Z" id="Path"></path>
		                                                    <path d="M42.9108911,9.22024198 L36.2544752,9.22024198 L25.2105842,2.9542576 C24.8984455,1.4693826 23.5838911,0.351351351 22.0138317,0.351351351 C20.4437723,0.351351351 19.1292178,1.4693826 18.8170792,2.9542576 L7.77307921,9.22024198 L1.08910891,9.22024198 C0.48770297,9.22024198 0,9.70991385 0,10.313992 L0,14.688992 L0,55.2576014 C0,55.8616795 0.48770297,56.3513514 1.08910891,56.3513514 L42.9108911,56.3513514 C43.512297,56.3513514 44,55.8616795 44,55.2576014 L44,14.688992 L44,10.313992 C44,9.70991385 43.512297,9.22024198 42.9108911,9.22024198 Z M22.0138317,2.53885135 C22.6143663,2.53885135 23.1029406,3.0295076 23.1029406,3.63260135 C23.1029406,4.2356951 22.6143663,4.72635135 22.0138317,4.72635135 C21.413297,4.72635135 20.9247228,4.2356951 20.9247228,3.63260135 C20.9247228,3.0295076 21.413297,2.53885135 22.0138317,2.53885135 Z M19.1792079,5.26130448 C19.7433663,6.24764823 20.802198,6.91385135 22.0138317,6.91385135 C23.2254653,6.91385135 24.284297,6.24764823 24.8484554,5.26130448 L31.8262673,9.22024198 L12.201396,9.22024198 L19.1792079,5.26130448 Z M41.8217822,13.595242 L13.8861386,13.595242 C13.2847327,13.595242 12.7970297,14.0849139 12.7970297,14.688992 C12.7970297,15.2930701 13.2847327,15.782742 13.8861386,15.782742 L18.3669505,15.782742 C18.3513762,15.7966326 18.3353663,15.8100857 18.3205545,15.8249607 L14.6073465,19.5538826 C14.1820495,19.980992 14.1820495,20.6735545 14.6073465,21.1006639 C15.0327525,21.5278826 15.7221584,21.5278826 16.1476733,21.1006639 L18.0015545,19.2388826 L18.0015545,23.4537576 C18.0015545,23.8044139 18.1689505,24.1338514 18.4517921,24.3395857 L28.3769505,31.5596482 C28.5699406,31.7000857 28.7934257,31.7676795 29.0149505,31.7676795 C29.3522475,31.7676795 29.6847525,31.6108357 29.8977822,31.3155232 C30.2506535,30.8262889 30.1417426,30.1424764 29.6546931,29.7881014 L20.1797723,22.8955076 L20.1797723,19.238992 L22.0335446,21.1007732 C22.2462475,21.3143826 22.5249505,21.4211326 22.8036535,21.4211326 C23.0823564,21.4211326 23.3610594,21.3142732 23.5737624,21.1007732 C23.9990594,20.6736639 23.9990594,19.9811014 23.5737624,19.553992 L19.8606634,15.8250701 C19.8458515,15.8101951 19.8298416,15.796742 19.8141584,15.7828514 L41.8217822,15.7828514 L41.8217822,54.1638514 L21.3270396,54.1638514 L14.6173663,47.4256951 C14.1919604,46.9985857 13.5025545,46.9985857 13.0770396,47.4256951 C12.6517426,47.8528045 12.6517426,48.545367 13.0770396,48.9724764 L18.246495,54.1638514 L2.17821782,54.1638514 L2.17821782,15.782742 L5.17642574,15.782742 C5.77783168,15.782742 6.26553465,15.2930701 6.26553465,14.688992 C6.26553465,14.0849139 5.77783168,13.595242 5.17642574,13.595242 L2.17821782,13.595242 L2.17821782,11.407742 L8.05711881,11.407742 C8.05820792,11.407742 8.05929703,11.407742 8.06038614,11.407742 C8.06147525,11.407742 8.06267327,11.407742 8.06376238,11.407742 L35.963901,11.407742 C35.9649901,11.407742 35.9661881,11.407742 35.9672772,11.407742 C35.9683663,11.407742 35.9694554,11.407742 35.9705446,11.407742 L41.8217822,11.407742 L41.8217822,13.595242 Z" id="Shape"></path>
		                                                    <path d="M10.7069,13.6443514 C10.521,13.4573514 10.2639,13.3513514 10,13.3513514 C9.737,13.3513514 9.479,13.4573514 9.293,13.6443514 C9.107,13.8303514 9,14.0873514 9,14.3513514 C9,14.6143514 9.1069,14.8723514 9.293,15.0583514 C9.479,15.2443514 9.737,15.3513514 10,15.3513514 C10.264,15.3513514 10.521,15.2443514 10.7069,15.0583514 C10.8939,14.8713514 11,14.6143514 11,14.3513514 C11,14.0873514 10.8939,13.8303514 10.7069,13.6443514 Z" id="Path"></path>
		                                                </g>
		                                            </g>
		                                        </g>
		                                    </svg>
		                                </div>
		                            </div>
		                        </label>
		                        <div class="mt-10">
		                            <div class="grid grid-cols-12 gap-5">
		                                <div class="col-span-6">
		                                    <a href="#" class="button border border-gray-500 text-gray-500 rounded-full">
		                                        <span class="mr-2 align-middle">←</span>
		                                        Annuler
		                                    </a>
		                                </div>
		                                <div class="col-span-6 text-right">
		                                    <button (click)="nextStep()" class="button bg-theme-43 text-white rounded-full next-step">
		                                        Suivant
		                                        <span class="ml-2 align-middle">→</span>
		                                    </button>
		                                </div>
		                            </div>
		                        </div>
		                </div>
		                <div class="inscription-step" *ngIf="step == 2">
                      <br>
                      <br>
		                    <p class="text-center mb-5">Merci de renseigner vos coordonnées de connexion</p>

		                        <div>
		                            <label class="font-bold">Adresse e-mail</label>
		                            <input type="email" class="input w-full border mt-1" placeholder="Adresse e-mail" name="email">
		                        </div>
		                        <div class="mt-5">
		                            <label class="font-bold">Choisissez votre mot de passe</label>
		                            <div class="relative mt-2">
		                                <input type="password" class="input pr-12 w-full border col-span-4" placeholder="Choisissez votre mot de passe" name="password">
		                            </div>
		                        </div>
		                        <div class="mt-5">
		                            <label class="font-bold">Répetez votre mot de passe</label>
		                            <div class="relative mt-2">
		                                <input type="password" class="input pr-12 w-full border col-span-4" placeholder="Répetez votre mot de passe" name="password_confirm">
		                            </div>
		                        </div>
		                        <div class="mt-10">
		                            <div class="grid grid-cols-12 gap-5">
		                                <div class="col-span-6">
		                                    <button (click)="prevStep()" class="button border border-gray-500 text-gray-500 rounded-full prev-step">
		                                        <span class="mr-2 align-middle">←</span>
		                                        Retour
		                                    </button>
		                                </div>
		                                <div class="col-span-6 text-right">
		                                    <button (click)="nextStep()" class="button bg-theme-43 text-white rounded-full" id="send-register-form">
		                                        Suivant
		                                        <span class="ml-2 align-middle">→</span>
		                                    </button>
		                                </div>
		                            </div>
		                        </div>

		                </div>
                    <div class="inscription-step" *ngIf="step == 3">
                      <br>
                      <br>
                      <div class="rounded-md px-5 py-4 mb-2 bg-theme-43 text-white mb-5">
             <div class="grid grid-cols-12 gap-3">
                 <div class="col-span-12 md:col-span-2">
                     <div class="flex h-full items-center justify-center">
                         <svg width="49px" height="38px" viewBox="0 0 49 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                             <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <g transform="translate(-512.000000, -209.000000)">
                                     <g id="Group-9" transform="translate(468.000000, 170.000000)">
                                         <g id="Group-10" transform="translate(45.000000, 43.000000)">
                                             <g id="email" transform="translate(0.000000, 3.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF">
                                                 <path d="M36.2499739,0 L3.75002609,0 C1.68213452,0 0,1.68213218 0,3.75002087 L0,26.2499791 C0,28.3178678 1.68213452,30 3.75002609,30 L36.2499739,30 C38.3178655,30 40,28.3178678 40,26.2499791 L40,3.75002087 C40,1.68213218 38.3178655,0 36.2499739,0 Z M36.2499739,2.49998608 C36.4198072,2.49998608 36.5813743,2.53522185 36.7290808,2.5967592 L20,17.0959437 L3.27083568,2.5967592 C3.41854222,2.53530535 3.5801093,2.49998608 3.7499426,2.49998608 L36.2499739,2.49998608 Z M36.2499739,27.4999304 L3.75002609,27.4999304 C3.06033925,27.4999304 2.49998956,26.939665 2.49998956,26.2498956 L2.49998956,5.23802234 L19.1808925,19.6947903 C19.4165216,19.8986067 19.7082608,19.9999722 20,19.9999722 C20.2917392,19.9999722 20.5834784,19.8986902 20.8191075,19.6947903 L37.5000104,5.23802234 L37.5000104,26.2499791 C37.5000104,26.939665 36.9396608,27.4999304 36.2499739,27.4999304 L36.2499739,27.4999304 Z" id="Shape"></path>
                                             </g>
                                             <circle id="Oval" stroke="#01D374" stroke-width="4" fill="#FF013E" cx="39" cy="5" r="7"></circle>
                                         </g>
                                     </g>
                                 </g>
                             </g>
                         </svg>
                     </div>
                 </div>
                 <div class="col-span-12 md:col-span-10">
                     <div class="">
                         <div class="font-medium text-md">Félicittion! Votre compte a été créé. </div>
                     </div>
                     <div class="mt-1 text-xs">Nous vous avons envoyé un e-mail de confirmation à l’adresse mehdi.bou…. avec un lien de confirmation. Merci de cliquer sur le lien pour valider votre compte</div>
                 </div>
             </div>
         </div>
             <p class="text-center mb-5">Renseignez vos informations personelles</p>
             <form action="" class="">
                 <div>
                     <label class="font-bold">Prénom</label>
                     <input type="text" class="input w-full border mt-1" placeholder="Prénom">
                 </div>
                 <div class="mt-5">
                     <label class="font-bold">Nom de famille</label>
                     <input type="text" class="input w-full border mt-1" placeholder="Nom de famille">
                 </div>
                 <div class="mt-5">
                     <label class="font-bold">Date de naissance</label>
                     <div class="mt-1">
                         <div class="grid grid-cols-12 gap-5">
                             <div class="col-span-4">
                                 <select class="input border mr-2 w-full">
                                     <option>Jour</option>
                                     @for($i = 1; $i <= 31; $i++ )
                                         <option>{{ $i }}</option>
                                     @endfor
                                 </select>
                             </div>
                             <div class="col-span-4">
                                 <select class="input border mr-2 w-full">
                                     <option>Mois</option>
                                     @for($i = 1; $i <= 12; $i++ )
                                         <option>{{ $i }}</option>
                                     @endfor
                                 </select>
                             </div>
                             <div class="col-span-4">
                                 <select class="input border mr-2 w-full">
                                     <option>Année</option>
                                     @for($i = 1960; $i <= 2020; $i++ )
                                         <option>{{ $i }}</option>
                                     @endfor
                                 </select>
                             </div>
                         </div>
                     </div>

                 </div>
                 <div class="mt-5">
                     <label class="font-bold">Nationalité</label>
                     <input type="text" class="input w-full border mt-1" placeholder="Nationalité">
                 </div>
                 <div class="mt-5">
                     <label class="font-bold">Lieu de naissance</label>
                     <select class="input border mt-1 w-full">
                         <option>Séléctionnez une ville …</option>
                     </select>
                 </div>
                 <div class="mt-5">
                     <label class="font-bold">Lieu de résidence actuel</label>
                     <select class="input border mt-1 w-full">
                         <option>Séléctionnez une ville …</option>
                     </select>
                 </div>

             </form>
                           <div class="mt-10">
                               <div class="grid grid-cols-12 gap-5">
                                   <div class="col-span-6">
                                       <button (click)="prevStep()" class="button border border-gray-500 text-gray-500 rounded-full prev-step">
                                           <span class="mr-2 align-middle">←</span>
                                           Retour
                                       </button>
                                   </div>
                                   <div class="col-span-6 text-right">
                                       <button (click)="nextStep()" class="button bg-theme-43 text-white rounded-full" id="send-register-form">
                                           Suivant
                                           <span class="ml-2 align-middle">→</span>
                                       </button>
                                   </div>
                               </div>
                           </div>

                   </div>
                   <div class="inscription-step" *ngIf="step == 4">
                     <br>
                     <br>
                     <p class="text-center text-xs font-semibold">Créons votre fiche technique Kwayria!</p>
               <p class="text-center mb-5">Uploadez votre photo de profil principale</p>
               <form action="" class="">

                   <div class="dev-card mt-5 md:w-3/4 m-auto">
                       <div class="card-preview">
                           <span class="img" style="background-image: url('./assets/theme/images/profile-8.jpg')"></span>
                       </div>
                       <div class="card-content">
                           <a href="#" class="block text-center text-theme-43">
                               Uploder une photo
                           </a>
                       </div>
                       <div class="card-infos">
                           <p class="mt-5">
                               <span>
                                   <i data-feather="help-circle" class="text-theme-43 w-4 h-4 mr-2"></i>
                               </span>
                               Les dimensions de la photo doivent être supérieure à 800 x 800 pixels
                           </p>

                           <p class="mt-5">
                               <span>
                                   <i data-feather="help-circle" class="text-theme-43 w-4 h-4 mr-2"></i>
                               </span>
                               Prenez une photo claire idéalement en situation de jeu
                           </p>

                           <p class="mt-5">
                               <span>
                                   <i data-feather="help-circle" class="text-theme-43 w-4 h-4 mr-2"></i>
                               </span>
                               La taille de la photo ne doit pas dépasser 4 Mo
                           </p>
                       </div>
                   </div>

               </form>
                          <div class="mt-10">
                              <div class="grid grid-cols-12 gap-5">
                                  <div class="col-span-6">
                                      <button (click)="prevStep()" class="button border border-gray-500 text-gray-500 rounded-full prev-step">
                                          <span class="mr-2 align-middle">←</span>
                                          Retour
                                      </button>
                                  </div>
                                  <div class="col-span-6 text-right">
                                      <button (click)="nextStep()" class="button bg-theme-43 text-white rounded-full" id="send-register-form">
                                          Suivant
                                          <span class="ml-2 align-middle">→</span>
                                      </button>
                                  </div>
                              </div>
                          </div>

                  </div>
                  <div class="inscription-step" *ngIf="step == 5">
                    <br>
                    <br>
                    <p class="text-center text-xs font-semibold">Créons votre fiche technique Kwayria!</p>
                 <p class="text-center mb-5">Renseignez vos informations techniques</p>
                 <form action="" class="">
                     <div class="">
                         <div class="box p-5">
                             <div class="grid grid-cols-12 gap-5">
                                 <div class="col-span-9 md:col-span-10">
                                     <label class="font-bold">Votre taille en centimètre</label>
                                     <div class="relative mt-2">
                                         <input type="number" class="input pr-12 w-full border col-span-4" placeholder="Votre taille en centimètre">
                                         <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600">cm</div>
                                     </div>
                                 </div>
                                 <div class="col-span-3 md:col-span-2 text-right">
                                     <svg class="inline-block" width="40px" height="81px" viewBox="0 0 53 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                         <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                             <g transform="translate(-892.000000, -313.000000)" fill="#01D374">
                                                 <g transform="translate(892.000000, 313.000000)">
                                                     <path d="M29.1199436,29.2908976 C29.1199436,29.5686973 28.8807961,29.7947533 28.5865027,29.7947533 L25.7094522,29.7947533 C25.4153408,29.7947533 25.1760113,29.5686973 25.1760113,29.2908976 L25.1760113,26.8527583 C25.1760113,26.3631707 24.7545001,25.9648651 24.2359831,25.9648651 C23.7174661,25.9648651 23.2959549,26.3631707 23.2959549,26.8527583 L23.2959549,40.5888874 C23.2959549,40.8666871 23.0568074,41.0925712 22.7625139,41.0925712 L8.23748606,41.0925712 C7.94337463,41.0925712 7.70404509,40.8666871 7.70404509,40.5888874 L7.70404509,26.8527583 C7.70404509,26.3631707 7.2825339,25.9648651 6.76401691,25.9648651 C6.24549991,25.9648651 5.82398873,26.3631707 5.82398873,26.8527583 L5.82398873,29.2908976 C5.82398873,29.5686973 5.58484119,29.7947533 5.29054776,29.7947533 L2.41349733,29.7947533 C2.1193859,29.7947533 1.88005636,29.5686973 1.88005636,29.2908976 L1.88005636,24.1187692 C1.88005636,21.5659688 4.07879411,19.4891754 6.78148887,19.4891754 L9.65890331,19.4891754 C9.95301474,19.4891754 10.1919803,19.7150596 10.1919803,19.9926874 C10.2003523,22.747649 12.5816356,24.9901595 15.5,24.9901595 C18.4183644,24.9901595 20.7996477,22.747649 20.8080197,19.9911402 C20.8080197,19.7150596 21.0471673,19.4891754 21.3410967,19.4891754 L24.2185111,19.4891754 C26.9212059,19.4891754 29.1199436,21.5659688 29.1199436,24.1187692 L29.1199436,29.2908976 Z M29.1199436,44.7146254 C29.1199436,45.7507014 28.2275994,46.5935553 27.1305055,46.5935553 L25.7094522,46.5935553 C25.4153408,46.5935553 25.1760113,46.3676711 25.1760113,46.0898714 L25.1760113,32.0740517 C25.1760113,31.7964239 25.4153408,31.5705398 25.7094522,31.5705398 L28.5865027,31.5705398 C28.8807961,31.5705398 29.1199436,31.7964239 29.1199436,32.0740517 L29.1199436,44.7146254 Z M26.2079493,76.3781177 L26.2079493,77.7205297 C26.2079493,77.9983294 25.9688017,78.2242136 25.6745083,78.2242136 L16.9734691,78.2242136 C16.6793577,78.2242136 16.4400282,77.9983294 16.4400282,77.7205297 L16.4400282,75.0028717 C16.4400282,74.725072 16.6793577,74.4990159 16.9734691,74.4990159 L24.2185111,74.4990159 C25.315605,74.4990159 26.2079493,75.3420418 26.2079493,76.3781177 L26.2079493,76.3781177 Z M23.2959549,58.1224145 L23.2959549,72.2195457 C23.2959549,72.4973454 23.0568074,72.7232295 22.7625139,72.7232295 L16.9734691,72.7232295 C16.6793577,72.7232295 16.4400282,72.4973454 16.4400282,72.2195457 L16.4400282,58.1224145 C16.4400282,57.8446148 16.6793577,57.6185588 16.9734691,57.6185588 L22.7625139,57.6185588 C23.0568074,57.6185588 23.2959549,57.8446148 23.2959549,58.1224145 L23.2959549,58.1224145 Z M14.5599718,55.3389166 C14.5599718,55.6168882 14.3208243,55.8427724 14.0265309,55.8427724 L8.23748606,55.8427724 C7.94337463,55.8427724 7.70404509,55.6168882 7.70404509,55.3389166 L7.70404509,43.3722134 C7.70404509,43.0944137 7.94337463,42.8683577 8.23748606,42.8683577 L22.7625139,42.8683577 C23.0568074,42.8683577 23.2959549,43.0944137 23.2959549,43.3722134 L23.2959549,55.3389166 C23.2959549,55.6168882 23.0568074,55.8427724 22.7625139,55.8427724 L16.9734691,55.8427724 C16.6793577,55.8427724 16.4400282,55.6168882 16.4400282,55.3389166 L16.4400282,49.3440473 L14.5599718,49.3440473 L14.5599718,55.3389166 Z M14.5599718,72.2195457 C14.5599718,72.4973454 14.3208243,72.7232295 14.0265309,72.7232295 L8.23748606,72.7232295 C7.94337463,72.7232295 7.70404509,72.4973454 7.70404509,72.2195457 L7.70404509,58.1224145 C7.70404509,57.8446148 7.94337463,57.6185588 8.23748606,57.6185588 L14.0265309,57.6185588 C14.3208243,57.6185588 14.5599718,57.8446148 14.5599718,58.1224145 L14.5599718,72.2195457 Z M14.5599718,77.7205297 C14.5599718,77.9983294 14.3208243,78.2242136 14.0265309,78.2242136 L5.32549169,78.2242136 C5.03138026,78.2242136 4.79205073,77.9983294 4.79205073,77.7205297 L4.79205073,76.3781177 C4.79205073,75.3420418 5.684395,74.4990159 6.78148887,74.4990159 L14.0265309,74.4990159 C14.3208243,74.4990159 14.5599718,74.725072 14.5599718,75.0028717 L14.5599718,77.7205297 Z M5.29054776,46.5935553 L3.86949451,46.5935553 C2.77240063,46.5935553 1.88005636,45.7507014 1.88005636,44.7146254 L1.88005636,32.0740517 C1.88005636,31.7964239 2.1193859,31.5705398 2.41349733,31.5705398 L5.29054776,31.5705398 C5.58484119,31.5705398 5.82398873,31.7964239 5.82398873,32.0740517 L5.82398873,46.0898714 C5.82398873,46.3676711 5.58484119,46.5935553 5.29054776,46.5935553 L5.29054776,46.5935553 Z M18.9279634,19.9935469 C18.9164974,21.7708805 17.3786004,23.2142012 15.5,23.2142012 C13.6213996,23.2142012 12.0836846,21.7708805 12.0720366,19.9966412 C12.0720366,19.7155753 12.3115482,19.4891754 12.6060236,19.4891754 L18.3939764,19.4891754 C18.6884518,19.4891754 18.9279634,19.7155753 18.9279634,19.9935469 L18.9279634,19.9935469 Z M9.16004227,11.7250522 L9.16058827,9.51675089 C9.300182,6.29764379 12.0820466,3.77595832 15.493994,3.77595832 C18.8162156,3.77595832 21.5496683,6.20206419 21.8132038,9.27694237 L21.8339517,9.27694237 L21.8399577,9.76429518 L21.8399577,11.5935443 C21.8399577,13.3052098 21.0915752,14.9500041 19.7868197,16.1060703 C18.60819,17.1505696 17.1005049,17.713389 15.504186,17.713389 C15.3671403,17.713389 15.2297305,17.7094352 15.0914108,17.7010118 C11.7655492,17.500054 9.16004227,14.8752251 9.16004227,11.7250522 L9.16004227,11.7250522 Z M24.2185111,17.7132171 L22.0430693,17.7132171 C21.8341337,17.7132171 21.6433981,17.5971807 21.5573123,17.4173673 C21.4714084,17.2375539 21.5048964,17.0255941 21.6430341,16.8774114 C22.9829155,15.4528284 23.7200141,13.6235793 23.7200141,11.7250522 L23.7200141,9.7082539 L23.7067281,9.50076366 C23.5574884,5.29474563 19.9498914,2 15.493994,2 C11.0774086,2 7.47072154,5.26345879 7.2828979,9.42976658 L7.27889391,9.57262026 L7.27998591,9.68900046 L7.27998591,11.7250522 C7.27998591,13.6234074 8.01708448,15.4526565 9.35532789,16.8755204 C9.49401162,17.0218122 9.52931956,17.2342877 9.44377972,17.4153045 C9.35805789,17.5964931 9.16714026,17.7132171 8.95711266,17.7132171 L6.78148887,17.7132171 C3.04212411,17.7132171 0,20.5867937 0,24.1187692 L0,44.7146254 C0,46.7298766 1.73573064,48.3693417 3.86949451,48.3693417 L5.29054776,48.3693417 C5.58484119,48.3693417 5.82398873,48.5953978 5.82398873,48.8731975 L5.82398873,72.4612452 C5.82398873,72.671314 5.683667,72.860926 5.4750954,72.9336422 C3.94011037,73.4524537 2.91199436,74.8294188 2.91199436,76.3616148 L2.91199436,79.0957757 C2.91199436,79.5944743 3.34133153,80 3.86949451,80 L27.1305055,80 C27.6586685,80 28.0880056,79.5944743 28.0880056,79.0957757 L28.0880056,76.3616148 C28.0880056,74.8294188 27.0598896,73.4524537 25.5294546,72.9351893 C25.316333,72.860926 25.1760113,72.6711421 25.1760113,72.4612452 L25.1760113,48.8731975 C25.1760113,48.5953978 25.4153408,48.3693417 25.7094522,48.3693417 L27.1305055,48.3693417 C29.2642694,48.3693417 31,46.7298766 31,44.7146254 L31,24.1187692 C31,20.5867937 27.9578759,17.7132171 24.2185111,17.7132171 L24.2185111,17.7132171 Z" id="Fill-1"></path>
                                                     <path d="M52.3025098,23.7798894 C52.6878354,23.7798894 53,23.4510094 53,23.0454368 C53,22.6396915 52.6878354,22.3109842 52.3025098,22.3109842 L47.3949804,22.3109842 L47.3949804,20.8669523 L50.1814965,20.8669523 C50.5668221,20.8669523 50.8789867,20.5378995 50.8789867,20.1324997 C50.8789867,19.7267543 50.5668221,19.3980471 50.1814965,19.3980471 L47.3949804,19.3980471 L47.3949804,18.0509173 L50.1814965,18.0509173 C50.5668221,18.0509173 50.8789867,17.72221 50.8789867,17.3164647 C50.8789867,16.9108921 50.5668221,16.5820121 50.1814965,16.5820121 L47.3949804,16.5820121 L47.3949804,15.235055 L50.1814965,15.235055 C50.5668221,15.235055 50.8789867,14.9063478 50.8789867,14.5006024 C50.8789867,14.0952026 50.5668221,13.7661498 50.1814965,13.7661498 L47.3949804,13.7661498 L47.3949804,12.4191928 L50.1814965,12.4191928 C50.5668221,12.4191928 50.8789867,12.0904855 50.8789867,11.6849129 C50.8789867,11.2793403 50.5668221,10.9504603 50.1814965,10.9504603 L47.3949804,10.9504603 L47.3949804,9.50625564 L52.3025098,9.50625564 C52.6878354,9.50625564 53,9.17754837 53,8.77180304 C53,8.36640316 52.6878354,8.03735043 52.3025098,8.03735043 L47.3949804,8.03735043 L47.3949804,7.26420607 L50.1814965,7.26420607 C50.5668221,7.26420607 50.8789867,6.93532607 50.8789867,6.52975346 C50.8789867,6.12418086 50.5668221,5.79530086 50.1814965,5.79530086 L47.3949804,5.79530086 L47.3949804,4.44834381 L50.1814965,4.44834381 C50.5668221,4.44834381 50.8789867,4.11963654 50.8789867,3.71389121 C50.8789867,3.3083186 50.5668221,2.9794386 50.1814965,2.9794386 L47.3949804,2.9794386 L47.3949804,0.734452602 C47.3949804,0.328707268 47.0828158,0 46.6974902,0 C46.3121646,0 46,0.328707268 46,0.734452602 L46,80.2430924 C46,80.5999548 46.2419563,80.8968795 46.5623228,80.9632083 C46.6282661,80.9849724 46.6969981,81 46.769667,81 L52.3025098,81 C52.6878354,81 53,80.67112 53,80.2655474 C53,79.8598021 52.6878354,79.5310948 52.3025098,79.5310948 L47.3949804,79.5310948 L47.3949804,77.9607964 L50.1814965,77.9607964 C50.5668221,77.9607964 50.8789867,77.6320892 50.8789867,77.2263438 C50.8789867,76.8205985 50.5668221,76.4918912 50.1814965,76.4918912 L47.3949804,76.4918912 L47.3949804,75.1449342 L50.1814965,75.1449342 C50.5668221,75.1449342 50.8789867,74.8162269 50.8789867,74.4104816 C50.8789867,74.004909 50.5668221,73.676029 50.1814965,73.676029 L47.3949804,73.676029 L47.3949804,72.3288992 L50.1814965,72.3288992 C50.5668221,72.3288992 50.8789867,72.0001919 50.8789867,71.5944466 C50.8789867,71.188874 50.5668221,70.859994 50.1814965,70.859994 L47.3949804,70.859994 L47.3949804,69.5132097 L50.1814965,69.5132097 C50.5668221,69.5132097 50.8789867,69.1843297 50.8789867,68.7787571 C50.8789867,68.3730117 50.5668221,68.0443045 50.1814965,68.0443045 L47.3949804,68.0443045 L47.3949804,66.6000998 L52.3025098,66.6000998 C52.6878354,66.6000998 53,66.2713925 53,65.8656472 C53,65.4600746 52.6878354,65.1311946 52.3025098,65.1311946 L47.3949804,65.1311946 L47.3949804,63.6873354 L50.1814965,63.6873354 C50.5668221,63.6873354 50.8789867,63.3586281 50.8789867,62.9528828 C50.8789867,62.5471375 50.5668221,62.2184302 50.1814965,62.2184302 L47.3949804,62.2184302 L47.3949804,60.8713004 L50.1814965,60.8713004 C50.5668221,60.8713004 50.8789867,60.5425931 50.8789867,60.1368478 C50.8789867,59.7312752 50.5668221,59.4023952 50.1814965,59.4023952 L47.3949804,59.4023952 L47.3949804,58.0556109 L50.1814965,58.0556109 C50.5668221,58.0556109 50.8789867,57.7267309 50.8789867,57.3211583 C50.8789867,56.9154129 50.5668221,56.5867057 50.1814965,56.5867057 L47.3949804,56.5867057 L47.3949804,55.2397486 L50.1814965,55.2397486 C50.5668221,55.2397486 50.8789867,54.9110414 50.8789867,54.505296 C50.8789867,54.0995507 50.5668221,53.7708434 50.1814965,53.7708434 L47.3949804,53.7708434 L47.3949804,52.3268115 L52.3025098,52.3268115 C52.6878354,52.3268115 53,51.9979315 53,51.5923589 C53,51.1866136 52.6878354,50.8579063 52.3025098,50.8579063 L47.3949804,50.8579063 L47.3949804,49.4137016 L50.1814965,49.4137016 C50.5668221,49.4137016 50.8789867,49.0849944 50.8789867,48.679249 C50.8789867,48.2736764 50.5668221,47.9447964 50.1814965,47.9447964 L47.3949804,47.9447964 L47.3949804,46.5980121 L50.1814965,46.5980121 C50.5668221,46.5980121 50.8789867,46.2691321 50.8789867,45.8635595 C50.8789867,45.4578142 50.5668221,45.1291069 50.1814965,45.1291069 L47.3949804,45.1291069 L47.3949804,43.7821498 L50.1814965,43.7821498 C50.5668221,43.7821498 50.8789867,43.4532698 50.8789867,43.0476972 C50.8789867,42.6419519 50.5668221,42.3132446 50.1814965,42.3132446 L47.3949804,42.3132446 L47.3949804,40.9662876 L50.1814965,40.9662876 C50.5668221,40.9662876 50.8789867,40.6375803 50.8789867,40.231835 C50.8789867,39.8260896 50.5668221,39.4973824 50.1814965,39.4973824 L47.3949804,39.4973824 L47.3949804,38.0533505 L52.3025098,38.0533505 C52.6878354,38.0533505 53,37.7244705 53,37.3188978 C53,36.9131525 52.6878354,36.5844452 52.3025098,36.5844452 L47.3949804,36.5844452 L47.3949804,35.1404133 L50.1814965,35.1404133 C50.5668221,35.1404133 50.8789867,34.8115333 50.8789867,34.4059607 C50.8789867,34.0002154 50.5668221,33.6715081 50.1814965,33.6715081 L47.3949804,33.6715081 L47.3949804,32.3245511 L50.1814965,32.3245511 C50.5668221,32.3245511 50.8789867,31.9956711 50.8789867,31.5900985 C50.8789867,31.1843531 50.5668221,30.8556459 50.1814965,30.8556459 L47.3949804,30.8556459 L47.3949804,29.5085161 L50.1814965,29.5085161 C50.5668221,29.5085161 50.8789867,29.1798088 50.8789867,28.7740635 C50.8789867,28.3683181 50.5668221,28.0396109 50.1814965,28.0396109 L47.3949804,28.0396109 L47.3949804,26.6926538 L50.1814965,26.6926538 C50.5668221,26.6926538 50.8789867,26.3639465 50.8789867,25.9582012 C50.8789867,25.5526286 50.5668221,25.2237486 50.1814965,25.2237486 L47.3949804,25.2237486 L47.3949804,23.7798894 L52.3025098,23.7798894 Z" id="Fill-5"></path>
                                                 </g>
                                             </g>
                                         </g>
                                     </svg>
                                 </div>
                             </div>
                         </div>
                         <div class="box p-5 mt-5">
                             <div class="grid grid-cols-12 gap-5">
                                 <div class="col-span-9 md:col-span-10">
                                     <label class="font-bold">Poids en Kilogramme</label>
                                     <div class="relative mt-2">
                                         <input type="text" class="input pr-12 w-full border col-span-4" placeholder="Poids en Kilogramme">
                                         <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600">kg</div>
                                     </div>
                                 </div>
                                 <div class="col-span-3 md:col-span-2 text-right">
                                     <svg class="inline-block" width="40px" height="62px" viewBox="0 0 58 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                         <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                             <g transform="translate(-890.000000, -496.000000)" fill="#01D374" fill-rule="nonzero" stroke="#FFFFFF">
                                                 <g transform="translate(891.000000, 496.000000)">
                                                     <path d="M55.8354425,47.890403 L51.4556052,22.7320046 C50.54899,17.524778 46.1089888,13.7453639 40.8984051,13.7453639 L34.702104,13.7453639 C35.6389744,12.3939577 36.1913041,10.7492311 36.1913041,8.97501238 C36.1914196,4.39157488 32.5165735,0.66255144 28.0000106,0.66255144 C23.4834478,0.66255144 19.8087172,4.39157488 19.8087172,8.97512957 C19.8087172,10.7493483 20.3610469,12.3940749 21.2979173,13.7454811 L15.1016161,13.7454811 C9.89103245,13.7454811 5.45103128,17.5248952 4.54441605,22.7321218 L0.164578754,47.890403 C-0.388212881,51.0660671 0.466090966,54.3041921 2.50819819,56.7748561 C4.55042089,59.2456374 7.54406416,60.6625514 10.7218943,60.6625514 L45.2783579,60.6625514 C48.4561881,60.6625514 51.4498314,59.2455202 53.4919386,56.7749733 C55.5341613,54.3043093 56.3881187,51.0660671 55.8354425,47.890403 Z M28.0000106,4.204778 C30.5920226,4.204778 32.7007604,6.34473894 32.7007604,8.97512957 C32.7007604,11.6055202 30.5919071,13.7454811 28.0000106,13.7454811 C25.4081142,13.7454811 23.2992609,11.6055202 23.2992609,8.97512957 C23.2992609,6.34473894 25.4079987,4.204778 28.0000106,4.204778 Z M50.8175911,54.4984889 C49.4402888,56.164778 47.4213926,57.1203249 45.2783579,57.1203249 L10.7218943,57.1203249 C8.57885962,57.1203249 6.55984793,56.164778 5.18266117,54.4984889 C3.8054744,52.8321999 3.2292408,50.6482936 3.60211821,48.5066921 L7.98195551,23.3484108 C8.5934098,19.836653 11.5877459,17.2875905 15.1017316,17.2875905 L40.8986361,17.2875905 C44.4127373,17.2875905 47.4070734,19.8364186 48.0184122,23.3481764 L52.3982495,48.5065749 C52.7710114,50.6482936 52.1946624,52.8321999 50.8175911,54.4984889 Z" id="Shape"></path>
                                                     <path d="M22.2984101,37.1624935 L26.5253639,32.6301469 C27.173252,31.9356156 27.1556179,30.8275157 26.4861893,30.1552205 C25.8166491,29.4826937 24.7487776,29.5012238 24.1008895,30.1957551 L19.3737058,35.2645481 L19.3737058,31.412951 C19.3737058,30.4462589 18.6184502,29.6625514 17.6868529,29.6625514 C16.7552556,29.6625514 16,30.4462589 16,31.412951 L16,42.9121519 C16,43.878844 16.7552556,44.6625514 17.6868529,44.6625514 C18.6184502,44.6625514 19.3737058,43.878844 19.3737058,42.9121519 L19.3737058,39.0605548 L24.1008895,44.1293478 C24.4316975,44.4841992 24.8722168,44.6625514 25.3132941,44.6625514 C25.7356212,44.6625514 26.1586179,44.4989075 26.4861893,44.1699982 C27.1556179,43.497703 27.1730288,42.3897189 26.5253639,41.694956 L22.2984101,37.1624935 Z" id="Path"></path>
                                                     <path d="M38.2820741,35.9065484 L35.7032529,35.9065484 C34.7544949,35.9065484 33.9853269,36.6902619 33.9853269,37.6569615 C33.9853269,38.6236611 34.7544949,39.4073746 35.7032529,39.4073746 L36.5358457,39.4073746 C36.3721687,40.4016379 35.5216169,41.1617253 34.4998863,41.1617253 C33.3616496,41.1617253 32.4356245,40.2181885 32.4356245,39.0584269 L32.4356245,35.2664443 C32.4356245,34.1066828 33.3616496,33.163146 34.4998863,33.163146 C35.1402724,33.163146 35.7339423,33.4587033 36.1289266,33.9743073 C36.712594,34.7361319 37.7921799,34.871866 38.5400926,34.2770452 C39.2878916,33.6821086 39.4209928,32.5822228 38.8373254,31.8202824 C37.7868376,30.4490444 36.2058775,29.6625514 34.5,29.6625514 C31.4673163,29.6625514 29,32.1765263 29,35.2665601 L29,39.0585427 C29,42.1485765 31.4673163,44.6625514 34.5,44.6625514 C37.5326837,44.6625514 40,42.1485765 40,39.0585427 L40,37.6571931 C40,36.6902619 39.230832,35.9065484 38.2820741,35.9065484 Z" id="Path"></path>
                                                 </g>
                                             </g>
                                         </g>
                                     </svg>
                                 </div>
                             </div>
                         </div>
                         <div class="box p-5 mt-5">
                             <div class="grid grid-cols-12 gap-5">
                                 <div class="col-span-9 md:col-span-10">
                                     <label class="font-bold">Position dans le terrain</label>
                                     <select class="input border mt-1 w-full">
                                         <option>Séléctionnez</option>
                                     </select>
                                 </div>
                                 <div class="col-span-3 md:col-span-2 text-right">
                                     <svg class="inline-block" width="40px" height="76px" viewBox="0 0 58 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                         <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                             <g transform="translate(-890.000000, -679.000000)" fill="#01D374">
                                                 <g transform="translate(891.000000, 680.000000)">
                                                     <path d="M40.4429341,72.6223404 L40.4429341,60.6741789 L15.4376812,60.6741789 L15.4376812,72.6223404 L1.38028169,72.6223404 L1.38028169,37.5904255 L15.8367228,37.5904255 C16.184336,44.1434483 21.5507802,49.3665659 28.0986699,49.3665659 C34.6464029,49.3665659 40.0130039,44.1434483 40.3606171,37.5904255 L54.8169014,37.5904255 L54.8169014,72.6223404 L40.4429341,72.6223404 Z M16.7605634,72.4255319 L39.0422535,72.4255319 L39.0422535,61.9946809 L16.7605634,61.9946809 L16.7605634,72.4255319 Z M39.0422535,37.5904255 C38.695616,43.4010747 33.920751,48.0212766 28.0985915,48.0212766 C22.276275,48.0212766 17.5015671,43.4010747 17.1549296,37.5904255 L39.0422535,37.5904255 Z M17.1549296,36.4095745 C17.5015671,30.5989957 22.276275,25.9787234 28.0985915,25.9787234 C33.920751,25.9787234 38.695616,30.5989957 39.0422535,36.4095745 L17.1549296,36.4095745 Z M15.4376812,1.37765957 L15.4376812,13.2897857 L40.4429341,13.2897857 L40.4429341,1.37765957 L54.8169014,1.37765957 L54.8169014,36.4095745 L40.3606171,36.4095745 C40.0130039,29.8566809 34.6464029,24.6335397 28.0986699,24.6335397 C21.5507802,24.6335397 16.184336,29.8566809 15.8367228,36.4095745 L1.38028169,36.4095745 L1.38028169,1.37765957 L15.4376812,1.37765957 Z M16.7605634,11.8085106 L39.0422535,11.8085106 L39.0422535,1.37765957 L16.7605634,1.37765957 L16.7605634,11.8085106 Z M0,74 L56,74 L56,0 L0,0 L0,74 Z" id="Fill-1" stroke="#01D374"></path>
                                                     <g id="Group-2" transform="translate(5.000000, 0.000000)" stroke="#FFFFFF">
                                                         <ellipse id="Oval-Copy-7" cx="23.4978355" cy="1.78187919" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-9" cx="13.9393939" cy="10.4932886" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-11" cx="1.79220779" cy="21.3825503" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-14" cx="11.7489177" cy="33.4597315" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-15" cx="22.7922078" cy="44.7818792" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-17" cx="22.7922078" cy="56.7818792" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-18" cx="2.79220779" cy="57.2181208" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-16" cx="44.2077922" cy="57.2181208" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-12" cx="44.2077922" cy="21.3825503" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-13" cx="33.7922078" cy="33.4597315" rx="2.29220779" ry="2.28187919"></ellipse>
                                                         <ellipse id="Oval-Copy-10" cx="32.0606061" cy="10.4932886" rx="2.29220779" ry="2.28187919"></ellipse>
                                                     </g>
                                                 </g>
                                             </g>
                                         </g>
                                     </svg>
                                 </div>
                             </div>
                         </div>
                         <div class="box p-5 mt-5">
                             <div class="grid grid-cols-12 gap-5">
                                 <div class="col-span-9 md:col-span-10">
                                     <label class="font-bold">Pied dominant</label>
                                     <div class="">
                                         <div class="flex flex-row mt-2">
                                             <div class="flex items-center text-gray-700 mt-2 mr-5">
                                                 <input type="radio" class="input border mr-2" id="vertical-radio-chris-evans" name="vertical_radio_button" value="vertical-radio-chris-evans">
                                                 <label class="cursor-pointer select-none" for="vertical-radio-chris-evans">Droit</label>
                                             </div>
                                             <div class="flex items-center text-gray-700 mt-2">
                                                 <input type="radio" class="input border mr-2" id="vertical-radio-liam-neeson" name="vertical_radio_button" value="vertical-radio-liam-neeson">
                                                 <label class="cursor-pointer select-none" for="vertical-radio-liam-neeson">Gauche</label>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-span-3 md:col-span-2 text-right">
                                     <svg class="inline-block" width="40px" height="61px" viewBox="0 0 60 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                         <defs>
                                             <polygon points="5.859375e-05 0.0331757812 33.3636621 0.0331757812 33.3636621 25.8984375 5.859375e-05 25.8984375"></polygon>
                                         </defs>
                                         <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                             <g id="INSCRIPTION-#5" transform="translate(-885.000000, -877.000000)">
                                                 <g id="Group-18" transform="translate(885.000000, 877.000000)">
                                                     <path d="M56.5878984,53.0161406 C56.5877813,53.0162578 56.5876641,53.016375 56.5874297,53.016375 L56.5864922,53.0173125 C55.0887188,54.5137969 52.4320781,54.2934844 50.6643047,52.5255937 L31.7123906,33.5736797 C31.1899688,33.0512578 30.8652422,32.36325 30.8214141,31.6857891 C30.7397344,30.4252031 30.1789922,29.215125 29.2424297,28.2787969 L25.8036797,24.8399297 C24.2897344,23.3261016 22.3703203,22.3778203 20.3565703,22.1395781 L14.7593438,16.5424687 C13.0239141,14.8071562 12.8072344,12.2004375 14.2759453,10.7318437 L22.6079766,2.3998125 C22.6634063,2.34426562 22.7556328,2.34145312 22.8060234,2.34461719 C22.9477031,2.35375781 23.0971172,2.42735156 23.2162969,2.54641406 C23.9961797,3.32629688 24.5066484,4.32625781 24.666375,5.338875 L24.666375,7.14098437 L24.6153984,8.08446094 C24.59325,8.49660937 24.6123516,8.908875 24.666375,9.31739062 L24.666375,16.8750469 C24.666375,17.5222734 25.1911406,18.0469219 25.83825,18.0469219 C26.4853594,18.0469219 27.010125,17.5222734 27.010125,16.8750469 L27.010125,13.7696953 L33.4372734,20.1939141 C35.3250469,22.0806328 38.3959453,22.0800469 40.2826641,20.1930937 L41.5798125,18.8959453 L42.3934453,19.7095781 C43.6773516,20.9934844 44.8131328,22.3849687 45.7922344,23.8706719 L39.6859453,23.8706719 C39.2859844,23.8706719 38.9136797,24.0746953 38.6984063,24.4117266 C38.4831328,24.7487578 38.4545391,25.1721562 38.6224688,25.5350859 L40.9628203,30.5887969 C41.1546563,31.0030547 41.5696172,31.2683672 42.0260625,31.2683672 L49.4817656,31.2683672 L50.7083672,33.9947344 L44.4568828,33.9947344 C44.0570391,33.9947344 43.6847344,34.1986406 43.4694609,34.5356719 C43.2541875,34.8727031 43.2255938,35.2962187 43.3935234,35.6590312 L45.7339922,40.7128594 C45.9258281,41.1271172 46.3409063,41.3923125 46.7972344,41.3923125 L54.0366094,41.3923125 L57.1978594,48.4185234 C57.9493828,50.0890312 57.7098516,51.8937187 56.5878984,53.0161406 L56.5878984,53.0161406 Z M53.0427422,56.5614141 C52.3373906,57.2665312 51.3493828,57.61575 50.25825,57.5452031 C49.11075,57.4710234 47.9960625,56.9473125 47.1193828,56.0706328 L35.6930156,44.6443828 C35.6927813,44.6441484 35.6926641,44.6439141 35.6924297,44.6437969 L32.1187969,41.0701641 L32.1182109,41.0695781 L28.1673516,37.1186016 C27.6449297,36.5961797 27.3202031,35.9080547 27.276375,35.2305937 C27.1946953,33.9700078 26.6339531,32.7599297 25.6973906,31.8233672 L22.2586406,28.3847344 C20.7446953,26.8709062 18.8252813,25.922625 16.8115313,25.6843828 L11.2144219,20.0872734 C9.47899219,18.3519609 9.2623125,15.7452422 10.7310234,14.2766484 L11.0153203,13.9923516 C11.1994219,15.4956328 11.8990313,16.9965703 13.1019609,18.1995 L18.9983672,24.0960234 C19.1998125,24.2972344 19.4674688,24.4184062 19.7515313,24.4368047 C21.3377813,24.5394609 22.9396172,25.2905156 24.1464141,26.4971953 L27.5852813,29.9360625 C28.1112188,30.462 28.4382891,31.1549297 28.4824688,31.8371953 C28.5635625,33.0927422 29.1220781,34.2980156 30.0548906,35.2308281 L49.0071563,54.1832109 C50.2351641,55.4111016 51.7692656,56.1210234 53.3034844,56.3005547 L53.0427422,56.5614141 Z M42.7570781,57.1983281 C42.3001641,57.6553594 41.5566094,57.6552422 41.0998125,57.1983281 L40.8407109,56.9392266 C40.3837969,56.4821953 40.3837969,55.7387578 40.8407109,55.2819609 L41.9283281,54.1943438 L43.8448125,56.1105937 L42.7570781,57.1983281 Z M32.1187969,46.5599297 C31.6622344,47.0168437 30.9185625,47.0170781 30.4616484,46.5599297 L30.2026641,46.3008281 C29.74575,45.8440313 29.74575,45.1004766 30.2026641,44.6436797 L31.2902813,43.5558281 L32.502,44.7675469 L33.2065313,45.4724297 L32.1187969,46.5599297 Z M11.2349297,25.6761797 C10.7781328,26.1329766 10.0345781,26.1330937 9.57766406,25.6761797 L9.3185625,25.4170781 C8.86153125,24.9600469 8.86153125,24.2167266 9.3185625,23.7598125 L10.4061797,22.6719609 L12.3226641,24.5884453 L11.2349297,25.6761797 Z M47.7796172,27.4845 L48.4274297,28.9246172 L42.775125,28.9246172 L41.5201641,26.2145391 L47.1642656,26.2145391 C47.3802422,26.6319609 47.586375,27.0550078 47.7796172,27.4845 L47.7796172,27.4845 Z M52.9821563,39.0486797 L47.5461797,39.0486797 L46.2912188,36.3386016 L51.7629375,36.3386016 L52.9821563,39.0486797 Z M59.335125,47.457 L49.917,26.5230938 C49.6061016,25.8319219 49.266375,25.15575 48.9018047,24.4935234 C48.8981719,24.4867266 48.8943047,24.4799297 48.8904375,24.4730156 C47.5997344,22.1336016 45.9790313,19.9803984 44.0509453,18.0523125 L42.4085625,16.4099297 C41.9508281,15.9524297 41.2090312,15.9524297 40.7510625,16.4099297 L38.6253984,18.5358281 C37.6518047,19.5093047 36.0678984,19.5095391 35.0941875,18.5361797 L28.461375,11.9064141 C27.6865313,11.1314531 27.1762969,10.1405156 27.0102422,9.13469531 L27.0102422,7.20309375 L27.0560625,6.35301563 C27.0783281,5.93946094 27.058875,5.52567188 27.0042656,5.11575 C27.0041484,5.11410938 27.0037969,5.11258594 27.0034453,5.11094531 C26.7956719,3.56055469 26.0537578,2.06910938 24.8737969,0.88903125 C24.3500859,0.365554688 23.6696953,0.0517265625 22.9575469,0.005671875 C22.2001641,-0.0429609375 21.4679766,0.225164063 20.9507109,0.7423125 L12.6193828,9.07364063 C12.6191484,9.073875 12.6190313,9.07410938 12.6186797,9.07434375 L9.07375781,12.6192656 C6.92688281,14.766375 6.89184375,18.3023906 8.8441875,20.9193047 L7.66129688,22.1024297 C6.29055469,23.4730547 6.29055469,25.7034844 7.66129688,27.0742266 L7.92039844,27.3334453 C8.60582813,28.0186406 9.50594531,28.3614141 10.4062969,28.3614141 C11.3066484,28.3614141 12.2068828,28.0186406 12.8921953,27.3334453 L14.0191875,26.2065703 L15.4535625,27.6410625 C15.6550078,27.8422734 15.9226641,27.9634453 16.2067266,27.9818438 C17.7929766,28.0845 19.3948125,28.8355547 20.6016094,30.0422344 L24.0404766,33.4809844 C24.5664141,34.0070391 24.8934844,34.6999688 24.9375469,35.3821172 C25.0187578,36.6377813 25.5772734,37.8430547 26.5100859,38.7758672 L29.6330156,41.8989141 L28.5453984,42.9866484 C27.1747734,44.3572734 27.1747734,46.5877031 28.5452813,47.9584453 L28.8042656,48.2174297 L28.8043828,48.2174297 C29.4899297,48.9028594 30.3898125,49.2453984 31.2903984,49.2453984 C32.1905156,49.2453984 33.0908672,48.902625 33.7762969,48.2175469 L34.8640313,47.1299297 L40.2712969,52.5370781 L39.1834453,53.6246953 C37.8128203,54.9955547 37.8128203,57.2258672 39.1834453,58.5966094 L39.4425469,58.8558281 C40.1280938,59.5411406 41.0283281,59.8837969 41.9284453,59.8837969 C42.8289141,59.8837969 43.7290313,59.5411406 44.4145781,58.8555938 L45.5030156,57.7671563 C46.7766094,59.0224688 48.4091484,59.7743438 50.1071953,59.8841484 C50.2523906,59.8936406 50.3964141,59.8983281 50.5393828,59.8983281 C52.1441484,59.8983281 53.6086406,59.3103984 54.7003594,58.2187969 L58.2452813,54.673875 C60.0620391,52.8566484 60.490125,50.023875 59.335125,47.457 L59.335125,47.457 Z" id="Fill-1" fill="#01D374"></path>
                                                     <g id="Group-5" transform="translate(0.000000, 34.101562)">
                                                         <mask id="mask-2" fill="white">
                                                             <use xlink:href="#path-1"></use>
                                                         </mask>
                                                         <g id="Clip-4"></g>
                                                         <path d="M31.3630664,19.5313008 C28.768418,22.125832 25.3191211,23.5546992 21.6499805,23.5546992 L8.58041016,23.5546992 C5.14154297,23.5546992 2.34369141,20.7568477 2.34369141,17.3178633 L2.34369141,14.2333711 C2.34369141,12.4128633 3.05255859,10.7012227 4.33986328,9.41391797 L5.30080078,8.45309766 C9.21908203,4.53481641 14.4287695,2.37692578 19.9699805,2.37692578 L21.432832,2.37692578 C22.0799414,2.37692578 22.604707,1.85227734 22.604707,1.20505078 C22.604707,0.557824219 22.0799414,0.0331757812 21.432832,0.0331757812 L19.9700977,0.0331757812 C16.9225195,0.0331757812 13.9498242,0.624503906 11.1342773,1.79075391 C8.31873047,2.95688672 5.79861328,4.64087109 3.64353516,6.79583203 L2.68283203,7.75653516 C0.952675781,9.48669141 5.859375e-05,11.7868477 5.859375e-05,14.2333711 L5.859375e-05,17.3178633 C5.859375e-05,22.0491914 3.84919922,25.8984492 8.58052734,25.8984492 L21.6500977,25.8984492 C25.9451367,25.8984492 29.9831836,24.225832 33.0204492,21.1886836 C33.4780664,20.7310664 33.4780664,19.9890352 33.0204492,19.531418 C32.5627148,19.0736836 31.820918,19.0736836 31.3630664,19.5313008" id="Fill-3" fill="#01D374" mask="url(#mask-2)"></path>
                                                     </g>
                                                     <path d="M17.3173828,42.5475469 C16.6712109,42.5475469 16.1455078,42.0218437 16.1455078,41.3756719 C16.1455078,40.7293828 16.6712109,40.2037969 17.3173828,40.2037969 C17.9635547,40.2037969 18.4892578,40.7293828 18.4892578,41.3756719 C18.4892578,42.0218437 17.9635547,42.5475469 17.3173828,42.5475469 M20.8330078,41.3756719 C20.8330078,39.4371562 19.2558984,37.8600469 17.3173828,37.8600469 C15.3788672,37.8600469 13.8017578,39.4371562 13.8017578,41.3756719 C13.8017578,43.3141875 15.3788672,44.8912969 17.3173828,44.8912969 C19.2558984,44.8912969 20.8330078,43.3141875 20.8330078,41.3756719" id="Fill-6" fill="#01D374"></path>
                                                     <path d="M10.9892578,51.7894453 C10.9892578,52.4357344 10.4635547,52.9613203 9.81738281,52.9613203 C9.17121094,52.9613203 8.64550781,52.4357344 8.64550781,51.7894453 C8.64550781,51.1432734 9.17121094,50.6175703 9.81738281,50.6175703 C10.4635547,50.6175703 10.9892578,51.1432734 10.9892578,51.7894453 M6.30175781,51.7894453 C6.30175781,53.7279609 7.87886719,55.3050703 9.81738281,55.3050703 C11.7558984,55.3050703 13.3330078,53.7279609 13.3330078,51.7894453 C13.3330078,49.8509297 11.7558984,48.2738203 9.81738281,48.2738203 C7.87886719,48.2738203 6.30175781,49.8509297 6.30175781,51.7894453" id="Fill-8" fill="#01D374"></path>
                                                     <path d="M21.9406875,52.3293867 C22.5868594,52.3293867 23.1125625,52.8550898 23.1125625,53.5012617 C23.1125625,54.1474336 22.5868594,54.6731367 21.9406875,54.6731367 C21.2945156,54.6731367 20.7688125,54.1474336 20.7688125,53.5012617 C20.7688125,52.8550898 21.2945156,52.3293867 21.9406875,52.3293867 M21.9406875,57.0168867 C23.8792031,57.0168867 25.4563125,55.4397773 25.4563125,53.5012617 C25.4563125,51.5627461 23.8792031,49.9856367 21.9406875,49.9856367 C20.0021719,49.9856367 18.4250625,51.5627461 18.4250625,53.5012617 C18.4250625,55.4397773 20.0021719,57.0168867 21.9406875,57.0168867" id="Fill-10" fill="#01D374"></path>
                                                     <path d="M52.8312656,25.7122617 C55.6565391,26.4865195 57.6298594,29.0762461 57.6298594,32.0100352 C57.6298594,33.2369883 57.2879062,34.4323008 56.6410312,35.4664805 C56.2977891,36.0153867 56.4644297,36.7384336 57.0133359,37.0815586 C57.2064609,37.2023789 57.4211484,37.2600352 57.6334922,37.2600352 C58.0240781,37.2600352 58.405875,37.0648008 58.6281797,36.7093711 C59.5084922,35.3019492 59.9736094,33.6770273 59.9736094,32.009918 C59.9736094,28.0235508 57.2911875,24.504293 53.4506016,23.4517148 C52.8270469,23.2808555 52.1818125,23.6480039 52.0107187,24.2721445 C51.839625,24.8962852 52.2070078,25.541168 52.8312656,25.7122617" id="Fill-12" fill="#01D374"></path>
                                                     <path d="M25.8379687,20.2943906 C25.5297656,20.2943906 25.2274219,20.4197812 25.0094531,20.63775 C24.7916016,20.8557187 24.6660938,21.1580625 24.6660938,21.4662656 C24.6660938,21.7744687 24.7914844,22.0768125 25.0094531,22.2947812 C25.2274219,22.51275 25.5297656,22.6381406 25.8379687,22.6381406 C26.1461719,22.6381406 26.4485156,22.51275 26.6664844,22.2947812 C26.8843359,22.0768125 27.0098437,21.7744687 27.0098437,21.4662656 C27.0098437,21.1580625 26.8844531,20.8557187 26.6664844,20.63775 C26.4485156,20.4197812 26.1461719,20.2943906 25.8379687,20.2943906" id="Fill-14" fill="#01D374"></path>
                                                     <path d="M34.8742266,50.6174648 L34.85325,50.6174648 C34.2062578,50.6174648 33.681375,51.1422305 33.681375,51.7893398 C33.681375,52.4365664 34.2062578,52.9612148 34.85325,52.9612148 L34.8742266,52.9612148 C35.5212188,52.9612148 36.0461016,52.4365664 36.0461016,51.7893398 C36.0461016,51.1422305 35.5213359,50.6174648 34.8742266,50.6174648" id="Fill-16" fill="#01D374"></path>
                                                 </g>
                                             </g>
                                         </g>
                                     </svg>
                                 </div>
                             </div>
                         </div>
                     </div>

                 </form>
                         <div class="mt-10">
                             <div class="grid grid-cols-12 gap-5">
                                 <div class="col-span-6">
                                     <button (click)="prevStep()" class="button border border-gray-500 text-gray-500 rounded-full prev-step">
                                         <span class="mr-2 align-middle">←</span>
                                         Retour
                                     </button>
                                 </div>
                                 <div class="col-span-6 text-right">
                                     <button (click)="nextStep()" class="button bg-theme-43 text-white rounded-full" id="send-register-form">
                                         Terminer
                                         <span class="ml-2 align-middle">→</span>
                                     </button>
                                 </div>
                             </div>
                         </div>

                 </div>
                 <div class="inscription-step text-center" *ngIf="step == 6">
                   <br>
                   <br>
                   <p class="text-xs font-semibold">Mehdi, Bievenue!</p>
               <p class="mb-5">Votre compte a été créé avec succès.</p>

               <div class="mt-5">
                   <svg class="inline-block" width="153px" height="153px" viewBox="0 0 153 153" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                       <g id="INSCRIPTION" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                           <g id="INSCRIPTION-#6" transform="translate(-644.000000, -254.000000)">
                               <g id="tick-(1)" transform="translate(644.000000, 254.000000)">
                                   <path d="M0,0 L0,98.20425 C0,112.727274 9.41431176,125.486673 23.4258117,129.954786 C59.6132459,141.489336 71.484398,149.726215 71.5514515,149.771334 L75.963572,153 L80.4481102,149.872189 C80.5473494,149.80451 91.4234275,142.619966 129.815581,130.100759 L129.816922,130.100759 C143.683586,125.576911 153,112.840071 153,98.4059586 L153,0 L0,0 Z" id="Fill-1" fill="#01D374" transform="translate(76.500000, 76.500000) scale(-1, 1) translate(-76.500000, -76.500000) "></path>
                                   <path d="M105.135959,52.857533 C103.983963,51.7141557 102.116246,51.7141557 100.964019,52.857533 L65.6212185,87.9327293 L52.0360241,74.4505296 C50.8840275,73.3071523 49.016311,73.3072666 47.8640839,74.4505296 C46.711972,75.5937925 46.711972,77.4473491 47.8640839,78.5907263 L63.5352484,94.142853 C64.6868993,95.2861159 66.5559986,95.2853154 67.7071886,94.142853 L105.135959,56.9978441 C106.288071,55.8545812 106.287956,54.0009102 105.135959,52.857533 Z" id="Path" fill="#FFFFFF" fill-rule="nonzero"></path>
                               </g>
                           </g>
                       </g>
                   </svg>
               </div>

               <div class="mt-5">
                   <p>
                       Connectez-vous à votre compte et uploader vos photos et vidéos pour gagner en visibilité au près des +1500 coachs qui recrutent aujourd’hui sur kwayria.com
                   </p>
               </div>

               <div class="mt-5 text-center">
                   <button (click)="goProfile()" class="inline-block py-3 px-10 bg-theme-43 text-white rounded-full">
                       Connexion
                   </button>
               </div>

               <div class="mt-5">
                   <p>N’oubliez pas de nous rejoindre</p>
                   <p>sur les réseaux sociaux</p>
               </div>

               <div class="mt-5">
                   <button class="button px-2 mr-1 mb-2 bg-theme-45 text-white rounded-full">
                       <span class="w-5 h-5 flex items-center justify-center">
                           <i data-feather="twitter" class="w-4 h-4"></i>
                       </span>
                   </button>
                   <button class="button px-2 mr-1 mb-2 bg-theme-1 text-white rounded-full">
                       <span class="w-5 h-5 flex items-center justify-center">
                           <i data-feather="facebook" class="w-4 h-4"></i>
                       </span>
                   </button>
               </div>

                </div>


		            </form>
		        </div>


		    </div>
