<div class="dev-container">
    <nav class="top-nav">
        <ul>
            <li>
                <a href="#/dashboard" class="top-menu">
                    <div class="top-menu__icon">
                      <!--   <i data-feather="bar-chart-2"></i> -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                  </div>
                  <div class="top-menu__title">
                    Dashboard
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="top-menu ">
                <div class="top-menu__icon">
                   <!--    <i data-feather="mail"></i> -->
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
               </div>
               <div class="top-menu__title">
                Messagerie
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="top-menu ">
            <div class="top-menu__icon">
             <!--  <i data-feather="user"></i> -->
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
         </div>
         <div class="top-menu__title">
            Ma fiche joueur
        </div>
    </a>
</li>
</ul>
</nav>
<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">Ma fiche joueur</h2>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <!-- BEGIN: Profile Menu -->
        <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
            <div class="intro-y box mt-5">
                <div class="relative flex items-center p-5">
                    <div class="w-12 h-12 image-fit">
                        <img alt="avatar" class="rounded-full" src="https://kwayria.devaro.in//storage/images/avatars/uuSDryZpyVXD0jW8jp4cMsy0MbXFybu067I05anG.jpeg">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium text-base">Ayoub</div>
                    </div>
                </div>
                <div class="p-5 border-t border-gray-200" >
                    <button (click)="setPage('profile')" class="flex items-center font-medium  " *ngIf="!fichemenu" href="#">
                        Mes informations
                    </button>
                    <button  (click)="setPage('password')" class="flex items-center mt-5 " *ngIf="!fichemenu" href="">
                        Mot de passe
                    </button>
                    <button (click)="setPage('fiche')" class="flex items-center mt-5 "   href="">
                        Ma fiche Joueur
                    </button>
                    <button (click)="setPage('photo')" class="flex items-center mt-5 " *ngIf="fichemenu" href="">
                        Photos
                    </button>
                    <button (click)="setPage('video')" class="flex items-center mt-5 " *ngIf="fichemenu" href="">
                        Videos
                    </button>
                </div>
            </div>
        </div>
        <!-- END: Profile Menu -->

        <div class="col-span-12 lg:col-span-8 xxl:col-span-9">
            <!-- BEGIN: Display Information -->

            <div class="intro-y box lg:mt-5" *ngIf="activepage == 'profile' ">
                <div class="p-5">
                    <form method="POST" action="" enctype="multipart/form-data">

                        <div class="grid grid-cols-12 gap-5">

                            <div class="col-span-12 xl:col-span-7">
                                <div>
                                    <label class="font-bold">Nom de famille</label>
                                    <input type="text" class="input w-full border mt-1  border-theme-6 @enderror" placeholder="Nom de famille" name="last_name" value="">

                                </div>
                                <div class="mt-5">
                                    <label class="font-bold">Prénom</label>
                                    <input type="text" class="input w-full border mt-1  border-theme-6 @enderror" placeholder="Prénom" name="first_name" value="">

                                </div>
                                <div class="mt-5">
                                    <label class="font-bold">Adresse e-mail</label>
                                    <input type="email" class="input w-full border mt-1  border-theme-6 @enderror" placeholder="Adresse e-mail" name="email" value="">

                                </div>
                                <div class="mt-5">
                                    <label class="font-bold">Date de naissance</label>
                                    <input type="text" class="datepicker input w-full border mt-1  border-theme-6 @enderror" placeholder="Date de naissance" name="birthday" value="">

                                </div>
                                <div class="mt-5">
                                    <label class="font-bold">Ville de naissance</label>
                                    <input type="text" class="input w-full border mt-1  border-theme-6 " placeholder="Ville de naissance" name="birthplace" value="">

                                </div>
                                <div class="mt-5">
                                    <label class="font-bold">Ville de résidence actuelle</label>
                                    <input type="text" class="input w-full border mt-1   border-theme-6 " placeholder="Ville de résidence actuelle" name="residence_address" value="">

                                </div>
                                <button type="submit" class="button bg-theme-43 text-white mt-5">Mise à jour</button>
                            </div>
                            <div class="col-span-12 xl:col-span-5">
                                <label class="font-bold">Photo principale</label>

                                <div class="dev-card mt-5">
                                    <div class="card-preview">
                                        <span class="img" style="background-image: url('https://kwayria.devaro.in//storage/images/avatars/uuSDryZpyVXD0jW8jp4cMsy0MbXFybu067I05anG.jpeg')"></span>
                                    </div>
                                    <div class="card-content">
                                        <div class="grid grid-cols-12 gap-5">
                                            <div class="col-span-12 md:col-span-7">
                                                <label class="flex items-center text-theme-43 cursor-pointer">
                                                    <input type="file" name="avatar" class="hidden" />
                                                    <i data-feather="paperclip" class="w-4 h-4 mr-2"></i>
                                                    Uploder une photo
                                                </label>
                                            </div>
                                            <div class="col-span-12 md:col-span-5">
                                                <a href="#" class="flex items-center justify-end text-theme-6">
                                                    <i data-feather="x" class="w-4 h-4 mr-2"></i>
                                                    Supprimer
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-infos">
                                        <p class="mt-5">
                                            <span>
                                                <i data-feather="help-circle" class="text-theme-43 w-4 h-4 mr-2"></i>
                                            </span>
                                            Les dimensions de la photo doivent être supérieure à 800 x 800 pixels
                                        </p>

                                        <p class="mt-5">
                                            <span>
                                                <i data-feather="help-circle" class="text-theme-43 w-4 h-4 mr-2"></i>
                                            </span>
                                            Prenez une photo claire idéalement en situation de jeu
                                        </p>

                                        <p class="mt-5">
                                            <span>
                                                <i data-feather="help-circle" class="text-theme-43 w-4 h-4 mr-2"></i>
                                            </span>
                                            La taille de la photo ne doit pas dépasser 4 Mo
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="intro-y box lg:mt-5" *ngIf="activepage == 'password' ">
             <div class="p-5">

               <form method="POST" action="#">

                 <div class="grid grid-cols-12 gap-5">

                   <div class="col-span-12 xl:col-span-6">
                     <div>
                       <label class="font-bold">Mot de passe actuel</label>
                       <input type="password" class="input w-full border mt-1 " placeholder="Mot de passe actuel" name="old_password">

                   </div>
                   <div class="mt-5">
                       <label class="font-bold">Nouveau mot de passe</label>
                       <input type="password" class="input w-full border mt-1" placeholder="Nouveau mot de passe" name="new_password">

                   </div>
                   <div class="mt-5">
                       <label class="font-bold">Confirmez-votre nouveau mot de passe</label>
                       <input type="password" class="input w-full border mt-1 " placeholder="Confirmez-votre nouveau mot de passe" name="new_password_confirmation">

                   </div>
                   <button type="submit" class="button bg-theme-43 text-white mt-5">Mise à jour</button>
               </div>

           </div>
       </form>
   </div>
</div>
<div class="intro-y box lg:mt-5" *ngIf="activepage == 'fiche' ">
 <div class="p-5">
  <form method="POST" action="#">

    <div class="grid grid-cols-12 gap-5">

      <div class="col-span-12 xl:col-span-6">
        <div>
          <label class="font-bold">Taille</label>
          <div class="relative mt-2">
            <input type="number" class="input pr-12 w-full border col-span-4" placeholder="Votre taille en centimètre" name="height" value="">
            <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600">cm</div>
        </div>
    </div>
    <div class="mt-5">
      <label class="font-bold">Poids</label>
      <div class="relative mt-2">
        <input type="number" class="input pr-12 w-full border col-span-4" placeholder="Poids en Kilogramme" name="weight" value="">
        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600">kg</div>
    </div>
</div>
<div class="mt-5">
  <label>Pied dominant</label>
  <div class="">
    <div class="flex flex-row mt-2">
      <div class="flex items-center text-gray-700 mt-2 mr-5">
        <input type="radio" class="input border mr-2" id="vertical-radio-chris-evans" name="dominant_foot" value="right">
        <label class="cursor-pointer select-none" for="vertical-radio-chris-evans">Droit</label>
    </div>
    <div class="flex items-center text-gray-700 mt-2">
        <input type="radio" class="input border mr-2" id="vertical-radio-liam-neeson" name="dominant_foot" value="left" >
        <label class="cursor-pointer select-none" for="vertical-radio-liam-neeson">Gauche</label>
    </div>
</div>
</div>
</div>
<div class="mt-5">
  <label class="font-bold">Position terrain</label>
  <div class="mt-2">
    <select class="input border w-full" name="position">
      <option value="">Séléctionnez</option>

  </select>
</div>
</div>
<button type="submit" class="button bg-theme-43 text-white mt-5">Mise à jour</button>
</div>

</div>
</form>
</div>
</div>

<!-- MA fiche Joueur-->
<div class="intro-y box lg:mt-5" *ngIf="activepage == 'photo' ">
  <!-- BEGIN: Display Information -->
  <div class="p-5">
    <div class="grid grid-cols-12 gap-5">
        <div class="col-span-12 xl:col-span-6">
            <div>
                <label class="font-bold">Ajouter des photos</label>
                <div class="mt-5">
                    <form action="#" method="post" id="my-awesome-dropzone" class="dropzone border-gray-200 border-dashed"  enctype="multipart/form-data" >
                        <div class="fallback">
                            <input name="file" type="file" required  multiple>
                        </div>
                        <div class="dz-message" data-dz-message>
                            <div class="text-gray-600 font-medium">Glissez vos photos ici</div>
                            <div class="text-gray-600 font-medium">ou</div>
                            <div class="text-gray-600 font-medium">
                                Cliquez ici
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-span-12 xl:col-span-6">
            <label class="font-bold">Mes photos</label>
            <div class="mt-5">
                <div class="dev-photos">
                    <div class="grid grid-cols-12 gap-3">
                        <div class="col-span-12 bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 zoom-in" role="alert">
                          <p class="font-bold">Information message</p>
                          <p class="text-sm">aucune photo a afficher</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="col-span-12 xl:col-span-6">
    <button id="but-rel" class=" mt-5 inline-block py-3 px-8 bg-theme-43 text-white rounded-full zoom-in">Mise a jour</button>
</div>

</div>
</div>
<!-- END: Display Information -->

<div class="intro-y box lg:mt-5" *ngIf="activepage == 'video' ">

  <div class="p-5">

      <div class="grid grid-cols-12 gap-5">
        <div class="col-span-12 xl:col-span-6">
            <form method="POST"action="#" enctype="multipart/form-data">
                <div>
                    <label class="font-bold">Source de votre vidéo</label>
                    <div class="mt-2">
                        <select class="input border w-full" required name="video_type" id="video-types">
                            <option value="youtube">Youtube</option>
                            <option value="local">Local</option>
                            <option value="vimeo">Vimeo</option>
                        </select>
                    </div>
                </div>
                <div class="mt-5">
                    <label class="font-bold">Coller le lien de votre vidéo youtube</label>
                    <input type="text" onblur="apercu()"id="video-url"required class="input w-full border mt-1" name="video_url" placeholder="Coller le lien">
                </div>
                <div class="mt-5">
                    <label  class="font-bold">Aperçu</label>
                    <a href="#"id="apercu-block" class="apercu-block flex items-center justify-center">
                        <div id="abs-apercu" class="absolute">
                            <svg class=" m-auto text-theme-56"xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw mx-auto"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                            <p class="text-theme-56 text-sm font-bold mt-8">Génération de l’aperçu …</p>
                        </div>
                    </a>
                </div>
                <div class="mt-5">
                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 md:col-span-6">
                            <a href="#" class="flex items-center text-gray-500">
                                Annuler
                            </a>
                        </div>
                        <div class="col-span-12 md:col-span-6">

                            <button type="submit" class="flex items-center justify-end text-theme-43">
                                <i data-feather="plus" class="w-4 h-4 mr-2"></i>
                                Ajouter la vidéo
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-span-12 xl:col-span-6">
            <label class="font-bold">Mes vidéos</label>
            <div class="mt-5">
                <div class="dev-videos">
                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 sm:col-span-6 mb-5" id="1">
                            <div class="relative video-cont video-item items-center justify-center  zoom-in">
                                <a  id="1"class=" delete-video button absolute z-10 rounded-full px-2 bg-theme-6 text-white">
                                    <span class="w-5 h-5 flex items-center justify-center">
                                        <i data-feather="trash-2" class="w-4 h-4"></i>
                                    </span>
                                </a>
                                <img src="https://kwayria.devaro.in//storage/images/avatars/fI8WZt2WVuPItoTXqda0LMjVATQODn9FY1AOMTT3.jpeg" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--  End Fiche Joueur-->
<!-- END: Display Information -->
</div>
</div>
</div>

</div>
