
<div class="dev-hero bg-theme-44 py-40 px-5">
    <div class="dev-container">
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-12 md:col-span-4">
                <div class="relative z-10">
                    <h1 class="hero-title text-white text-2xl md:text-5xl font-bold leading-tight">
                        Trouvez votre futur équipe de football
                    </h1>
                    <p class="hero-desc text-white mt-3 text-md">Créé par les joueurs pour les joeurs</p>
                </div>
            </div>
            <div class="col-span-12  md:col-span-4">
                <div class="hero-c-img hidden md:block">
                    <img src="./assets/theme/images/player.png">
                </div>
            </div>
            <div class="col-span-12 md:col-span-4">
                <div class="block box p-5">
                    <div class="flex items-center">
                        <div class="w-9/12">
                            <h3 class="text-lg font-semibold text-theme-44">Je suis un Joueur</h3>
                            <p class="text-sm text-theme-44 mt-2">Je veux créer votre fiche profesionnelle et me faire remarquer</p>
                        </div>
                        <div class="w-3/12 text-right">
                            <svg class="inline-block" width="56px" height="56px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.12" class="svg-op">
                                    <g transform="translate(-899.000000, -293.000000)" fill="#000000" fill-rule="nonzero" class="svg-fillable">
                                        <g transform="translate(899.000000, 293.000000)">
                                            <path d="M55.3985059,44.3683757 L46.5707183,24.7968854 C46.2791975,24.1506962 45.9608751,23.5185308 45.6190466,22.8995127 C45.6156415,22.8930486 45.6120167,22.8866941 45.6085018,22.88023 C44.3985914,20.6930692 42.8794755,18.6800003 41.0722439,16.8773977 L39.5328073,15.3420136 C39.1037641,14.914179 38.4084638,14.914179 37.9793109,15.3420136 L35.9867757,17.3294452 C35.0743176,18.2395662 33.5895823,18.2397853 32.6769045,17.3298835 L26.4599531,11.1314853 C25.7335675,10.4070697 25.255425,9.48062421 25.0996689,8.54026448 L25.0996689,6.73426543 L25.1426172,5.93951191 C25.1634872,5.5528721 25.1452534,5.16601316 25.094067,4.78276973 C25.0939571,4.78123588 25.0936276,4.7798116 25.0934079,4.77838731 C24.8986579,3.32889887 24.2032478,1.93451947 23.0971381,0.831133377 C22.6063637,0.341725603 21.9685108,0.0483219716 21.3010006,0.00526460527 C20.5910913,-0.0402030971 19.904798,0.21047185 19.4199551,0.693963345 L11.6108429,8.48318334 C11.6106232,8.48340246 11.6105133,8.48351202 11.6102936,8.48373115 L8.28757098,11.7979432 C6.27515439,13.8053149 6.24231161,17.1113098 8.07239036,19.5579105 L6.96353465,20.663926 C5.67882178,21.9454579 5.67882178,24.0306176 6.96353465,25.3122591 L7.20639547,25.5544978 C7.84886175,26.195209 8.69266854,26.5155645 9.53647533,26.5155645 C10.380392,26.5155645 11.2241988,26.195209 11.866665,25.5544978 L12.9229064,24.5009619 L14.2674832,25.8420947 C14.4561919,26.0302105 14.7070712,26.1434963 14.9733283,26.1606973 C16.4601506,26.2566725 17.9615819,26.9588472 19.0927356,28.0869941 L22.3160511,31.3019441 C22.8090224,31.7937622 23.1155916,32.4417043 23.157002,33.0794573 C23.2331226,34.2534005 23.7566299,35.3802326 24.6309728,36.252336 L27.5581542,39.1720199 L26.5386001,40.1889626 C25.2538872,41.4704944 25.2538872,43.5556542 26.5384902,44.837186 L26.7812412,45.0793153 C26.781351,45.0793153 26.781351,45.0793153 26.781351,45.0793153 C27.4239272,45.7202455 28.2675143,46.0404915 29.1115407,46.0404915 C29.9552377,46.0404915 30.7992642,45.7200264 31.4416206,45.0794248 L32.4611747,44.0625917 L37.5295076,49.1179428 L36.5099535,50.134776 C35.2252406,51.4163078 35.2252406,53.5014676 36.5099535,54.783109 L36.7528143,55.0253478 C37.3952806,55.6660589 38.2390874,55.9864145 39.0828941,55.9864145 C39.9268108,55.9864145 40.7706176,55.6660589 41.4130839,55.0252382 L42.4334069,54.0075286 C43.6271705,55.1811431 45.1572705,55.8840847 46.748992,55.9868527 C46.8849765,55.9956176 47.0199724,56 47.1539797,56 C48.658157,56 50.0309633,55.4503338 51.0541421,54.4298852 L54.3768648,51.1156732 C56.0798563,49.4166054 56.4809995,46.7681939 55.3985059,44.3683757 Z M49.4437475,36.5072839 L44.3483935,36.5072839 L43.1720948,33.9735824 L48.3009506,33.9735824 L49.4437475,36.5072839 Z M44.5671989,25.6958312 L45.1745157,27.042223 L39.8763933,27.042223 L38.7000945,24.5085215 L43.9904182,24.5085215 C44.1928572,24.8987769 44.3860694,25.2941815 44.5671989,25.6958312 Z M10.3131686,24.00509 C9.88500423,24.4321577 9.18805628,24.4322673 8.75978205,24.00509 L8.51692123,23.7628512 C8.08864699,23.3356739 8.08864699,22.6406207 8.51692123,22.2134434 L9.53636549,21.1965007 L11.3327227,22.9881473 L10.3131686,24.00509 Z M29.8881242,43.5297979 C29.4600696,43.9568656 28.7631217,43.9570847 28.3347376,43.5297979 L28.0919866,43.2875591 C27.6637124,42.8603818 27.6637124,42.1653286 28.0919866,41.7381513 L29.1114309,40.7212086 L30.2471979,41.8540665 L30.9076783,42.5129648 L29.8881242,43.5297979 Z M39.8594776,53.4757208 C39.4312034,53.9030077 38.7343653,53.9028981 38.306091,53.4757208 L38.0632302,53.233482 C37.634956,52.8063048 37.634956,52.1112515 38.0632302,51.6840742 L39.0827843,50.6672411 L40.8790317,52.4588877 L39.8594776,53.4757208 Z M49.500426,52.8802583 C48.8393965,53.5394852 47.9132081,53.8659761 46.8905784,53.8001301 C45.8150049,53.7306686 44.7700772,53.2410417 43.9484585,52.4215275 L33.2383074,41.7388086 C33.2380877,41.7385895 33.2379778,41.7383704 33.2377582,41.7382608 L29.8881242,38.3972064 C29.8879045,38.3969873 29.8877947,38.3968777 29.887575,38.3966586 L26.1842495,34.7028187 C25.6945736,34.2143969 25.3902012,33.5710563 25.3491203,32.9377953 C25.2725603,31.759141 24.746966,30.6279265 23.869218,29.7523171 L20.6459024,26.5373671 C19.2268527,25.1220616 17.4277494,24.2354962 15.5402233,24.0127593 L10.2939463,18.7799197 C8.66740486,17.1575445 8.46419703,14.7204756 9.84084771,13.3474606 L10.1073246,13.0816662 C10.2798865,14.4871113 10.9356436,15.8903651 12.0632823,17.0151155 L17.590096,22.5277731 C17.7788047,22.7158889 18.029684,22.8291747 18.2959412,22.8463757 C19.7827634,22.9423509 21.2841947,23.6445256 22.4153484,24.7726725 L25.638664,27.987732 C26.1316352,28.4794406 26.4382044,29.1273827 26.4796149,29.7652453 C26.5557354,30.9390789 27.0792427,32.065911 27.9535856,32.9380144 L45.7177946,50.6568328 C46.8688297,51.8048101 48.3067723,52.468529 49.7448247,52.6364856 L49.500426,52.8802583 Z M52.8233684,49.5657175 C52.8232586,49.5658271 52.8231487,49.5659367 52.8230389,49.5659367 L52.8221601,49.5668131 C51.4181588,50.9660132 48.9281489,50.760039 47.2711812,49.1072059 L29.507082,31.3886066 C29.0174061,30.9001849 28.7130337,30.2569539 28.6719528,29.6236928 C28.5953928,28.4450385 28.0697985,27.313824 27.1920505,26.4383242 L23.9687349,23.2232646 C22.5496852,21.8079591 20.7505819,20.9213937 18.8630558,20.6986568 L13.6166689,15.4658173 C11.9901275,13.843442 11.7869197,11.4063731 13.1635704,10.0333581 L20.9733417,2.24359029 C21.025297,2.1916585 21.1117427,2.18902905 21.1589748,2.19198719 C21.2917738,2.20053292 21.4319323,2.26933706 21.5435319,2.38065076 C22.2745308,3.10988697 22.7530029,4.04465911 22.9027176,4.99137336 L22.9027176,6.67619825 L22.8550462,7.55838123 C22.834286,7.94359675 22.8520805,8.3290314 22.9027176,8.7109601 L22.9027176,15.7767506 C22.9027176,16.3818545 23.3945904,16.8723579 24.0011384,16.8723579 C24.6076863,16.8723579 25.0995591,16.3818545 25.0995591,15.7767506 L25.0995591,12.8735009 L31.1239573,18.8797296 C32.8932934,20.6435477 35.7717049,20.6429999 37.5402721,18.8788531 L38.7560041,17.6661254 L39.5186376,18.4268055 C40.7220674,19.6271528 41.7867666,20.9280769 42.7043872,22.3171974 L36.9808464,22.3171974 C36.6060653,22.3171974 36.2569872,22.5078331 36.0552073,22.8229297 C35.8534274,23.1380264 35.8266259,23.5339789 35.9841395,23.8731789 L38.1776856,28.5980949 C38.3574971,28.985392 38.7464479,29.233328 39.1743926,29.233328 L46.1627649,29.233328 L47.3124818,31.7822583 L41.4528467,31.7822583 C41.0780655,31.7822583 40.7289874,31.972894 40.5272075,32.2879906 C40.3254277,32.6030873 40.2986262,32.9990398 40.4561397,33.3382398 L42.6497957,38.0631558 C42.8296072,38.4504529 43.2186678,38.6983889 43.6465027,38.6983889 L50.4321065,38.6983889 L53.3950964,45.2673215 C54.0996234,46.8292192 53.8751062,48.5163449 52.8233684,49.5657175 Z" id="Shape"></path>
                                            <path d="M30.6811016,49.8459656 C30.2559037,49.4035439 29.5666586,49.4035439 29.141134,49.8458524 C26.7304092,52.3535885 23.5253646,53.7346557 20.1161597,53.7346557 L7.97259598,53.7346557 C4.77724223,53.7346557 2.17760102,51.0304009 2.17760102,47.7064612 L2.17760102,44.7251548 C2.17760102,42.9655486 2.83635827,41.3111677 4.03246544,40.0669273 L4.92521762,39.1382494 C8.56591304,35.3510468 13.4065266,33.2653443 18.5552862,33.2653443 L19.9143949,33.2653443 C20.5156606,33.2653443 21.0032499,32.758247 21.0032499,32.1326722 C21.0032499,31.5070973 20.5156606,31 19.9143949,31 L18.5553951,31 C15.7237189,31 12.9615116,31.5715464 10.3455376,32.6987817 C7.72945467,33.826017 5.3877632,35.4535536 3.38546783,37.5364245 L2.49271565,38.4651024 C0.885130193,40.1372663 0,42.3604752 0,44.7251548 L0,47.7064612 C0,52.2795118 3.57656187,56 7.97270486,56 L20.1162686,56 C24.1070309,56 27.8590073,54.383337 30.6811016,51.4477906 C31.1062995,51.0054821 31.1062995,50.2882741 30.6811016,49.8459656 Z" id="Path"></path>
                                            <path d="M16,36 C14.3458,36 13,37.3458 13,39 C13,40.6542 14.3458,42 16,42 C17.6542,42 19,40.6542 19,39 C19,37.3458 17.6542,36 16,36 Z M16,40 C15.4486,40 15,39.5514 15,39 C15,38.4486 15.4486,38 16,38 C16.5514,38 17,38.4486 17,39 C17,39.5514 16.5514,40 16,40 Z" id="Shape"></path>
                                            <path d="M9,45 C7.3458,45 6,46.3458 6,48 C6,49.6542 7.3458,51 9,51 C10.6542,51 12,49.6542 12,48 C12,46.3458 10.6542,45 9,45 Z M9,49 C8.4486,49 8,48.5514 8,48 C8,47.4486 8.4486,47 9,47 C9.5514,47 10,47.4486 10,48 C10,48.5514 9.5514,49 9,49 Z" id="Shape"></path>
                                            <path d="M21,47 C19.3458,47 18,48.3458 18,50 C18,51.6542 19.3458,53 21,53 C22.6542,53 24,51.6542 24,50 C24,48.3458 22.6542,47 21,47 Z M21,51 C20.4486,51 20,50.5514 20,50 C20,49.4486 20.4486,49 21,49 C21.5514,49 22,49.4486 22,50 C22,50.5514 21.5514,51 21,51 Z" id="Shape"></path>
                                            <path d="M49.4809596,21.0393254 C48.8577841,20.8789546 48.2129422,21.223565 48.0419525,21.8093918 C47.8709628,22.3952185 48.2381222,23.0005142 48.8620003,23.1611051 C51.6855554,23.8878338 53.6576755,26.3185859 53.6576755,29.0722796 C53.6576755,30.2239143 53.3159304,31.3458506 52.6694488,32.3166555 C52.3264154,32.8317563 52.4929546,33.5104178 53.0414099,33.8324795 C53.2345346,33.9458831 53.4490915,34 53.6613061,34 C54.0515374,34 54.4332191,33.8167504 54.6553886,33.4831393 C55.5350486,32.1621143 56,30.6369408 56,29.0721696 C56,25.3305119 53.3190925,22.0272894 49.4809596,21.0393254 Z" id="Path"></path>
                                            <path d="M24.707,19.293 C24.521,19.107 24.263,19 24,19 C23.737,19 23.479,19.107 23.293,19.293 C23.1071,19.479 23,19.737 23,20 C23,20.263 23.107,20.521 23.293,20.707 C23.479,20.893 23.737,21 24,21 C24.263,21 24.521,20.893 24.707,20.707 C24.8929,20.521 25,20.263 25,20 C25,19.737 24.893,19.479 24.707,19.293 Z" id="Path"></path>
                                            <path d="M33.0088215,48 L32.9911785,48 C32.4438497,48 32,48.4477 32,49 C32,49.5523 32.4438497,50 32.9911785,50 L33.0088215,50 C33.5561503,50 34,49.5523 34,49 C34,48.4477 33.5562494,48 33.0088215,48 Z" id="Path"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="block box p-5 mt-5">
                    <div class="flex items-center">
                        <div class="w-9/12">
                            <h3 class="text-lg font-semibold text-theme-44">Je suis un Coach</h3>
                            <p class="text-sm text-theme-44 mt-2">Je veux recruter des jouers pour monéquipe maintenant</p>
                        </div>
                        <div class="w-3/12 text-right">
                            <svg class="inline-block" width="44px" height="57px" viewBox="0 0 44 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.12" class="svg-op">
                                    <g transform="translate(-905.000000, -440.000000)" fill="#000000" fill-rule="nonzero" class="svg-fillable">
                                        <g transform="translate(905.000000, 440.000000)">
                                            <path d="M8,25.3513514 C5.794412,25.3513514 4,27.1457633 4,29.3513514 C4,31.5569394 5.794412,33.3513514 8,33.3513514 C10.205588,33.3513514 12,31.5569394 12,29.3513514 C12,27.1457633 10.205588,25.3513514 8,25.3513514 Z M8,31.1578277 C7.00392092,31.1578277 6.19352362,30.3474304 6.19352362,29.3513514 C6.19352362,28.3552723 7.00392092,27.544875 8,27.544875 C8.99607908,27.544875 9.80647638,28.3552723 9.80647638,29.3513514 C9.80647638,30.3474304 8.99607908,31.1578277 8,31.1578277 Z" id="Shape"></path>
                                            <path d="M29.0000548,16.3513514 C26.7943874,16.3513514 25,18.1457633 25,20.3513514 C25,22.5569394 26.7943874,24.3513514 29.0000548,24.3513514 C31.2057223,24.3513514 33,22.5569394 33,20.3513514 C33,18.1457633 31.2057223,16.3513514 29.0000548,16.3513514 Z M29.0000548,22.1578277 C28.0039894,22.1578277 27.1934935,21.3474304 27.1934935,20.3513514 C27.1934935,19.3552723 28.0039894,18.544875 29.0000548,18.544875 C29.9961203,18.544875 30.8065065,19.3552723 30.8065065,20.3513514 C30.8065065,21.3474304 29.9961203,22.1578277 29.0000548,22.1578277 Z" id="Shape"></path>
                                            <path d="M35.9999452,31.3513514 C33.7943874,31.3513514 32,33.1457633 32,35.3513514 C32,37.5569394 33.7942777,39.3513514 35.9999452,39.3513514 C38.2056126,39.3513514 40,37.5569394 40,35.3513514 C39.9998903,33.1457633 38.2055029,31.3513514 35.9999452,31.3513514 Z M35.9999452,37.1578277 C35.0038797,37.1578277 34.1934935,36.3474304 34.1934935,35.3513514 C34.1934935,34.3552723 35.0038797,33.544875 35.9999452,33.544875 C36.9960106,33.544875 37.8065065,34.3552723 37.8065065,35.3513514 C37.8065065,36.3474304 36.9960106,37.1578277 35.9999452,37.1578277 Z" id="Shape"></path>
                                            <path d="M26,43.3513514 C23.794412,43.3513514 22,45.1457633 22,47.3513514 C22,49.5569394 23.7943023,51.3513514 26,51.3513514 C28.2056977,51.3513514 30,49.5569394 30,47.3513514 C30,45.1457633 28.2056977,43.3513514 26,43.3513514 Z M26,49.1578277 C25.0039209,49.1578277 24.1935236,48.3474304 24.1935236,47.3513514 C24.1935236,46.3552723 25.0039209,45.544875 26,45.544875 C26.9960791,45.544875 27.8064764,46.3552723 27.8064764,47.3513514 C27.8064764,48.3474304 26.9960791,49.1578277 26,49.1578277 Z" id="Shape"></path>
                                            <path d="M8.00005484,38.3513514 C5.79449707,38.3513514 4,40.1457633 4,42.3513514 C4,44.5569394 5.7943874,46.3513514 8.00005484,46.3513514 C10.2057223,46.3513514 12,44.5569394 12,42.3513514 C12,40.1457633 10.2057223,38.3513514 8.00005484,38.3513514 Z M8.00005484,44.1579374 C7.00398942,44.1579374 6.19349355,43.3475401 6.19349355,42.351461 C6.19349355,41.355382 7.00398942,40.5449846 8.00005484,40.5449846 C8.99612026,40.5449846 9.80650645,41.355382 9.80650645,42.351461 C9.80650645,43.3475401 8.99612026,44.1579374 8.00005484,44.1579374 Z" id="Shape"></path>
                                            <path d="M29.9527021,35.0920168 C29.7785388,34.5397202 29.1750679,34.2285435 28.6047453,34.3972021 L18.7648981,37.3054906 C18.1945755,37.4740446 17.8732426,38.0584418 18.0472979,38.6107385 C18.1892847,39.0614008 18.6170807,39.3513514 19.0796445,39.3513514 C19.1840561,39.3513514 19.2901953,39.3366081 19.3952547,39.3055532 L29.2351019,36.3972647 C29.8054245,36.2287107 30.1267574,35.6443135 29.9527021,35.0920168 Z" id="Path"></path>
                                            <path d="M15.707,39.6443514 C15.5211,39.4583514 15.2631,39.3513514 15,39.3513514 C14.737,39.3513514 14.479,39.4583514 14.2931,39.6443514 C14.1061,39.8303514 14,40.0883514 14,40.3513514 C14,40.6143514 14.1061,40.8723514 14.2931,41.0583514 C14.479,41.2443514 14.7361,41.3513514 15,41.3513514 C15.2631,41.3513514 15.5211,41.2443514 15.707,41.0583514 C15.893,40.8723514 16,40.6143514 16,40.3513514 C16,40.0883514 15.8931,39.8303514 15.707,39.6443514 Z" id="Path"></path>
                                            <path d="M42.9108911,9.22024198 L36.2544752,9.22024198 L25.2105842,2.9542576 C24.8984455,1.4693826 23.5838911,0.351351351 22.0138317,0.351351351 C20.4437723,0.351351351 19.1292178,1.4693826 18.8170792,2.9542576 L7.77307921,9.22024198 L1.08910891,9.22024198 C0.48770297,9.22024198 0,9.70991385 0,10.313992 L0,14.688992 L0,55.2576014 C0,55.8616795 0.48770297,56.3513514 1.08910891,56.3513514 L42.9108911,56.3513514 C43.512297,56.3513514 44,55.8616795 44,55.2576014 L44,14.688992 L44,10.313992 C44,9.70991385 43.512297,9.22024198 42.9108911,9.22024198 Z M22.0138317,2.53885135 C22.6143663,2.53885135 23.1029406,3.0295076 23.1029406,3.63260135 C23.1029406,4.2356951 22.6143663,4.72635135 22.0138317,4.72635135 C21.413297,4.72635135 20.9247228,4.2356951 20.9247228,3.63260135 C20.9247228,3.0295076 21.413297,2.53885135 22.0138317,2.53885135 Z M19.1792079,5.26130448 C19.7433663,6.24764823 20.802198,6.91385135 22.0138317,6.91385135 C23.2254653,6.91385135 24.284297,6.24764823 24.8484554,5.26130448 L31.8262673,9.22024198 L12.201396,9.22024198 L19.1792079,5.26130448 Z M41.8217822,13.595242 L13.8861386,13.595242 C13.2847327,13.595242 12.7970297,14.0849139 12.7970297,14.688992 C12.7970297,15.2930701 13.2847327,15.782742 13.8861386,15.782742 L18.3669505,15.782742 C18.3513762,15.7966326 18.3353663,15.8100857 18.3205545,15.8249607 L14.6073465,19.5538826 C14.1820495,19.980992 14.1820495,20.6735545 14.6073465,21.1006639 C15.0327525,21.5278826 15.7221584,21.5278826 16.1476733,21.1006639 L18.0015545,19.2388826 L18.0015545,23.4537576 C18.0015545,23.8044139 18.1689505,24.1338514 18.4517921,24.3395857 L28.3769505,31.5596482 C28.5699406,31.7000857 28.7934257,31.7676795 29.0149505,31.7676795 C29.3522475,31.7676795 29.6847525,31.6108357 29.8977822,31.3155232 C30.2506535,30.8262889 30.1417426,30.1424764 29.6546931,29.7881014 L20.1797723,22.8955076 L20.1797723,19.238992 L22.0335446,21.1007732 C22.2462475,21.3143826 22.5249505,21.4211326 22.8036535,21.4211326 C23.0823564,21.4211326 23.3610594,21.3142732 23.5737624,21.1007732 C23.9990594,20.6736639 23.9990594,19.9811014 23.5737624,19.553992 L19.8606634,15.8250701 C19.8458515,15.8101951 19.8298416,15.796742 19.8141584,15.7828514 L41.8217822,15.7828514 L41.8217822,54.1638514 L21.3270396,54.1638514 L14.6173663,47.4256951 C14.1919604,46.9985857 13.5025545,46.9985857 13.0770396,47.4256951 C12.6517426,47.8528045 12.6517426,48.545367 13.0770396,48.9724764 L18.246495,54.1638514 L2.17821782,54.1638514 L2.17821782,15.782742 L5.17642574,15.782742 C5.77783168,15.782742 6.26553465,15.2930701 6.26553465,14.688992 C6.26553465,14.0849139 5.77783168,13.595242 5.17642574,13.595242 L2.17821782,13.595242 L2.17821782,11.407742 L8.05711881,11.407742 C8.05820792,11.407742 8.05929703,11.407742 8.06038614,11.407742 C8.06147525,11.407742 8.06267327,11.407742 8.06376238,11.407742 L35.963901,11.407742 C35.9649901,11.407742 35.9661881,11.407742 35.9672772,11.407742 C35.9683663,11.407742 35.9694554,11.407742 35.9705446,11.407742 L41.8217822,11.407742 L41.8217822,13.595242 Z" id="Shape"></path>
                                            <path d="M10.7069,13.6443514 C10.521,13.4573514 10.2639,13.3513514 10,13.3513514 C9.737,13.3513514 9.479,13.4573514 9.293,13.6443514 C9.107,13.8303514 9,14.0873514 9,14.3513514 C9,14.6143514 9.1069,14.8723514 9.293,15.0583514 C9.479,15.2443514 9.737,15.3513514 10,15.3513514 C10.264,15.3513514 10.521,15.2443514 10.7069,15.0583514 C10.8939,14.8713514 11,14.6143514 11,14.3513514 C11,14.0873514 10.8939,13.8303514 10.7069,13.6443514 Z" id="Path"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="section-body py-20">
        <div class="dev-container">
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-12 sm:col-span-5">
                <h1 class="text-theme-44 text-2xl md:text-5xl font-bold leading-tight py-5">
                    Mieux vivre votre passion et votre vie de sportif.
                </h1>
                <p class="text-theme-44 mt-3 text-md border-b border-gray-400 pb-5">
                    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse,.
                </p>

                <a href="#" class="block text-theme-44 font-semibold mt-5 py-5">
                    Découvrir le concept
                </a>
            </div>
            <div class="col-span-12 sm:col-span-7 groupe-svg  py-5">

                    <svg  class="circle-svg" width="510px" height="510px" viewBox="0 0 510 510" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Oval</title>
                        <g id="PUBLIC-PAGES" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="HOME--1-VALIDATE" transform="translate(-647.000000, -834.000000)" fill="#01C974">
                                <circle id="Oval" cx="902" cy="1089" r="255"></circle>
                            </g>
                        </g>
                    </svg>


                  <div class="bg-gray-400 football-img flex items-center justify-center">
                     <svg width="110px" height="110px" viewBox="0 0 51 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Group 3</title>
                            <defs>
                                <linearGradient x1="49.9997341%" y1="19.6949708%" x2="49.9997341%" y2="98.1354089%" id="linearGradient-1">
                                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                                    <stop stop-color="#D1DBE4" offset="100%"></stop>
                                </linearGradient>
                                <path d="M0.334875,9.606875 C0.334875,14.6877917 4.45391667,18.807625 9.53483333,18.807625 L9.53483333,18.807625 C14.61575,18.807625 18.7347917,14.6877917 18.7347917,9.606875 L18.7347917,9.606875 C18.7347917,4.52595833 14.61575,0.407708333 9.53483333,0.407708333 L9.53483333,0.407708333 C4.45391667,0.407708333 0.334875,4.52595833 0.334875,9.606875" id="path-2"></path>
                                <linearGradient x1="49.9987389%" y1="112.225931%" x2="49.9987389%" y2="-16.122835%" id="linearGradient-4">
                                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                                    <stop stop-color="#D1DBE4" offset="100%"></stop>
                                </linearGradient>
                            </defs>
                            <g id="JOUEUR-DASHBOARD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="JOUEUR-EDIT-/-Password-&gt;Confirm" transform="translate(-696.000000, -401.000000)">
                                    <g id="Group-3" transform="translate(696.000000, 401.000000)">
                                        <polygon id="Fill-18" fill="url(#linearGradient-1)" points="5 29 47 29 47 5 5 5"></polygon>
                                        <g id="Group-17">
                                            <polygon id="Fill-10" fill="#01D374" points="42.925639 30.7337391 38.5205179 30.7337391 34.1153968 30.7337391 29.7102757 30.7337391 25.3051546 30.7337391 20.8992183 30.7337391 16.4940972 30.7337391 12.0889761 30.7337391 7.68385502 30.7337391 3.27873392 30.7337391 3.27873392 42.2857391 7.68385502 42.2857391 12.0889761 44.4517391 16.4940972 47.5512174 20.8992183 47.5512174 25.3051546 51.0563043 29.7102757 51.0563043 34.1153968 48.3888696 34.1153968 48.9753913 38.5205179 44.7879565 42.925639 44.7879565 47.3307601 39.928913 47.3307601 30.7337391"></polygon>
                                            <polygon id="Fill-11" fill="#01B874" points="8.45972369 44.2972609 10.9231352 44.2972609 10.9231352 28.4925652 8.45972369 28.4925652"></polygon>
                                            <polygon id="Fill-12" fill="#01B874" points="16.2828079 48.0782609 18.7462195 48.0782609 18.7462195 30.0546957 16.2828079 30.0546957"></polygon>
                                            <polygon id="Fill-13" fill="#01B874" points="24.1067073 51.1405652 26.5701189 51.1405652 26.5701189 31.6168261 24.1067073 31.6168261"></polygon>
                                            <polygon id="Fill-14" fill="#01B874" points="31.9297916 48.9836522 34.3932031 48.9836522 34.3932031 33.1789565 31.9297916 33.1789565"></polygon>
                                            <polygon id="Fill-15" fill="#01B874" points="39.753691 45.1555652 42.2171025 45.1555652 42.2171025 28.870087 39.753691 28.870087"></polygon>
                                            <path d="M5.02831042,5.77443043 L5.02831042,38.4288217 C5.02831042,41.1276478 6.74014505,43.4993435 9.28833316,44.331213 C18.3186684,47.2795174 23.0498532,49.6346913 25.1953526,50.8721696 C27.3269943,49.7181261 32.0337244,47.503387 41.3518109,44.3915174 C43.8706532,43.5505609 45.562924,41.1813435 45.562924,38.497387 L45.562924,5.77443043 L5.02831042,5.77443043 Z M25.0975335,57.0000826 L23.6587773,55.8931261 C23.6375831,55.8766043 19.7117757,53.0869087 7.74605168,49.1811696 C3.11268596,47.6686043 0.000407579673,43.3473435 0.000407579673,38.4288217 L0.000407579673,0.679952174 L50.591642,0.679952174 L50.591642,38.497387 C50.591642,43.3861696 47.5103397,47.6999957 42.9250684,49.2307348 C30.2909137,53.450387 26.6161754,55.9162565 26.5811235,55.9410391 L25.0975335,57.0000826 Z" id="Fill-16" fill="#01D374"></path>
                                        </g>
                                        <g id="Group-38" transform="translate(1.000000, 2.000000)" fill="#00204F">
                                            <path d="M5.31567406,5.62408107 L5.31567406,36.4246056 C5.31567406,38.9688917 6.90815379,41.2057641 9.27903502,41.9905439 C17.6800953,44.7714303 22.0813071,46.9924738 24.0767718,48.1596463 C26.0608848,47.0716182 30.4393932,44.9822045 39.1072182,42.0471947 C41.4505311,41.2540839 43.0259832,39.0197108 43.0259832,36.4887543 L43.0259832,5.62408107 L5.31567406,5.62408107 Z M23.9867691,53.9396912 L22.6480807,52.8949843 C22.6278099,52.8808216 18.9758095,50.24906 7.84466809,46.5659268 C3.5342698,45.1379941 0.637967567,41.062471 0.637967567,36.4246056 L0.637967567,0.817929593 L47.7028789,0.817929593 L47.7028789,36.4887543 C47.7028789,41.0991273 44.8373884,45.1679857 40.571586,46.6117473 C28.8177234,50.5922971 25.3992435,52.9183111 25.3668101,52.9408048 L23.9867691,53.9396912 Z" id="Fill-20"></path>
                                            <polygon id="Fill-22" points="10.5025038 17.3427097 37.9565624 17.3427097 37.9565624 15.6598485 10.5025038 15.6598485"></polygon>
                                            <polygon id="Fill-24" points="10.5025038 23.6417756 37.9565624 23.6417756 37.9565624 21.9589144 10.5025038 21.9589144"></polygon>
                                            <polygon id="Fill-25" points="38.7756678 28.517241 37.1385922 28.517241 37.1385922 11.0438104 11.3216092 11.0438104 11.3216092 28.2506491 9.68453355 28.2506491 9.68453355 9.36178233 38.7756678 9.36178233"></polygon>
                                            <polygon id="Fill-26" points="46.3740827 29.2527013 44.737007 29.2527013 44.737007 4.2330547 3.85471175 4.2330547 3.85471175 28.8394839 2.2176361 28.8394839 2.2176361 2.55019355 46.3740827 2.55019355"></polygon>
                                            <polygon id="Fill-27" points="23.358291 28.3038008 24.9953667 28.3038008 24.9953667 3.68904067 23.358291 3.68904067"></polygon>
                                            <polygon id="Fill-28" points="9.95932549 10.8317865 2.4931578 4.02036438 3.57967656 2.76238401 11.0458442 9.57380617"></polygon>
                                            <polygon id="Fill-29" points="10.0931943 17.2297414 2.47053551 12.7035114 3.28947875 11.2472533 10.9129484 15.7734833"></polygon>
                                            <polygon id="Fill-30" points="10.2887677 23.6113675 2.80313998 21.5311178 3.23044997 19.9082398 10.7168885 21.9884895"></polygon>
                                            <polygon id="Fill-31" points="16.2730536 10.5307043 12.8594387 3.86590771 14.3084006 3.08362721 17.7220155 9.74759074"></polygon>
                                            <polygon id="Fill-32" points="38.5880406 10.9806614 37.500711 9.72268107 44.9676896 2.91125891 46.0542083 4.16923927"></polygon>
                                            <polygon id="Fill-33" points="38.4541718 17.3786163 37.6344177 15.9223582 45.2578874 11.3961282 46.0768306 12.8523863"></polygon>
                                            <polygon id="Fill-34" points="38.258193 23.7602424 37.830883 22.1373644 45.3165107 20.0571147 45.7446316 21.6799927"></polygon>
                                            <polygon id="Fill-35" points="32.274718 10.6788295 30.825756 9.89654895 34.2385601 3.23175231 35.6875221 4.01486592"></polygon>
                                            <polygon id="Fill-36" points="24.6256259 32.3654112 1.50710149 30.5667492 1.85981467 25.7747604 24.6183284 27.544264 46.4735721 25.7755935 46.8408803 30.5659161"></polygon>
                                            <path d="M24.173099,12.6127035 C18.0658906,12.6127035 13.1141219,17.6996095 13.1141219,23.9753487 C13.1141219,30.2510878 18.0658906,35.3371607 24.173099,35.3371607 C30.2803074,35.3371607 35.2320761,30.2510878 35.2320761,23.9753487 C35.2320761,17.6996095 30.2803074,12.6127035 24.173099,12.6127035" id="Fill-37"></path>
                                        </g>
                                        <g id="Group-41" transform="translate(16.000000, 14.000000)">
                                            <mask id="mask-3" fill="white">
                                                <use xlink:href="#path-2"></use>
                                            </mask>
                                            <g id="Clip-40"></g>
                                            <path d="M0.334875,9.606875 C0.334875,14.6877917 4.45391667,18.807625 9.53483333,18.807625 L9.53483333,18.807625 C14.61575,18.807625 18.7347917,14.6877917 18.7347917,9.606875 L18.7347917,9.606875 C18.7347917,4.52595833 14.61575,0.407708333 9.53483333,0.407708333 L9.53483333,0.407708333 C4.45391667,0.407708333 0.334875,4.52595833 0.334875,9.606875" id="Fill-39" fill="url(#linearGradient-4)" mask="url(#mask-3)"></path>
                                        </g>
                                        <g id="Group-46" transform="translate(16.000000, 14.000000)" fill="#00204F">
                                            <path d="M16.4479833,15.0633079 L14.677025,15.0633079 C14.0421083,15.0633079 13.4451917,14.7533079 13.0675667,14.2279395 L12.3994,13.2979395 C12.01465,12.7619658 11.9046083,12.0669132 12.1049,11.4330447 L12.4959833,10.1914132 C12.6851917,9.59099211 13.1309,9.11293947 13.7048583,8.89430789 L14.7427333,8.49783421 C15.3713167,8.25799211 16.073525,8.35751842 16.615025,8.76296579 L18.0621917,9.84633421 C18.0621917,9.87243947 18.0645667,9.89854474 18.0645667,9.92465 C18.0645667,11.8417553 17.4636917,13.6169132 16.4479833,15.0633079 M6.90919167,18.2856763 L6.35660833,16.5358079 C6.15869167,15.9060184 6.264775,15.2174921 6.6424,14.68315 L7.30106667,13.7515184 C7.6779,13.2179921 8.27956667,12.9030974 8.920025,12.9030974 L10.17165,12.9030974 C10.805775,12.9030974 11.4026917,13.2122816 11.7803167,13.7384658 L12.4413583,14.6578605 C12.8261083,15.1930184 12.93615,15.8888868 12.73665,16.5227553 L12.183275,18.2775184 C11.3488583,18.5589658 10.459025,18.7139658 9.53435833,18.7139658 C8.6184,18.7139658 7.73648333,18.5622289 6.90919167,18.2856763 M1.00573333,9.91404474 L2.4814,8.80865 C3.01973333,8.40565 3.71560833,8.30449211 4.341025,8.53780789 L5.36069167,8.91878158 C5.94098333,9.13415 6.39144167,9.61546579 6.58223333,10.2199658 L6.97173333,11.4542553 C7.16965,12.0832289 7.06356667,12.7717553 6.68594167,13.3060974 L6.055775,14.1977553 C5.67894167,14.7320974 5.077275,15.0469921 4.43681667,15.0469921 L2.61044167,15.0469921 C1.60185833,13.6038605 1.00494167,11.8352289 1.00494167,9.92465 C1.00494167,9.92057105 1.00573333,9.91649211 1.00573333,9.91404474 M6.91948333,1.55872895 L8.3334,2.61762368 C8.85194167,3.00593947 9.15831667,3.62593947 9.15831667,4.28672895 L9.15831667,5.45167632 C9.15831667,6.11246579 8.85194167,6.73246579 8.3334,7.12159737 L7.33669167,7.86804474 C6.79915,8.27022895 6.10248333,8.37138684 5.47785833,8.13807105 L4.42810833,7.74649211 C3.847025,7.52949211 3.39656667,7.04899211 3.205775,6.44449211 L2.66348333,4.72399211 C3.71481667,3.25312368 5.1984,2.13141316 6.91948333,1.55872895 M16.4305667,4.75988684 L15.9175667,6.38738684 C15.7275667,6.98862368 15.28265,7.46586053 14.7079,7.68530789 L13.5813583,8.11522895 C12.9535667,8.35507105 12.2505667,8.25472895 11.7090667,7.84928158 L10.7361083,7.12159737 C10.216775,6.73246579 9.9104,6.11246579 9.9104,5.45167632 L9.9104,4.28672895 C9.9104,3.62593947 10.216775,3.00593947 10.7361083,2.61762368 L12.1492333,1.55872895 C13.8845667,2.13630789 15.37765,3.27270263 16.4305667,4.75988684 M9.53435833,0.36115 C4.417025,0.36115 0.25365,4.65057105 0.25365,9.92465 C0.25365,15.1979132 4.417025,19.48815 9.53435833,19.48815 C14.6516917,19.48815 18.8158583,15.1979132 18.8158583,9.92465 C18.8158583,4.65057105 14.6516917,0.36115 9.53435833,0.36115" id="Fill-42"></path>
                                            <path d="M11.0725667,27.3432237 C10.910275,27.4786447 10.7495667,27.6140658 10.5856917,27.7462237 C10.573025,27.7568289 10.5627333,27.7674342 10.5556083,27.7772237 C10.5342333,27.7959868 10.5120667,27.8131184 10.4899,27.8318816 C10.4899,27.8318816 10.4891083,27.8326974 10.4891083,27.8326974 C10.4408167,27.6662763 10.392525,27.4974079 10.3489833,27.3456711 C10.3418583,27.3211974 10.3347333,27.2967237 10.3284,27.2730658 L11.04565,27.2730658 C11.0725667,27.2730658 11.0994833,27.2681711 11.13115,27.2820395 C11.1153167,27.3146711 11.0915667,27.3269079 11.0725667,27.3432237 L11.0725667,27.3432237 Z M10.4487333,29.4414342 C10.345025,29.3565921 10.240525,29.2709342 10.1368167,29.1860921 C10.1320667,29.1811974 10.126525,29.1754868 10.1186083,29.1689605 C10.1154417,29.1665132 9.99510833,29.0678026 9.85260833,28.9511447 C9.99194167,28.8369342 10.1328583,28.7210921 10.2674417,28.6101447 C10.34265,28.8695658 10.4131083,29.11675 10.473275,29.3280395 C10.4796083,29.34925 10.4859417,29.3704605 10.4914833,29.3916711 C10.4994,29.4177763 10.5057333,29.4446974 10.5128583,29.4740658 C10.4796083,29.4773289 10.46615,29.4553026 10.4487333,29.4414342 L10.4487333,29.4414342 Z M8.53844167,29.4373553 C8.51944167,29.4528553 8.50360833,29.4748816 8.46798333,29.4773289 C8.47510833,29.4487763 8.48065,29.4243026 8.48698333,29.3998289 C8.55031667,29.1754868 8.61206667,28.9511447 8.67856667,28.7276184 C8.68331667,28.7104868 8.68569167,28.6958026 8.68569167,28.68275 C8.69281667,28.6558289 8.69994167,28.6305395 8.70785833,28.6036184 L8.70865,28.6028026 C8.820275,28.6949868 8.94615,28.7994079 9.07281667,28.9030132 C9.09181667,28.9193289 9.110025,28.9340132 9.129025,28.9503289 L9.12981667,28.9503289 C8.89073333,29.14775 8.68015,29.3206974 8.53844167,29.4373553 L8.53844167,29.4373553 Z M7.89719167,27.3383289 C7.87819167,27.3236447 7.85444167,27.3122237 7.84415,27.2844868 C7.8679,27.2681711 7.89085833,27.2746974 7.913025,27.2746974 C8.10935833,27.2738816 8.30569167,27.2730658 8.502025,27.2730658 L8.51310833,27.2730658 L8.64769167,27.2730658 C8.59465,27.4574342 8.540025,27.6458816 8.487775,27.8261711 C8.29065,27.6638289 8.09431667,27.5006711 7.89719167,27.3383289 L7.89719167,27.3383289 Z M9.48131667,25.9147763 C9.50981667,25.9531184 9.513775,25.9792237 9.5209,26.0036974 C9.575525,26.1921447 9.6729,26.5062237 9.741775,26.7338289 C9.74731667,26.7517763 9.75285833,26.7705395 9.7584,26.7876711 L9.23194167,26.7876711 L9.23035833,26.7876711 C9.32931667,26.4434079 9.418775,26.1350395 9.48131667,25.9147763 L9.48131667,25.9147763 Z M9.88348333,27.2730658 C9.9579,27.5324868 10.0434,27.8294342 10.1296917,28.1288289 C10.1114833,28.1426974 10.093275,28.1581974 10.0750667,28.1736974 C9.88506667,28.3286974 9.68556667,28.4934868 9.49081667,28.6533816 C9.490025,28.6525658 9.490025,28.6525658 9.48923333,28.6525658 C9.45519167,28.6240132 9.42669167,28.6011711 9.40769167,28.5848553 C9.39106667,28.5718026 9.380775,28.5636447 9.37998333,28.5628289 C9.20265,28.4151711 9.024525,28.2691447 8.8464,28.1223026 C8.85273333,28.1010921 8.85906667,28.0798816 8.86460833,28.0586711 C8.93744167,27.8049605 9.015025,27.5365658 9.091025,27.2730658 L9.09260833,27.2730658 L9.2074,27.2730658 L9.88348333,27.2730658 Z M12.4405667,26.7933816 C12.4176083,26.7827763 12.392275,26.7876711 12.3669417,26.7876711 C11.969525,26.7868553 11.5721083,26.7876711 11.1746917,26.7876711 L10.2033167,26.7876711 C10.1574,26.6318553 10.0703167,26.3610132 10.0339,26.2345658 C9.86210833,25.6357763 9.69031667,25.0378026 9.518525,24.4390132 C9.5114,24.4153553 9.50981667,24.3884342 9.48923333,24.3688553 C9.46548333,24.3941447 9.46310833,24.4235132 9.45598333,24.4496184 C9.28735833,25.0394342 9.11873333,25.6284342 8.9509,26.2174342 C8.94773333,26.2264079 8.94535833,26.2353816 8.943775,26.2435395 C8.905775,26.3756974 8.85035833,26.5682237 8.787025,26.7876711 L8.69360833,26.7876711 L8.68648333,26.7876711 C8.67460833,26.7868553 8.663525,26.7868553 8.65165,26.7868553 C7.970025,26.7876711 7.28760833,26.7876711 6.60598333,26.7884868 C6.58381667,26.7884868 6.56006667,26.7827763 6.535525,26.7999079 C6.549775,26.8300921 6.57273333,26.8431447 6.59173333,26.8586447 C7.17756667,27.3415921 7.7634,27.8245395 8.34923333,28.3074868 C8.30410833,28.4649342 8.26531667,28.5995395 8.23760833,28.6966184 C8.23048333,28.7210921 8.226525,28.7365921 8.22573333,28.7488289 C8.04365,29.3875921 7.86156667,30.0255395 7.680275,30.6634868 C7.67394167,30.6863289 7.66285833,30.7083553 7.6684,30.74425 C7.7064,30.7271184 7.73015,30.7018289 7.75706667,30.6806184 C8.14815,30.35675 8.53923333,30.0345132 8.93031667,29.7106447 C9.05698333,29.6062237 9.25885833,29.4398026 9.49160833,29.2480921 C9.50981667,29.2635921 9.52723333,29.2774605 9.54385833,29.2913289 C9.54623333,29.2970395 9.55098333,29.3011184 9.55731667,29.3060132 C9.56444167,29.3117237 9.57156667,29.31825 9.57869167,29.3247763 C10.1384,29.7856974 10.6981083,30.2466184 11.2586083,30.7075395 C11.27365,30.7205921 11.2863167,30.7401711 11.3148167,30.7360921 C11.3164,30.7075395 11.3053167,30.6814342 11.2981917,30.6545132 C11.1010667,29.9668026 10.9047333,29.2790921 10.7076083,28.5913816 C10.68465,28.5130658 10.6577333,28.4176184 10.62765,28.3140132 C10.62765,28.3140132 10.62765,28.3140132 10.62765,28.3131974 C10.7828167,28.18675 10.915025,28.07825 11.0068583,28.0031974 C11.01715,27.9942237 11.0258583,27.98525 11.0329833,27.9762763 C11.4929417,27.5961184 11.9536917,27.2151447 12.41365,26.8341711 C12.425525,26.8243816 12.4437333,26.8178553 12.4405667,26.7933816 L12.4405667,26.7933816 Z" id="Fill-44"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div class="play-svg flex items-center">
                            <svg class="inline-block"width="38px" height="38px" viewBox="0 0 38 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Shape</title>
                                <g id="PUBLIC-PAGES" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="HOME--1-VALIDATE" transform="translate(-759.000000, -1278.000000)" fill="#01CF74" fill-rule="nonzero">
                                        <g id="PRESENTATION-VIDEO" transform="translate(735.000000, 938.000000)">
                                            <path d="M43,340 C32.5065939,340 24,348.506594 24,359 C24,369.493406 32.5065939,378 43,378 C53.4934061,378 62,369.493406 62,359 C61.9888672,348.511286 53.4887939,340.011212 43,340 Z M51.0016406,359.605387 C50.8701142,359.869235 50.6562844,360.083145 50.3923569,360.214671 L50.3923569,360.22143 L39.5352254,365.650036 C38.864711,365.985054 38.049629,365.713175 37.7145309,365.04266 C37.6192657,364.852051 37.5702017,364.64164 37.5713733,364.428606 L37.5713733,353.571474 C37.5710764,352.821917 38.1783722,352.214064 38.9279296,352.213666 C39.1387376,352.213666 39.346683,352.262572 39.5352254,352.356803 L50.3923569,357.785408 C51.0631893,358.119711 51.3360231,358.934555 51.0016406,359.605387 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <h3 class="text-base font-bold text-theme-51 inline-block ml-2">Vidéo de présentation</h3>
                            <div class="lining"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="text-center">
        <h1 class="inline-block lg:w-5/12 text-theme-44 text-2xl md:text-4xl font-bold leading-tight">
            un dashboard complet pour garantir
            la meilleure experience sportive
        </h1>
        <div class="mt-5">
            <a href="#" class="inline-block py-3 px-10 bg-theme-43 text-white rounded-full zoom-in">
                Inscrivez-vous maintenant
            </a>
        </div>
    </div>
    <div class="section-body py-20">
        <div class="dev-container">
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-12 sm:col-span-6">
                <div class="block box zoom-in p-5 mt-5">
                    <div class="flex items-center gap-3">
                        <div class="md:w-2/12 w-full ">
                            <svg width="50px" viewBox="0 0 69 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-225.000000, -2562.000000)" fill="#01D374" fill-rule="nonzero">
                                        <g transform="translate(225.000000, 2562.000000)">
                                            <path d="M65.5483692,0 L3.45163067,0 C1.48656404,0.0612828053 -0.0563265472,1.66648232 0.00157794912,3.58891071 L0.00157794912,50.4110893 C-0.0563265472,52.3330028 1.48656404,53.9387172 3.45163067,54 L65.5483692,54 C67.513436,53.9387172 69.0563264,52.3330028 68.9984221,50.4110893 L68.9984221,3.58891071 C69.0563264,1.66648232 67.513436,0.0612828053 65.5483692,0 Z M3.45163067,2.24995708 L65.5483692,2.24995708 C66.2411171,2.31484477 66.7522555,2.91016428 66.6985622,3.58891071 L66.6985622,8.99982837 L2.30143765,8.99982837 L2.30143765,3.58891071 C2.2477445,2.91016428 2.75888282,2.31484477 3.45163067,2.24995708 Z M65.5483692,51.7500429 L3.45163067,51.7500429 C2.75888282,51.6851553 2.2477445,51.0893208 2.30143765,50.4110893 L2.30143765,11.2497854 L66.6985622,11.2497854 L66.6985622,50.4110893 C66.7522555,51.0893208 66.2411171,51.6851553 65.5483692,51.7500429 Z" id="Shape"></path>
                                            <path d="M6.09113617,7 L15.9088638,7 C16.5116104,7 17,6.55230026 17,6.00022893 C17,5.44769974 16.5116104,5 15.9088638,5 L6.09113617,5 C5.48838957,5 5,5.44769974 5,6.00022893 C5,6.55230026 5.48838957,7 6.09113617,7 Z" id="Path"></path>
                                            <path d="M60.3672099,7.6331942 C60.8568229,8.1222686 61.6506505,8.1222686 62.1402635,7.6331942 L62.5076168,7.26581437 L62.8749701,7.6331942 C63.3668791,8.10849186 64.1492268,8.10160348 64.6325261,7.61769533 C65.1163991,7.13378717 65.123287,6.35195704 64.6480237,5.86001252 L64.2806704,5.49263269 L64.6480237,5.12525285 C65.123287,4.63273419 65.1163991,3.85090392 64.6325261,3.3669959 C64.1492268,2.88366174 63.3668791,2.87677337 62.8749701,3.35207103 L62.5076168,3.71945086 L62.1402635,3.35207103 C61.6483545,2.87677337 60.8660067,2.88366174 60.3821335,3.3669959 C59.8988344,3.85090392 59.8919466,4.63273419 60.3672099,5.12525285 L60.7345632,5.49263269 L60.3672099,5.86001252 C59.8775967,6.34966091 59.8775967,7.14354566 60.3672099,7.6331942 Z" id="Path"></path>
                                            <path d="M22.9915506,14.0000071 C15.726682,13.9958944 9.17316723,18.3654683 6.38128347,25.0756092 C3.58939972,31.78575 5.10784689,39.517604 10.2299034,44.6720015 C10.2299034,44.6786963 10.2299034,44.685391 10.2391686,44.6920857 C10.262846,44.7234992 10.298877,44.7358586 10.323584,44.7652124 C16.0952271,50.5056529 24.9995039,51.654565 32.038407,47.5677132 C39.0767953,43.4808614 42.496647,35.175324 40.3780272,27.3136961 C38.2594075,19.4525831 31.1293976,13.9928046 22.9915506,14.0000071 Z M13.180838,44.2970988 L17.3861645,42.2892064 C18.5417284,41.7129479 19.2963195,40.5573411 19.3596311,39.2673254 L19.3596311,37.152318 C19.3596311,36.9283032 19.2922017,36.7094384 19.1671228,36.5235318 C18.4176791,35.3205472 17.8607436,34.0073578 17.5163906,32.6323712 C17.451535,32.3393496 17.2667476,32.0875262 17.0073248,31.938183 C16.8070957,31.7218931 16.6413533,31.4767643 16.5147303,31.2115516 L16.5147303,29.5734119 L17.2343197,28.6140112 C17.3799878,28.4188352 17.4592558,28.1819461 17.4592558,27.9388773 L17.4592558,24.5863818 C17.4592558,24.5328242 17.4556528,24.4792667 17.4479318,24.426739 C17.3933706,23.6491248 17.6471315,22.8812953 18.1541384,22.2890725 C19.0199106,21.2869287 20.6896878,20.7534133 22.9766234,20.7466571 C25.2640739,20.7400238 26.9256153,21.2802339 27.8006527,22.2679585 C28.3220719,22.8612112 28.5861274,23.6377954 28.5346546,24.426739 C28.5269337,24.4782367 28.5233305,24.5307642 28.5238452,24.5827769 L28.5238452,27.9352724 C28.5238452,28.1788563 28.6025987,28.4157453 28.7482667,28.6104064 L29.4683708,29.5698072 L29.4683708,31.2383303 C29.3643959,31.483974 29.2295371,31.7151983 29.0679126,31.9268536 C28.8090045,32.0787716 28.6216436,32.3280202 28.5470081,32.6184668 C28.1887575,33.9970583 27.6081445,35.3076729 26.8288465,36.499843 C26.6950173,36.6898692 26.6234702,36.9164588 26.6234702,37.149228 L26.6234702,39.2637207 C26.6301616,40.5686705 27.3996796,41.7489962 28.5897304,42.2825116 L32.8032925,44.2914342 C27.0723129,48.896352 18.9118178,48.896352 13.180838,44.2914342 L13.180838,44.2970988 Z M34.5605732,42.6435101 L29.5502126,40.2504153 C29.152328,40.0830479 28.8887874,39.6988756 28.8754044,39.2673254 L28.8754044,37.4885974 C29.6413194,36.259349 30.2327416,34.9291653 30.6331999,33.5366694 C31.0743217,33.0546516 31.4176451,32.4922976 31.6451548,31.8794758 C31.6966277,31.7497018 31.7228787,31.6111732 31.7228787,31.4710996 L31.7228787,29.1985092 C31.7228787,28.9554404 31.6436107,28.7185514 31.4979427,28.5238903 L30.7783533,27.5639745 L30.7783533,24.6394242 C30.8792398,23.2515632 30.4303971,21.8791513 29.5291088,20.8198452 C28.1964785,19.2877907 25.9970463,18.5091466 22.9766234,18.500392 C19.9700982,18.5091466 17.7752987,19.2877907 16.4550219,20.8208752 C15.5542481,21.8827562 15.107979,23.2572279 15.2124688,24.6461189 L15.2124688,27.5706692 L14.4928794,28.530585 C14.3466967,28.7252461 14.2679432,28.9621352 14.2679432,29.2057189 L14.2679432,31.4777943 C14.2679432,31.6369219 14.3019153,31.7939897 14.366771,31.939213 C14.6246497,32.5345256 14.9849592,33.0793705 15.431743,33.5490288 C15.8147005,34.9307102 16.3798715,36.2547143 17.112844,37.4865375 L17.112844,39.2673254 C17.0510766,39.6860013 16.7968012,40.0516344 16.4256823,40.25505 L11.4220131,42.6435101 C5.63750179,36.3716139 5.89795401,26.6313525 12.0098323,20.6777117 C18.1217105,14.7245859 27.8608758,14.7245859 33.9727541,20.6777117 C40.0846324,26.6313525 40.3450846,36.3716139 34.5605732,42.6435101 Z" id="Shape"></path>
                                            <path d="M20.1306822,7 L43.8698352,7 C44.4939098,7 45,6.55230026 45,6.00022893 C45,5.44769974 44.4939098,5 43.8698352,5 L20.1306822,5 C19.5060903,5 19,5.44769974 19,6.00022893 C19,6.55230026 19.5060903,7 20.1306822,7 Z" id="Path"></path>
                                            <path d="M60.1110829,16 L47.8889171,16 C45.7410102,16 44,17.7912634 44,20 C44,22.2092597 45.7410102,24 47.8889171,24 L60.1110829,24 C62.2589898,24 64,22.2092597 64,20 C64,17.7912634 62.2589898,16 60.1110829,16 Z M60.1110829,21.7143604 L47.8889171,21.7143604 C46.9683129,21.7143604 46.2221657,20.9469003 46.2221657,20 C46.2221657,19.0536229 46.9683129,18.2861627 47.8889171,18.2861627 L60.1110829,18.2861627 C61.0316871,18.2861627 61.7778343,19.0536229 61.7778343,20 C61.7778343,20.9469003 61.0316871,21.7143604 60.1110829,21.7143604 L60.1110829,21.7143604 Z" id="Shape"></path>
                                            <path d="M47.0001526,27 L45.9998474,27 C45.4477338,27 45,27.4476997 45,27.9997711 C45,28.5523003 45.4477338,29 45.9998474,29 L47.0001526,29 C47.5522662,29 48,28.5523003 48,27.9997711 C48,27.4476997 47.5522662,27 47.0001526,27 L47.0001526,27 Z" id="Path"></path>
                                            <path d="M61.9093633,27 L52.0911362,27 C51.4888889,27 51,27.4476997 51,27.9997711 C51,28.5523003 51.4888889,29 52.0911362,29 L61.9093633,29 C62.5116106,29 63,28.5523003 63,27.9997711 C63,27.4476997 62.5116106,27 61.9093633,27 Z" id="Path"></path>
                                            <path d="M47.0001526,32 L45.9998474,32 C45.4477338,32 45,32.4476997 45,32.9997711 C45,33.5523003 45.4477338,34 45.9998474,34 L47.0001526,34 C47.5522662,34 48,33.5523003 48,32.9997711 C48,32.4476997 47.5522662,32 47.0001526,32 L47.0001526,32 Z" id="Path"></path>
                                            <path d="M61.9093633,32 L52.0911362,32 C51.4888889,32 51,32.4476997 51,32.9997711 C51,33.5523003 51.4888889,34 52.0911362,34 L61.9093633,34 C62.5116106,34 63,33.5523003 63,32.9997711 C63,32.4476997 62.5116106,32 61.9093633,32 L61.9093633,32 Z" id="Path"></path>
                                            <path d="M47.0001526,36 L45.9998474,36 C45.4477338,36 45,36.4476998 45,37.0002289 C45,37.5523003 45.4477338,38 45.9998474,38 L47.0001526,38 C47.5522662,38 48,37.5523003 48,37.0002289 C48,36.4476998 47.5522662,36 47.0001526,36 L47.0001526,36 Z" id="Path"></path>
                                            <path d="M61.9093633,36 L52.0911362,36 C51.4888889,36 51,36.4476998 51,37.0002289 C51,37.5523003 51.4888889,38 52.0911362,38 L61.9093633,38 C62.5116106,38 63,37.5523003 63,37.0002289 C63,36.4476998 62.5116106,36 61.9093633,36 Z" id="Path"></path>
                                            <path d="M47.0001526,41 L45.9998474,41 C45.4477338,41 45,41.4476997 45,42.0002289 C45,42.5523002 45.4477338,43 45.9998474,43 L47.0001526,43 C47.5522662,43 48,42.5523002 48,42.0002289 C48,41.4476997 47.5522662,41 47.0001526,41 L47.0001526,41 Z" id="Path"></path>
                                            <path d="M61.9093633,41 L52.0911362,41 C51.4888889,41 51,41.4476997 51,42.0002289 C51,42.5523002 51.4888889,43 52.0911362,43 L61.9093633,43 C62.5116106,43 63,42.5523002 63,42.0002289 C63,41.4476997 62.5116106,41 61.9093633,41 L61.9093633,41 Z" id="Path"></path>
                                            <path d="M47.0001526,45 L45.9998474,45 C45.4477338,45 45,45.4476997 45,46.0002289 C45,46.5523003 45.4477338,47 45.9998474,47 L47.0001526,47 C47.5522662,47 48,46.5523003 48,46.0002289 C48,45.4476997 47.5522662,45 47.0001526,45 L47.0001526,45 Z" id="Path"></path>
                                            <path d="M61.9093633,45 L52.0911362,45 C51.4888889,45 51,45.4476997 51,46.0002289 C51,46.5523003 51.4888889,47 52.0911362,47 L61.9093633,47 C62.5116106,47 63,46.5523003 63,46.0002289 C63,45.4476997 62.5116106,45 61.9093633,45 Z" id="Path"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="md:w-10/12">
                            <h3 class="text-lg font-semibold text-theme-44">Fiches détaillées</h3>
                            <p class="text-sm text-theme-44 mt-2">
                                Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <div class="block box zoom-in p-5 mt-5 ">
                    <div class="flex items-center gap-3">
                        <div class="md:w-2/12 w-full ">
                            <svg width="50px" viewBox="0 0 67 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-763.000000, -2549.000000)" fill="#01D374" fill-rule="nonzero">
                                        <g transform="translate(763.000000, 2549.000000)">
                                            <path d="M53.2597656,39.5195313 C47.9398086,39.5195313 43.3165469,42.5586094 41.0344902,46.9918633 L26.4987617,38.5995898 C27.1314668,37.0220801 27.4804688,35.3010176 27.4804688,33.5 C27.4804688,31.6989824 27.1314668,29.9779199 26.4987617,28.4004102 L41.0344902,20.0081367 C43.3165469,24.4413906 47.9398086,27.4804688 53.2597656,27.4804688 C60.8361309,27.4804688 67,21.3165996 67,13.7402344 C67,6.16386914 60.8361309,0 53.2597656,0 C45.6834004,0 39.5195313,6.16386914 39.5195313,13.7402344 C39.5195313,14.5867637 39.597,15.4153652 39.7442168,16.2200195 L24.5310293,25.0033008 C22.0127715,21.8119023 18.1117227,19.7597656 13.7402344,19.7597656 C6.16386914,19.7597656 0,25.9236348 0,33.5 C0,41.0763652 6.16386914,47.2402344 13.7402344,47.2402344 C18.1117227,47.2402344 22.0127715,45.1880977 24.5310293,41.9966992 L39.7442168,50.7799805 C39.597,51.5845039 39.5195313,52.4132363 39.5195313,53.2597656 C39.5195313,60.8361309 45.6834004,67 53.2597656,67 C60.8361309,67 67,60.8361309 67,53.2597656 C67,45.6834004 60.8361309,39.5195313 53.2597656,39.5195313 Z M48.1421172,22.1110469 C49.3712793,20.5687383 51.2510742,19.6289063 53.2597656,19.6289063 C55.268457,19.6289063 57.148252,20.5687383 58.3774141,22.1110469 C56.8864023,23.0260156 55.1338027,23.5546875 53.2597656,23.5546875 C51.3857285,23.5546875 49.6331289,23.0260156 48.1421172,22.1110469 Z M51.296875,13.7402344 C51.296875,12.6578965 52.1774277,11.7773438 53.2597656,11.7773438 C54.3421035,11.7773438 55.2226563,12.6578965 55.2226563,13.7402344 C55.2226563,14.8225723 54.3421035,15.703125 53.2597656,15.703125 C52.1774277,15.703125 51.296875,14.8225723 51.296875,13.7402344 Z M53.2597656,3.92578125 C58.6714551,3.92578125 63.0742188,8.32854492 63.0742188,13.7402344 C63.0742188,15.8591094 62.3970215,17.8216074 61.2508242,19.4275137 C60.3917324,18.4133535 59.3516621,17.5741523 58.1923789,16.951 C58.7960332,16.0267402 59.1484375,14.9241191 59.1484375,13.7402344 C59.1484375,10.4932207 56.5067793,7.8515625 53.2597656,7.8515625 C50.012752,7.8515625 47.3710938,10.4932207 47.3710938,13.7402344 C47.3710938,14.9243809 47.7236289,16.0272637 48.3275449,16.9515234 C47.1683926,17.5748066 46.1281914,18.413877 45.2692305,19.4282988 C44.1227715,17.8222617 43.4453125,15.859502 43.4453125,13.7402344 C43.4453125,8.32854492 47.8480762,3.92578125 53.2597656,3.92578125 L53.2597656,3.92578125 Z M3.92578125,33.5 C3.92578125,28.0883105 8.32854492,23.6855469 13.7402344,23.6855469 C19.1519238,23.6855469 23.5546875,28.0883105 23.5546875,33.5 C23.5546875,35.618875 22.8774902,37.581373 21.731293,39.1872793 C20.8722012,38.1731191 19.8321309,37.333918 18.6727168,36.7107656 C19.276502,35.7865059 19.6289063,34.6838848 19.6289063,33.4998691 C19.6289063,30.2529863 16.987248,27.6113281 13.7402344,27.6113281 C10.4932207,27.6113281 7.8515625,30.2529863 7.8515625,33.4998691 C7.8515625,34.6838848 8.2039668,35.7865059 8.80775195,36.7107656 C7.64846875,37.333918 6.60826758,38.1731191 5.74917578,39.1872793 C4.60297852,37.581373 3.92578125,35.618875 3.92578125,33.5 Z M11.7773438,33.4998691 C11.7773438,32.4176621 12.6578965,31.5371094 13.7402344,31.5371094 C14.8225723,31.5371094 15.703125,32.4176621 15.703125,33.4998691 C15.703125,34.582207 14.8225723,35.4628906 13.7402344,35.4628906 C12.6578965,35.4628906 11.7773438,34.5823379 11.7773438,33.4998691 Z M8.62258594,41.8708125 C9.85174805,40.3285039 11.731543,39.3886719 13.7402344,39.3886719 C15.7489258,39.3886719 17.6287207,40.3285039 18.8578828,41.8708125 C17.3668711,42.7857813 15.6142715,43.3144531 13.7402344,43.3144531 C11.8661973,43.3144531 10.1135977,42.7857813 8.62258594,41.8708125 Z M48.1419863,61.6305781 C49.3711484,60.0882695 51.2509434,59.1484375 53.2597656,59.1484375 C55.2685879,59.1484375 57.1483828,60.0882695 58.3775449,61.6305781 C56.8864023,62.5455469 55.1338027,63.0742188 53.2597656,63.0742188 C51.3857285,63.0742188 49.6331289,62.5455469 48.1419863,61.6305781 Z M53.2597656,55.2225254 C52.1774277,55.2225254 51.296875,54.3419727 51.296875,53.2596348 C51.296875,52.1772969 52.1774277,51.296875 53.2597656,51.296875 C54.3421035,51.296875 55.2226563,52.1774277 55.2226563,53.2596348 C55.2226563,54.3421035 54.3421035,55.2225254 53.2597656,55.2225254 Z M61.2508242,58.9470449 C60.3917324,57.9327539 59.3516621,57.0936836 58.192248,56.4705313 C58.7960332,55.5462715 59.1484375,54.4436504 59.1484375,53.2596348 C59.1484375,50.012752 56.5067793,47.3710938 53.2597656,47.3710938 C50.012752,47.3710938 47.3710938,50.012752 47.3710938,53.2596348 C47.3710938,54.4436504 47.723498,55.5462715 48.3272832,56.4705313 C47.1678691,57.0936836 46.1277988,57.9328848 45.268707,58.9470449 C44.1225098,57.3411387 43.4453125,55.3786406 43.4453125,53.2597656 C43.4453125,47.8480762 47.8480762,43.4453125 53.2597656,43.4453125 C58.6714551,43.4453125 63.0742188,47.8480762 63.0742188,53.2597656 C63.0742188,55.3786406 62.3970215,57.3411387 61.2508242,58.9470449 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="md:w-10/12">
                            <h3 class="text-lg font-semibold text-theme-44">Esprit communautaire</h3>
                            <p class="text-sm text-theme-44 mt-2">
                                Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-12 sm:col-span-6">
                <div class="block box zoom-in p-5 mt-5">
                    <div class="flex items-center gap-3">
                        <div class="md:w-2/12 w-full ">
                            <svg width="50px" viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-231.000000, -2755.000000)" fill="#01D374" fill-rule="nonzero">
                                        <g transform="translate(231.000000, 2755.000000)">
                                            <path d="M6.91015625,33.9301955 L6.91015625,39.1952767 C6.91015625,39.8825534 7.32419922,40.502088 7.95914063,40.7651268 C8.59408203,41.0281656 9.32497266,40.8827126 9.81094922,40.3968498 L16.1101797,34.0964923 L20.6758672,34.0964923 C20.5623594,34.6546285 20.5039062,35.2238662 20.5039062,35.7968423 L20.5039062,42.5937111 C20.5039062,47.2784529 24.3152539,51.089797 29,51.089797 L41.8816641,51.089797 L48.1791953,57.4923342 C48.6652852,57.9865798 49.3990078,58.1333922 50.0344023,57.8732987 C50.6727422,57.6119591 51.0898438,56.990612 51.0898438,56.3007298 L51.0898438,50.9206683 C55.0390547,50.127587 58,46.650762 58,42.5937111 L58,35.7968423 C58,31.1004325 54.0879453,27.3007563 49.390625,27.3007563 L40.7235898,27.3007563 C40.8355117,26.7515693 40.8945312,26.1833511 40.8945312,25.6015391 L40.8945312,8.49608598 C40.8945312,3.81134417 37.0831836,0 32.3984375,0 L8.609375,0 C3.91296094,0 0,3.79876996 0,8.49608598 L0,25.6015391 C0,29.7736837 3.06969531,33.1630556 6.91015625,33.9301955 Z M49.390625,30.6991907 C52.215293,30.6991907 54.6015625,33.0335753 54.6015625,35.7968423 L54.6015625,42.5937111 C54.6015625,45.3886968 52.2446328,47.6913627 49.390625,47.6913627 C48.4522031,47.6913627 47.6914062,48.4521588 47.6914062,49.3905798 L47.6914062,52.1499953 L43.8051797,48.1989755 C43.4857266,47.8743117 43.0492539,47.6913627 42.59375,47.6913627 L29,47.6913627 C26.1891523,47.6913627 23.9023438,45.4045561 23.9023438,42.5937111 L23.9023438,35.7968423 C23.9023438,35.2150303 24.0031641,34.6403551 24.1944961,34.0976251 L32.3984375,34.0976251 C35.1720156,34.0976251 37.6390547,32.7613607 39.190668,30.6991907 L49.390625,30.6991907 Z M3.3984375,8.49608598 C3.3984375,5.73281898 5.78470703,3.39843439 8.609375,3.39843439 L32.3984375,3.39843439 C35.2092852,3.39843439 37.4960938,5.6852409 37.4960938,8.49608598 L37.4960938,25.6015391 C37.4960938,28.4123842 35.2092852,30.6991907 32.3984375,30.6991907 L15.40625,30.6991907 C14.9556172,30.6991907 14.5234492,30.8781749 14.2047891,31.1968348 L10.3085938,35.0930265 L10.3085938,32.3984079 C10.3085938,31.4599869 9.54779687,30.6991907 8.609375,30.6991907 C5.78470703,30.6991907 3.3984375,28.3648061 3.3984375,25.6015391 L3.3984375,8.49608598 Z" id="Shape"></path>
                                            <circle id="Oval" cx="32.5" cy="39.5" r="1.5"></circle>
                                            <circle id="Oval" cx="39.5" cy="39.5" r="1.5"></circle>
                                            <circle id="Oval" cx="45.5" cy="39.5" r="1.5"></circle>
                                            <circle id="Oval" cx="10.5" cy="16.5" r="2.5"></circle>
                                            <circle id="Oval" cx="20.5" cy="16.5" r="2.5"></circle>
                                            <circle id="Oval" cx="30.5" cy="16.5" r="2.5"></circle>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="md:w-10/12">
                            <h3 class="text-lg font-semibold text-theme-44">Messagerie instantée</h3>
                            <p class="text-sm text-theme-44 mt-2">
                                Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <div class="block box zoom-in p-5 mt-5">
                    <div class="flex items-center gap-3">
                        <div class="md:w-2/12 w-full ">
                            <svg width="50px" viewBox="0 0 54 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-769.000000, -2763.000000)" stroke="#01D374" stroke-width="6">
                                        <path d="M772,2766 L772,2796.80918 C772,2801.36542 774.95351,2805.36837 779.349274,2806.77013 C790.702195,2810.38881 794.426478,2812.97293 794.447514,2812.98709 L795.831709,2814 L797.238623,2813.01873 C797.269757,2812.99749 800.68186,2810.74352 812.726457,2806.81592 L812.726877,2806.81592 C817.077204,2805.39668 820,2801.40081 820,2796.87246 L820,2766 L772,2766 Z" id="Fill-1"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="md:w-10/12">
                            <h3 class="text-lg font-semibold text-theme-44">Esprit communautaire</h3>
                            <p class="text-sm text-theme-44 mt-2">
                                Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="section-body py-20">
        <div class="dev-container">
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-12 sm:col-span-5 flex text-center md:text-left">
                <div class="md:w-8/12">
                    <h1 class="text-theme-44 text-2xl md:text-5xl font-light leading-tight">
                        Vous êtes
                        <span class="block font-bold">Joueur ?</span>
                    </h1>
                    <p class="text-theme-44 mt-8 text-md">
                        Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse,.
                    </p>
                    <div class="mt-8">
                        <a href="#" class="font-bold inline-block py-3 px-10 bg-white border-2 border-theme-43 text-theme-44 rounded-full shadow-xl zoom-in">
                            Inscription Joueur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-7">
                <img src="./assets/theme/images/shoot.png">
            </div>
        </div>
    </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="section-body py-20 ">
        <div class="dev-container">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-12 sm:col-span-6">
                    <img class="" src="./assets/theme/images/coaching.png">
                </div>
                <div class="col-span-12 sm:col-span-6 flex text-center md:text-left">
                    <div class="md:w-7/12">
                        <h1 class="text-theme-44 text-2xl md:text-5xl font-light leading-tight">
                            Vous êtes
                            <span class="block font-bold">Coach ?</span>
                        </h1>
                        <p class="text-theme-44 mt-8 text-md">
                            Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse,.
                        </p>
                        <div class="mt-8">
                            <a href="#" class=" font-bold inline-block py-3 px-10 bg-white border-2 border-theme-43 text-theme-44 rounded-full shadow-xl zoom-in">
                                Inscription Coach
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="text-center">
        <h1 class="inline-block lg:w-5/12 text-theme-44 text-2xl md:text-4xl font-bold leading-tight">
            Témoignanges
        </h1>
    </div>




  <div class="section-body py-20">
        <div class="dev-container">
            <div class="carousel relative shadow-2xl bg-white">
            	<div class="carousel-inner relative  w-full">
            	  <!--Slide 1-->
            		<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            		<div class="carousel-item absolute opacity-0 md:px-20 pb-20 px-1">
            			<div class="block h-full w-full">
            			     <div class=" grid grid-cols-12  mt-5 ">
                                    <div class="md:col-span-3 col-span-12 md:text-left text-center relative mb-5">
                                        <div class="flex h-full justify-center items-center">
                                            <img alt="image" src="./assets/theme/images/bg.svg" class="h-full">
                                            <img alt="image" src="./assets/theme/images/profile-12.jpg" class="inline-block w-32 h-32 flex-none image-fit rounded-full overflow-hidden tem-coach absolute">

                                        </div>
                                    </div>
                                    <div class="md:col-span-9 col-span-12  md:text-left flex flex-col justify-center">
                                        <p class="text-base text-theme-44 flex items-center">
                                            Bemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri ductante barbaricos pagos adventans velut mutato repente consilio ad placidiora deverti.
                                        </p>
                                        <a href="#" class="block text-theme-43 font-semibold mt-5">Samir Nasri</a>
                                        <span class="text-xs font-medium">Ex-entraineur du Club Marrakech de Souss Beldi</span>
                                    </div>
                                </div>
            			</div>
            		</div>
                	<label for="carousel-3" class=" control-1 hidden"></label>
    	        	<label for="carousel-2" class="control-1 hidden"></label>


            		<!--Slide 2-->
            		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                	<div class="carousel-item absolute opacity-0 md:px-20 pb-20 px-10">
            			<div class="block h-full w-full">
            			     <div class=" grid grid-cols-12  mt-5 ">
                                    <div class="md:col-span-3 col-span-12 md:text-left text-center relative mb-5">
                                        <div class="flex h-full justify-center items-center">
                                            <img alt="image" src="./assets/theme/images/bg.svg" class="h-full">
                                            <img alt="image" src="./assets/theme/images/profile-12.jpg" class="inline-block w-32 h-32 flex-none image-fit rounded-full overflow-hidden tem-coach absolute">

                                        </div>
                                    </div>
                                    <div class="md:col-span-9 col-span-12  md:text-left flex flex-col justify-center">
                                        <p class="text-base text-theme-44 flex items-center">
                                            Semo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri ductante barbaricos pagos adventans velut mutato repente consilio ad placidiora deverti.
                                        </p>
                                        <a href="#" class="block text-theme-43 font-semibold mt-5">Samir Nasri</a>
                                        <span class="text-xs font-medium">Ex-entraineur du Club Marrakech de Souss Beldi</span>
                                    </div>
                                </div>
            			</div>
            		</div>
                	<label for="carousel-1" class=" control-2 hidden"></label>
    	        	<label for="carousel-3" class=" control-2 hidden"></label>

            		<!--Slide 3-->
            		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            		<div class="carousel-item absolute opacity-0 md:px-20 pb-20 px-1">
            			<div class="block h-full w-full">
            			     <div class=" grid grid-cols-12  mt-5 ">
                                    <div class="md:col-span-3 col-span-12 md:text-left text-center relative mb-5">
                                        <div class="flex h-full justify-center items-center">
                                            <img alt="image" src="./assets/theme/images/bg.svg" class="h-full">
                                            <img alt="image" src="./assets/theme/images/profile-12.jpg" class="inline-block w-32 h-32 flex-none image-fit rounded-full overflow-hidden absolute tem-coach">

                                        </div>
                                    </div>
                                    <div class="md:col-span-9 col-span-12  md:text-left flex flex-col justify-center">
                                        <p class="text-base text-theme-44 flex items-center">
                                            Temo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri ductante barbaricos pagos adventans velut mutato repente consilio ad placidiora deverti.
                                        </p>
                                        <a href="#" class="block text-theme-43 font-semibold mt-5">Samir Nasri</a>
                                        <span class="text-xs font-medium">Ex-entraineur du Club Marrakech de Souss Beldi</span>
                                    </div>
                                </div>
            			</div>
            		</div>
            		<label for="carousel-2" class=" control-3 hidden"></label>
	            	<label for="carousel-1" class=" control-3 hidden"></label>

            		<!-- Add additional indicators for each slide-->
            		<ol class="carousel-indicators">
            			<li class="inline-block mr-3">
            				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-6xl text-theme-53 hover:text-theme-52">•</label>
            			</li>
            			<li class="inline-block mr-3">
            				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-6xl text-theme-53 hover:text-theme-52">•</label>
            			</li>
            			<li class="inline-block mr-3">
            				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-6xl text-theme-53 hover:text-theme-52">•</label>
            			</li>
            		</ol>

            	</div>
            </div>

        </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="section-body py-20">
        <div class="dev-container">
            <div class="dev-survey bg-cover bg-center overflow-hidden rounded" style="background-image: url('./assets/theme/images/survey-bg.png');">
                <div class="grid grid-cols-12">
                    <div class="col-span-12 sm:col-span-6">
                        <div class="survey-left h-full p-10 relative">
                            <h2 class="text-white text-5xl leading-tight font-bold p-10 absolute left-0 bottom-0 w-full md:w-8/12">
                                Kwayri
                                donne la
                                paroles à nos
                                Ultras
                            </h2>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6">
                        <div class="survey-right p-10">
                            <div class="survey-content">
                                <div class="sc-header">
                                    <h3 class="survey-question text-white text-xl font-semibold">
                                        Le Lockdown aura-t-il un impact sur la performance des joueurs professionelle ?
                                    </h3>
                                </div>
                                <div class="sc-body">
                                    <div class="flex flex-col absolute top-0 left-0 justify-center w-full h-full overflow-y-auto overflow-x-hidden">
                                        <div class="mb-3">
                                            <label class="flex items-center text-white text-lg font-medium cursor-pointer">
                                                <input type="radio" class="input border mr-5" id="r1" name="survey">
                                                <span>Oui ! Bien évidemment</span>
                                            </label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="flex items-center text-white text-lg font-medium cursor-pointer">
                                                <input type="radio" class="input border mr-5" id="r2" name="survey">
                                                <span>Pas vraiment</span>
                                            </label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="flex items-center text-white text-lg font-medium cursor-pointer">
                                                <input type="radio" class="input border mr-5" id="r3" name="survey">
                                                <span>Aucun impact</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc-action">
                                    <div class="grid grid-cols-12 gap-5">
                                        <div class="col-span-6">
                                            <a href="#" class="block py-3 px-5 text-center bg-theme-43 text-white rounded-full zoom-in">
                                                Voter
                                            </a>
                                        </div>
                                        <div class="col-span-6">
                                            <a href="#" class="block py-3 px-5 text-center border border-white text-white rounded-full zoom-in">
                                                Discussion
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dev-section px-5">
    <div class="section-body py-20">
        <div class="dev-container">
             <div class="">
                <h1 class="text-theme-44 text-xl font-light leading-tight">
                    Kwayri <span class="font-bold">Magazine</span>
                </h1>
            </div>
            <div class="section-body py-10">
                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-8">

                        <div class="dev-blog-card blog-card-lg rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets//theme/images/survey-bg.png');">
                            <a href="#">
                                <div class="card-wrap flex flex-col">
                                    <div class="flex-1 p-5">
                                        <div class="grid grid-cols-12 gap-5">
                                            <div class="col-span-6">
                                                <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                            </div>
                                            <div class="col-span-6 text-right">
                                                <span class="text-white inline-flex items-center text-lg">
                                                    <i class="mr-2" data-feather="message-square"></i>
                                                    15
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-5">
                                        <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid grid-cols-12 gap-5">
                            <div class="col-span-12 md:col-span-6">
                                <div class="dev-blog-card mt-5 rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png');">
                                    <a href="#">
                                        <div class="card-wrap flex flex-col">
                                            <div class="flex-1 p-5">
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-6">
                                                        <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                                    </div>
                                                    <div class="col-span-6 text-right">
                                                        <span class="text-white inline-flex items-center text-lg">
                                                            <i class="mr-2" data-feather="message-square"></i>
                                                            7
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-5">
                                                <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-6">
                                <div class="dev-blog-card mt-5 rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png');">
                                    <a href="#">
                                        <div class="card-wrap flex flex-col">
                                            <div class="flex-1 p-5">
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-6">
                                                        <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                                    </div>
                                                    <div class="col-span-6 text-right">
                                                        <span class="text-white inline-flex items-center text-lg">
                                                            <i class="mr-2" data-feather="message-square"></i>
                                                            1
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-5">
                                                <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="block p-5 border border-gray-700 text-gray-800 text-center rounded mt-5 zoom-in font-bold">Tout les articles</a>

                    </div>

                        <div class="flex items-center justify-center box col-span-12 md:col-span-4  border add_space_grey">
                          <p>  <span class="font-light">EMPLACEMENT</span><br>
                           <span><strong> PUBLICITAIRE<br>&amp; LIENS EXTERNES</strong></span>
                           </p>
                         </div>

                </div>
            </div>
        </div>
    </div>
</div>
