<footer *ngIf="toshow" class="dev-footer">
	<div class="dev-container">
		<div class="grid grid-cols-12 gap-5">
			<div class="col-span-12 md:col-span-4">
				<div class="footer-logo">
					<a href="" class="">
						<img alt="logo" src="./assets/theme/images/logo-h.svg">
						</a>
					</div>
				</div>
				<div class="col-span-12 md:col-span-8">
					<div class="grid grid-cols-12 gap-5">
						<div class="col-span-12 md:col-span-4">
							<h3 class="footer-title">Kwayria</h3>
							<ul class="footer-list">
								<li>
									<a href="#">
                                Accueil
                            </a>
								</li>
								<li>
									<a href="#">
                                Le Concept
                            </a>
								</li>
								<li>
									<a href="#">
                                Blog
                            </a>
								</li>
								<li>
									<a href="#">
                                A propos de nous
                            </a>
								</li>
								<li>
									<a href="#">
                                Nous Contacter
                            </a>
								</li>
							</ul>
						</div>
						<div class="col-span-12 md:col-span-4">
							<h3 class="footer-title">Nous rejoindre</h3>
							<ul class="footer-list">
								<li>
									<a href="#">
                                Je suis un Joueur
                            </a>
								</li>
								<li>
									<a href="#">
                                Je suis un Coach
                            </a>
								</li>
								<li>
									<a href="#">
                                Mode d’emploi
                            </a>
								</li>
							</ul>
						</div>
						<div class="col-span-12 md:col-span-4">
							<h3 class="footer-title">Légal</h3>
							<ul class="footer-list">
								<li>
									<a href="#">
                                Terms & conditions
                            </a>
								</li>
								<li>
									<a href="#">
                                License Agreement
                            </a>
								</li>
								<li>		
									<a href="#/politiques-confidentialite">
                                Privacy policy
                            </a>
								</li>
								<li>
									<a href="#">
                                Copyright information
                            </a>
								</li>
								<li>
									<a href="#">
                                Cookies policy
                            </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>
</footer>
<footer *ngIf="showInRegistre" class="dev-footer footer-light">
          <div class="dev-container">
              <div class="grid grid-cols-12 gap-5">

                  <div class="col-span-12 md:col-span-8">
                      <div class="grid grid-cols-12 gap-5">

                          <div class="col-span-12 md:col-span-4">
                              <h3 class="footer-title">Kwayria</h3>
                              <ul class="footer-list">
                                  <li>
                                      <a href="#">
                                          Accueil
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Le Concept
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Blog
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          A propos de nous
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Nous Contacter
                                      </a>
                                  </li>
                              </ul>
                          </div>

                          <div class="col-span-12 md:col-span-4">
                              <h3 class="footer-title">Nous rejoindre</h3>
                              <ul class="footer-list">
                                  <li>
                                      <a href="#">
                                          Je suis un Joueur
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Je suis un Coach
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Mode d’emploi
                                      </a>
                                  </li>
                              </ul>
                          </div>

                          <div class="col-span-12 md:col-span-4">
                              <h3 class="footer-title">Légal</h3>
                              <ul class="footer-list">
                                  <li>
                                      <a href="#">
                                          Terms & conditions
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          License Agreement
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#/politiques-confidentialite" >
                                          Privacy policy
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Copyright information
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          Cookies policy
                                      </a>
                                  </li>
                              </ul>
                          </div>

                      </div>
                  </div>
                  <div class="col-span-12 md:col-span-4">

                  </div>
              </div>
          </div>
      </footer>
