<div class="gradient">
<div class="container ">
	<div class="row ">
	<div class="col-md-6 col-sm-12 gradient_child ">
		<div class="container">
			<div class="row">
			<span class="medium-headings mt-5">Compréhension écrite</span><br>
			<p class="card-a mb-4">Lisez les documents. Pour chaque question, choisissez la bonne réponse et cliquez sur le bouton correspondant.</p>
			<div class="zoom_container">
						<a href="assets/images/adds.png" class="swipebox zoom_link" title="My Caption">
							<svg width="40px"  height="40px" viewBox="-7 -7 29 31" class="bi bi-zoom-in zoom_icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
							  <path d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z"></path>
							  <path fill-rule="evenodd" d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z"></path>
							</svg>
						</a>
						<img src="assets/images/adds.png" class="zoom_image mb-5" alt="add image" />


							</div>
			</div>
		</div>

	</div>
	<div class="col-md-6 col-sm-12 mt-5">
		<div class="container mt-4">
				<a href="/#/mes-examens" class=" btn outline_btn mb-4 mt-3"><svg width="23px" height="23px" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/></svg> Revenir aux résultats</a><br>

			<div class="questions_row">

				<h4>
					<span class="medium-headings-wrong">Question 1 / 10 </span><span class="bar"> | </span><span class="medium-headings-wrong"> Mauvaise réponse</span>
				</h4><h1 class="headings mb-3">Quand pouvez-vous aller dans ce salon de coiffure ?</h1><br>
			<br>
				<label class="lb_container right_answer_wrong">A  - Le dimanche à 13 heures.
				  <input checked="checked" type="radio" name="radio1">
				  <span class="checkmark"></span>
				</label>
				<label class="lb_container">B  - Le jeudi à 9 heures.
				  <input disabled type="radio"  name="radio">
				  <span class="checkmark"></span>
				</label>
				<label class="lb_container">C  - Le lundi à 15 heures.
				  <input disabled type="radio" name="radio">
				  <span class="checkmark"></span>
				</label>
				<label class="lb_container right_answer_right">D  - Le mercredi à 16 heures.
				  <input disabled type="radio" checked="checked" name="radio">
				  <span class="checkmark"></span>
				</label>
			</div>
			<div class="col-lg-6 col-sm-12 pl-0 my-4 pr-0 float-right">
				<button class="btn btn-primary w-100 py-2">Question suivante<svg
								width="20px"
								height="20px"
								viewBox="0 0 16 16"
								class="bi bi-arrow-right-short"
								fill="currentColor"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"
								/>
								<path
									fill-rule="evenodd"
									d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"
								/></svg
						></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
