<div class="px-5 py-10 bg-theme-44">
    <div class="dev-container text-center">
        <!-- BEGIN: Breadcrumb -->
        <div class="breadcrumb breadcrumb--light inline-flex m-0 p-0">
            <a href="" class="">Kwayria </a>
            <i data-feather="chevron-right" class="breadcrumb__icon"></i>
            <a href="" class="breadcrumb--active">Magazine</a>
        </div>
        <!-- END: Breadcrumb -->
    </div>
</div>
<div class="dev-section px-5">
    <div class="dev-container">
        <div class="section-body">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-12 md:col-span-8 mt-10">
                    <h1 class="text-theme-44 text-xl font-semibold leading-tight">
                        Conseils Pratiques
                    </h1>
                    <div class="mt-5">
                        <div class="dev-blog-card blog-card-lg rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png') ;">
                            <a href="#">
                                <div class="card-wrap flex flex-col">
                                    <div class="flex-1 p-5">
                                        <div class="grid grid-cols-12 gap-5">
                                            <div class="col-span-6">
                                                <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                            </div>
                                            <div class="col-span-6 text-right">
                                                <span class="text-white inline-flex items-center text-lg">
                                                    <i class="mr-2" data-feather="message-square"></i>
                                                    15
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-5">
                                        <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid grid-cols-12 gap-5">
                            <div class="col-span-12 md:col-span-6">
                                <div class="dev-blog-card mt-5 rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png') ;">
                                    <a href="#">
                                        <div class="card-wrap flex flex-col">
                                            <div class="flex-1 p-5">
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-6">
                                                        <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                                    </div>
                                                    <div class="col-span-6 text-right">
                                                        <span class="text-white inline-flex items-center text-lg">
                                                            <i class="mr-2" data-feather="message-square"></i>
                                                            7
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-5">
                                                <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-6">
                                <div class="dev-blog-card mt-5 rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png') ;">
                                    <a href="#">
                                        <div class="card-wrap flex flex-col">
                                            <div class="flex-1 p-5">
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-6">
                                                        <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                                    </div>
                                                    <div class="col-span-6 text-right">
                                                        <span class="text-white inline-flex items-center text-lg">
                                                            <i class="mr-2" data-feather="message-square"></i>
                                                            1
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-5">
                                                <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="block p-5 border border-gray-700 text-gray-800 text-center rounded mt-5 zoom-in">Tout les articles</a>
                    </div>
                    <h1 class="text-theme-44 text-xl font-semibold leading-tight mt-10">
                        Football Maroc
                    </h1>
                    <div class="mt-5">
                        <div class="dev-blog-card blog-card-lg rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png') ;">
                            <a href="#">
                                <div class="card-wrap flex flex-col">
                                    <div class="flex-1 p-5">
                                        <div class="grid grid-cols-12 gap-5">
                                            <div class="col-span-6">
                                                <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                            </div>
                                            <div class="col-span-6 text-right">
                                                <span class="text-white inline-flex items-center text-lg">
                                                    <i class="mr-2" data-feather="message-square"></i>
                                                    15
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-5">
                                        <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid grid-cols-12 gap-5">
                            <div class="col-span-12 md:col-span-6">
                                <div class="dev-blog-card mt-5 rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png') ;">
                                    <a href="#">
                                        <div class="card-wrap flex flex-col">
                                            <div class="flex-1 p-5">
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-6">
                                                        <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                                    </div>
                                                    <div class="col-span-6 text-right">
                                                        <span class="text-white inline-flex items-center text-lg">
                                                            <i class="mr-2" data-feather="message-square"></i>
                                                            7
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-5">
                                                <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-6">
                                <div class="dev-blog-card mt-5 rounded bg-cover bg-center overflow-hidden zoom-in" style="background-image: url('./assets/theme/images/survey-bg.png') ;">
                                    <a href="#">
                                        <div class="card-wrap flex flex-col">
                                            <div class="flex-1 p-5">
                                                <div class="grid grid-cols-12 gap-5">
                                                    <div class="col-span-6">
                                                        <span class="inline-block px-5 py-2 rounded-full bg-white text-theme-44 text-xs">Conseils pratiques</span>
                                                    </div>
                                                    <div class="col-span-6 text-right">
                                                        <span class="text-white inline-flex items-center text-lg">
                                                            <i class="mr-2" data-feather="message-square"></i>
                                                            1
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-5">
                                                <h3 class="text-white text-lg font-semibold">Le guide ultime de “Comment bien choisir les accessoires du football”</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="block p-5 border border-gray-700 text-gray-800 text-center rounded mt-5 zoom-in">Tout les articles</a>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-4 mt-10 px-1">

                        <h2 class="text-theme-47 text-xl font-bold">Catégories</h2>


                         <div class=" box col-span-12 md:col-span-4 bg-white mt-4  border border-gray-300 rounded">
                              <a href="#" class="text-theme-43 block border-theme-43 border-b py-4 px-2 grid grid-cols-1"> <span class="col-start-1">Conseils Pratiques</span><div class="col-end-3 text-xs bg-theme-43 h-6 w-8 text-center rounded-full text-white"> <span class="notification-spot">12</span></div></a>
                              <a href="#" class="text-theme-46 block border-b py-4 px-2 grid grid-cols-1"> <span class="col-start-1"> Football Maroc</span><div class="col-end-3 text-xs bg-gray-300 h-6 w-8 text-center rounded-full text-black"> <span class="notification-spot">129</span></div></a>
                              <a href="#" class="text-theme-46 block border-b py-4 px-2 grid grid-cols-1"> <span class="col-start-1"> Football International</span><div class="col-end-3 text-xs bg-gray-300 h-6 w-8 text-center rounded-full text-black"> <span class="notification-spot">5</span></div></a>
                              <a href="#" class="text-theme-46 block py-4 px-2 grid grid-cols-1"> <span class="col-start-1"> Interviews</span><div class="col-end-3 text-xs bg-gray-300 h-6 w-8 text-center rounded-full text-black"> <span class="notification-spot">104</span></div></a>
                         </div>
                         <div class="flex items-center justify-center box col-span-12 md:col-span-4 mt-5 border add_space_grey">
                            <p>  <span class="font-light">EMPLACEMENT</span><br>
                           <span><strong> PUBLICITAIRE<br>&amp; LIENS EXTERNES</strong></span>
                           </p>
                         </div>
                         <div class="col-span-12 md:col-span-4">
                                <div class="dev-pb pb-xlg mt-8"></div>
                          </div>
                </div>
            </div>
        </div>
    </div>
</div>
